[2018-06-19 00:33] hpreston opened #1 "Missing License file"
This is listed as Open Source, but lacks a license file.

[2018-06-19 15:53] lubnarasheed commented on #1
Added license file

[2018-06-19 15:53] #1 closed

[2018-09-02 18:29] dmfigol opened #2 "IOS-XE: crash when VRF does not have any address-family configured"
[code]

[code]
Result:
[code]

[2018-09-04 13:02] Jb00 commented on #2
Thanks for reporting it,  looking into it.

[2018-09-04 13:36] jeaubin commented on #2
We have fixed it internally,  we will push the fix later today.

[2018-09-04 22:00] karmoham commented on #2
Hi Dmitry,

I have just released a new genie.libs.parser version **3.0.6** which contains the targeted fix.

_pip install genie.libs.parser --upgrade_

Thanks,
Karim Mohamed

[2018-09-04 22:08] dmfigol commented on #2
Thank you!

[2018-09-04 22:08] #2 closed

[2019-02-27 18:49] tylersiemers opened #8 "UnboundLocalError: local variable 'ospf_dict' referenced before assignment"
Running the parser for show ip protocols on a ASR920; IOS-XE 16.09.2.

Running from either ipyats or a robot file hitting the following error. Can this be set to ignore 'ospf' commands during run?

[code]

[2019-02-27 23:49] lubnarasheed commented on #8
Thanks for bringing this to our attention. We've fixed the issue observed and it will be released on PyPI/GitHub on Monday

[2019-02-28 14:33] tylersiemers commented on #8
Thanks @lubnarasheed
Does this fix for across other parser libraries? Seeing the same issue on other profile commands as well. Do you want me to open separate issues for that, or a general message of which ones are failing as well? For example 'vrf' fails as well.

Profile all devices and save to file
    Profile the system for "vrf" on devices "uut"

[2019-02-28 14:36] jeaubin commented on #8
Hi @tylersiemers,

The best would be if you can provide us the device output and error you are seeing,  and we will tackle it. Just like above,  but for all the commands you are seeing an issue. We will get them fixed.

You can send us your device output and error at pyats-support-ext@cisco.com   so they aren't shared publicly if you prefer.

[2019-02-28 14:37] tylersiemers commented on #8
Awesome, I'll get some going and sent to the email above.

Thanks @jeaubin

[2019-03-04 21:38] lubnarasheed commented on #8
Hi @tylersiemers ,

The fix for this issue has been released. Please upgrade your package or pull the latest code if in develop mode.

[2019-03-04 22:59] tylersiemers commented on #8
Thanks, I manually copied over the libs. Is it suppose to go to version 19 when doing a
pip install --upgrade genie
or
pip install --upgrade genie.parser

I still get version 3.1.17

genie.libs.parser            3.1.17.

I can confirm that version 19 works and no errors.

[2019-03-05 00:22] jeaubin commented on #8
Hi @tylersiemers,  we faced some delay with the release process; our released server had some issues. They will be fixed tonight and we will do the external release by tomorrow morning.

Will update here when its ready.

Yes they will switch to 19.x once updated;

[2019-03-06 21:30] jeaubin commented on #8
@tylersiemers   - Just to let you know its been officially released.

Please pip upgrade and you should see all the new 19.x version

[2019-04-29 19:15] tylersiemers opened #13 "IOSXE: bgp parser: add address familes"
Genie learn command for 'bgp' on ios-xe fails if the following address-families are configured on the router.

['rt_filter', 'mvpnv4_unicast']

From:  https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_bgp.py

Classes: ShowBgpAllNeighborsSchema(MetaParser):

Please add ['rt_filter', 'mvpnv4_unicast'] as part of the optional address families.

Optional('

[2019-04-29 19:29] tahigash commented on #13
Hi @tylersiemers ,

Thanks for reporting it. We will look into it.

[2019-04-30 13:26] tylersiemers commented on #13
Sent off to the email above. Thanks @tahigash

[2019-04-30 13:32] pwoconnor opened #15 "Genie Learn KeyError: 'vrf' on IOSXR"
Receiving KeyError when using Genie learn bgp. Genie output files will be sent to pyats-support-ext@cisco.com

[2019-05-03 20:48] tahigash commented on #13
@tylersiemers thanks for the outputs. We fixed the issue and created beta package. Please get 19.4.1b0 for genie.libs.parser by below command.

pip install --upgrade genie.libs.parser --pre

Please let us know if it works.

[2019-05-03 21:02] tahigash commented on #15
Hi @pwoconnor

Thank you for reporting the issue and provided the output.
We fixed the parser and created beta package with fix.

Could you please verify if it works on your environment? 19.4.1b0 will be installed.
pip install genie.libs.parser --upgrade --pre

Regards,

[2019-05-03 21:09] tahigash commented on #15
fix has been confirmed

[2019-05-03 21:09] #15 closed

[2019-05-07 11:56] urskog84 opened #17 "NX-OS: show vlan. Can not parse vlan with name that contains underscore "_""
`genie parse "show vlan" --testbed-file dc.yml --output /dc_vlan`

the file <devicname>_console.txt includes vlan with underscore in the name
[code]

but i don't get any vlan 27 or 28 int the parsted file. <devicname>_parsed.txt

if I remove the _ (undersore) form vlan name it ends upp in the <devicname>_parsed.txt file

[2019-05-07 12:12] tahigash commented on #17
Hi @urskog84 Thanks for reporting this. We will look into this and fix.

[2019-05-07 18:19] urskog84 commented on #17
Thanks for the quick response.
@tahigash have you bin able to reproduce the "bug"? Let me now if you need more information from me,
ex. os version / switch model.. etc

[2019-05-07 18:35] tahigash commented on #17
@urskog84 yes. we saw the issue with given snipped output. we are now working on the fix and beta package with the fix will be provided soon.

[2019-05-07 19:32] tahigash commented on #13
fix is provided.

[2019-05-07 19:32] #13 closed

[2019-05-07 19:33] tahigash commented on #17
@urskog84 We've released beta package 19.4.1b1 with the fix. please check if it works.

pip install genie.libs.parser --upgrade --pre

Regards,

[2019-05-07 19:38] tylersiemers commented on #13
Thanks, @tahigash. Just downloaded 19.4.1b0 and it works. All data that it returned looked good.

[2019-05-07 19:39] tahigash commented on #13
@tylersiemers thanks for the confirmation! and thank you for reporting the issue again.

[2019-05-08 10:55] urskog84 commented on #17
I have update to 19.4.1b1.
but now I get   `Could not parse 'show vlan' `

[code]

+=================================================================+
| Genie Parse Summary for N9KDH2-2                                             |
+=================================================================+
|  Connected to N9KDH2-2                                                       |
|  -  Log: /pyats/g

[2019-05-08 18:10] urskog84 commented on #17
Hi. i have sent you the requested files via Email!

[2019-05-08 18:17] tahigash commented on #17
Hi @urskog84 We received files via email and will look into those.

[2019-05-10 18:34] tahigash commented on #17
@urskog84 we fixed the issue and released beta 19.4.1b2. Could you please get the beta by below command and check?

pip install genie.libs.parser --upgrade --pre

Regards,

[2019-05-13 06:53] urskog84 commented on #17
@tahigash Big thakns. Version 19.4.1b2 works like a charm

[2019-05-13 06:53] #17 closed

[2019-05-20 12:48] martinLennart opened #18 "IOS-CORE: Show mac address-table: cannot parse"
genie parse "show mac address-table" --testbed-file git/testbed.yml --output git/macadress-table/
C6880-X-LE
Version 15.1(02)SY01 [ Rel 1.1]

Getting following error message:

Issue with the parser show mac address-table

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 272, in genie.cli.commands.parser.ParserCommand.parse
  File "src/genie/conf/base/device.py", l

[2019-05-20 13:34] martinLennart commented on #18
Output:
[Error - 13:40:16] (node:14592) UnhandledPromiseRejectionWarning: #<Object>
[Error - 13:40:16] (node:14592) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 3)
[Error - 13:40:16] (node:14592) [DEP0018] Deprec

[2019-05-20 14:38] karmoham commented on #18
Hi Martin,

Thank you for reporting this issue. Can you please send us the full device output at pyats-support-ext@cisco.com so we fix the issue?

Device output is securely handled inside the team and won't be exposed to anyone else.

Thanks,
Karim

[2019-05-22 13:22] jeaubin commented on #18
@martinLennart
The issue has been fixed. We’ve released a beta package for this fix.

Pip install genie.libs.parser --upgrade --pre

Let us know if it works as expected.

[2019-05-22 18:25] urskog84 commented on #18
nice what is the pre-relased version number?

[2019-05-22 18:41] karmoham commented on #18
Hi,

The beta package version is **19.4.1b4**.

Thanks,
Karim

[2019-05-23 20:41] karmoham commented on #18
Hi Peter/Martin,

Can you please confirm the beta package solved the issue?

Thanks,
Karim

[2019-05-24 07:52] martinLennart commented on #18
hello Karim!

I can confirm 19.4.1b4 solved the problem.

[2019-05-24 14:17] karmoham commented on #18
Thanks for the confirmation Martin!

[2019-05-24 14:17] #18 closed

[2019-06-27 15:13] clay584 opened #19 "Docstring Copy/Paste Error"
It's silly, but this looks like a copy/paste error in this docstring.

https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/ios/show_lldp.py#L1

Docstring says the filename is `show_spanning_tree.py`, should be `show_lldp.py`.

[2019-06-27 15:27] clay584 opened #20 "Parse Failure on LLDP neighbor detail"
Someone made an issue on my Ansible parse_genie module, but I think they may have found a parse issue in the genie parser. [Here](https://github.com/clay584/parse_genie/issues/1) is the original issue.

It looks like `System Description` data in `show lldp neighbor detail` is possibly failing to parse therefore `system_description` is not in the parsed output.

See [this](https://github.com/CiscoT

[2019-06-27 15:36] clay584 opened #21 "LLDP Interface Schema Documentation Issue"
[This](https://pubhub.devnetcloud.com/media/pyats-packages/docs/genie/genie_libs/#/parsers/show%20lldp%20interface) documentation does not appear to match the actual schema definition for the [ShowLldpEntrySchema](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_lldp.py#L82) class.

[2019-06-27 16:49] jeaubin commented on #19
Hi @clay584   - Thanks,

Will fix.

[2019-06-27 16:51] jeaubin commented on #20
Thanks to report that one,  seems to be an issue with the parser/different image.

We are on it.

[2019-06-27 16:56] jeaubin commented on #21
@clay584   -

![image](https://user-images.githubusercontent.com/576771/60284893-ab8dcc00-98da-11e9-9408-4a7027643ae9.png)

![image](https://user-images.githubusercontent.com/576771/60284904-b21c4380-98da-11e9-83bd-77c2d69e63ad.png)

The documentation is for show lldp interface, not show lddp entry.

[Here](https://pubhub.devnetcloud.com/media/pyats-packages/docs/genie/genie_libs/#/parsers/show%20

[2019-06-27 20:43] jeaubin commented on #21
ah!

We've updated our doc,  but it is now pointing to a new location.

https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers

On this one you can find show lldp neighbors detail

![image](https://user-images.githubusercontent.com/576771/60299381-96c13080-98fa-11e9-88df-3ed3d6f8f230.png)

And on this one,

![image](https://user-images.githubusercontent.com/576771/60299431-ac365

[2019-06-29 20:15] GPorter73 opened #22 "ImportError: cannot import name get_ops_exclude"
I'm trying to run genie learn today. It's worked in the past, but it's not working at the moment with the following output:

`(genie_lab_router) [gporter@fwdnetcent01 genie_lab_router]$ genie learn
Traceback (most recent call last):
  File "/home/gporter/genie_lab_router/bin/genie", line 6, in <module>
    from genie.cli.__main__ import main
  File "src/genie/cli/__main__.py", line 8, in init geni

[2019-06-29 20:29] GPorter73 commented on #22
closing this out for now. I'll email support.

[2019-06-29 20:29] #22 closed

[2019-06-30 14:09] jeaubin commented on #22
It seems some package arent up to date.  Can you run this command to update all packages

pip install --upgrade genie genie.abstract genie.conf genie.examples genie.harness genie.libs.conf genie.libs.filetransferutils genie.libs.ops genie.libs.parser genie.libs.robot genie.libs.sdk genie.libs.telemetry genie.metaparser genie.ops genie.parsergen genie.predcore genie.telemetry genie.utils unicon gen

[2019-06-30 20:02] GPorter73 commented on #22
Thanks! That resolved it.

[2019-07-04 20:24] jeaubin commented on #21
@clay584  - Can you confirm that its working as expected, then we will close this issue.

[2019-07-04 22:44] clay584 commented on #21
It's all good now. Thanks!

[2019-07-04 23:50] #21 closed

[2019-07-06 14:15] Tachashi opened #23 "Parse Failure on the parser for show ip route"
When parsing `show ip route` on Catalyst 9300 (IOS-XE, 16.6.5), static routing without outgoing interface like below is not displayed in the parsed dictionary data.

[code]
[code]
The static routing with outgoing interface seems to have no problem.

[code]
[code]

[code]

[2019-07-06 17:26] jeaubin commented on #23
Thanks to report it, we will look into it and let you know!

[2019-07-11 17:17] jeaubin commented on #23
It has been fixed, and a beta package has been released

pip install genie.lis.parser --upgrade --pre

Give it a try and let us know.

Thanks

[2019-07-11 17:18] jeaubin commented on #20
It has been fixed, and a beta package has been released

pip install genie.lis.parser --upgrade --pre

Give it a try and let us know.

Thanks

[2019-07-11 17:23] jeaubin commented on #19
It has been fixed and pushed to github

Thanks,

[2019-07-11 17:23] #19 closed

[2019-07-12 01:06] Tachashi commented on #23
Thanks. I'll try!

[2019-07-12 13:15] jeaubin commented on #20
Closing as it was confirmed it works as expected here: https://github.com/clay584/parse_genie/issues/1

[2019-07-12 13:15] #20 closed

[2019-07-12 23:31] Tachashi commented on #23
I upgraded genie parser to the beta package, and the parsing of static routing worked!

[2019-07-13 06:34] tahigash commented on #23
Hi @Tachashi
Thank you for your check. We're glad to hear it worked!

[2019-07-13 06:34] #23 closed

[2019-07-19 20:01] urskog84 opened #24 "Feature Requests: authentication sessions"
Is it possible to add parer for show auth session commnad?
would be grate to have for validating  dot1x config and for finding failing dot1x devices.
Looking for parser compatible with the IOS platform, i believe the output is similar from other platforms.

more related commands can be find hear. ->
https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/security/s1/sec-s1-xe-3se-3850-cr-book/sec-s1-xe-

[2019-07-25 11:35] ledazzler opened #25 "Issue with VTP status parser?"
Hi,

I think there is an issue with the VTP parser.

I'm running a test script, connected to a single IOS switch.     I can successfully connect to the device, and parse 'show version', 'show interface' and 'show vlan'.   However, the parser for 'show vtp staus' throws an error:

[2019-07-25 11:30:58,310] +++ <<switchname>>: executing command 'show vtp status' +++
show vtp status
VTP Version

[2019-07-25 11:58] jeaubin commented on #25
Thanks for reporting it, we will look into it.

[2019-07-31 20:30] jeaubin commented on #25
Hi,

This has been fixed and released.

pip install genie.libs.parser --upgrade

Thanks,

[2019-08-02 20:41] thaing408 commented on #24
Hi Peter,
I am looking into and get back to you.

Thanks,
--Thai.

[2019-08-08 13:26] jeaubin commented on #25
Can we close this issue? Can you confirm it is now working?

[2019-08-12 20:57] jeaubin commented on #25
Closing as it's been fixed - but not confirmation. If any new issue - please comment/raise new issue.

[2019-08-12 20:57] #25 closed

[2019-08-16 20:38] thaixuann commented on #24
Hi Peter,

It has been fixed, and a beta package has been released

pip install genie.libs.parser --upgrade --pre

Give it a try and let us know.

Thanks,
--Thai.

[2019-08-20 07:39] dorko20 opened #27 "Route Distinguisher Parse failure"
Hello,
I've found a wrong regexp expression under the VRF RD match in the Genie parser lib `show_vrf.py` for IOS-XR.
In case the RD has a format of `ip_address:number` (e.g.: `172.16.0.1:1009`) , then there is no match.

My proposed solution is to add `\.` to the regexp:
[code]

[2019-08-20 15:04] jeaubin commented on #27
@dorko20  - Would you like to create a Pull request for this - all credits to you :)

Otherwise we can do it for you.

[2019-08-20 19:27] dorko20 commented on #27
Ji @jeaubin ,
thank you for your reply,
I tried to create a new pull request, but seems like I don't have permissions to do so.
To be honest I don't have too much experience with Github yet so maybe I am missing something, but I tried the following which didn't work:

[code]

Please go ahead with pull request creation :)

[2019-08-21 10:59] urskog84 opened #28 "ios "show module" -Parser Output is empty"
In [7]: sw2.parse("show module")
[2019-08-21 10:48:21,959] +++ tstipswi002: executing command 'show module' +++
show module
Chassis Type : WS-C4507R+E

Power consumed by backplane : 40 Watts

Mod Ports Card Type                              Model              Serial No.
---+-----+--------------------------------------+------------------+-----------
 1    48  10/100/1000BaseT Premium POE E Series

[2019-08-21 11:08] jeaubin commented on #28
Thanks, we will look into it.

[2019-08-21 11:39] urskog84 commented on #24
Hi @thaixuann! i have finaly hade time to make a inistal test.
[code]
i now get a error, is ther parser incuded in 19.7.b5 ??
[code]

[2019-08-21 14:13] mrkaemi opened #29 "iosxr 'show inventory' parser can not parse empty description field"
Aloha,
The "show inventory" parser fails, if the description field is empty:
CLI Output:
[code]
Parser output:
[code]
This fix helped:
in: **show_platform.py**
line 746:
`' +DESCR: +\"(?P<descr>[\w\-\.\:\/\s,&]+)\"$')"`
change the **+** with *
`' +DESCR: +\"(?P<descr>[\w\-\.\:\/\s,&]*)\"$')`

Then it works:
[code]
Im just learning programming and this is my first issue report in Github.
So forgive

[2019-08-21 15:07] cisco-allen opened #30 "Parser "show bgp all summary" not working on IOSXE"
***The issue was reported by sjhloco***
-------------------

I get the error "msg": "genie_parse: local variable 'cmd' referenced before assignment - Failed to parse command output." when trying to use this parser on an IOSXE device.

[code]
The playbook works fine with other cmds such as "show bgp all", also confirmed that the parser works fine using "genie parse "show bgp all summary" --testbed-

[2019-08-21 15:35] jeaubin commented on #29
Thanks for the proposed fix!

Are you interested to do a pull request with this fix ?

https://help.github.com/en/articles/creating-a-pull-request

Otherwise we can take care of it

Let us know!

[2019-08-21 16:38] mrkaemi commented on #29
Hi Jeaubin,
Yes, good Idea. I will do a pull request for this fix.
Can I learn something more.
:-)

[2019-08-21 16:40] thaixuann commented on #24
Hi Peter,
Thanks for letting me know the issue.
Can you please share the output of the commands from the device?

Thanks,
--Thai.

[2019-08-22 09:31] mrkaemi commented on #29
Hi,
one stupid question regarding pull request:
Which branch should I use to create the pull request?
Thanks
Marcel

[2019-08-22 10:10] PatrickFrederiksen commented on #29
Would the same problem exist if the PID field  is empty ?

[2019-08-22 12:47] mrkaemi commented on #29
Hi Patrick,
thats a good point!
Im not a programmer, just a beginner, but when I look into the code, it looks for me, that for all,

- Module name
- Description
- PID
- VID
- SN

it would happen, because the Regular expression does not match on an empty string, If I understand it correctly:
[code]

So probably we should change the:
**+** with **\***

at least for description and probably SN?

Chee

[2019-08-22 15:19] jeaubin commented on #29
Hi,

Thats right;

![image](https://user-images.githubusercontent.com/576771/63527179-97c3a800-c4ce-11e9-9839-a40ed35ec994.png)

You can create your own branch. Usually though you would fork the project, fix the code, and from the fork you can click on creating a new Pull request,

https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-08-22 15:44] jvoss opened #31 "Parser "show interfaces trunk" issue with STP blocked interfaces"
Parser "show interfaces trunk" raises an exception when an interface in the list is in an STP alternate/blocking state.

It appears [this](https://github.com/CiscoTestAutomation/genieparser/blob/8ff35dcfb3dd5d5ac0401fbc0db8b743e8926358/src/genie/libs/parser/iosxe/show_interface.py#L2721) regular expression does not account for "none" in the "Vlans in spanning tree forwarding state and not pruned"

[2019-08-22 20:13] #31 closed

[2019-08-22 21:57] jeaubin commented on #28
It has been fixed, It will be part of the next release which is planned for next week.

[2019-08-22 21:59] jeaubin commented on #30
It has been fixed, It will be part of the next release which is planned for next week.

[2019-08-23 09:11] urskog84 commented on #24
My Band. the switch i tested the parser against had now sessions 😄

[code]
would be nice if it return i empty object, or a bool value 'false' on empty/'true' when there are sessions in the list

[2019-08-23 13:24] jvoss opened #33 "Parser "show vtp status" fails when devices runs VTP version 3"
The "show vtp status" parser throws an error when the device is running VTP version 3. This is caused by the `conf_last_modified_by` and `conf_last_modified_time` keys being empty due to a difference in the output between versions 1/2 and 3.

**Version [1|2]:**
[code]

**Version 3:**
[code]

**Stack trace:**
[code]

**Resolution:**

Making the two keys `conf_last_modified_by` and `conf_last_modifi

[2019-08-23 14:32] urskog84 opened #35 "show interfaces switchport - access_vlan missing"
Find a bug in the parser "show interfaces switchport"

If the vlan name 99 contians a hifen sign (-) i dont get the
Access Mode VLAN: 99 (Falback-Data)

output from switch
[code]

No key 'access_vlan'
[code]

I renamed the vlan

output from switch
[code]

i have the key 'access_vlan' :)
[code]

[2019-08-23 14:37] jeaubin commented on #35
Thanks,

We will look into it and let you know

[2019-08-23 14:38] urskog84 commented on #35
believe it is the same problem for 'voice_vlan'

`Voice VLAN: 98 (Fallback-Voice)`

[2019-08-23 14:39] jeaubin commented on #29
As we are getting for the release; we've done this fix and it will be part of the next official release (next week)

Thanks to both of you for finding it and proposing fix!

[2019-08-23 17:22] #29 closed

[2019-08-23 17:22] mrkaemi commented on #29
Fixe will be implemented into next release

[2019-08-23 20:04] urskog84 opened #37 "Feature Requests: show logging for ios"
I have an idea!

way not use the command `show logging | exclude Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec`
to extract the meta data for the logging setting on the IOS device.

full output example:

[code]

[2019-08-23 21:25] cisco-allen commented on #35
Hello urskog84,
Can ask which OS you are using?
It helps boost debugging, thanks.

[2019-08-25 16:44] mike-mosher opened #38 "Vrf parser error on nxos"
Running nxos9000v on ViRL, and get error for ["show running-config vrf <vrf> | sec '^vrf'"](https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers/show%20running-config%20vrf%20%7Bvrf%7D%20%7C%20sec%20'%5Evrf') parser:

Command:
[code]

Error:
[code]

And in python:
[code]

Error:
[code]

testbed.yaml:
[code]

[2019-08-26 12:38] tahigash commented on #38
@mike-mosher thank you for reporting this. We will look into this.

[2019-08-26 12:54] urskog84 commented on #28
in witch release will the fix be included?
after upgrade `#pip3 install genie.libs.parser --upgrade --pre`
i get version - `genie.libs.parser            19.7.1b5`

still the same problem

/Petter

[2019-08-27 15:33] #33 closed

[2019-08-28 05:36] urskog84 commented on #28
I still have the issue in the 19.8 releas.

[code]

error output
[code]

[2019-08-28 17:06] urskog84 commented on #28
same issue:
[code]

[2019-08-28 18:07] urskog84 commented on #28
Not not so easy to send the testbed.yml to you.
I have built a custom module as converts a ansible inventory to a pyats testbed file.

https://github.com/urskog84/pyats_version_test/blob/master/testbed_from_inventory.py

for testing right now i have to add/change the attributes manual in ipyathon termianl :(

[code]

[2019-08-28 18:23] urskog84 commented on #28
hmmm 😅. after `sw2.disconnect()` and `sw2.connect().` it works!!

great work team!!!!

[2019-08-29 02:00] ccieojisan commented on #27
Hi @dorko20

We fixed the issue and genie v19.8 has been released with the fix.
Could you please upgrade by below command and see if it works?

pip install genie --upgrade

[2019-08-29 02:02] tahigash commented on #27
Hi @dorko20

We fixed the issue and genie v19.8 has been released with the fix.
Could you please upgrade by below command and see if it works?

pip install genie --upgrade

[2019-08-29 02:14] tahigash commented on #30
Genie v19.8 has been released with the fix. Now closing the issue.
The issue will be re-opened if still issue.

[2019-08-29 02:14] #30 closed

[2019-08-29 02:30] tahigash commented on #35
Hi @urskog84

We've released Genie v19.8 with the fix.
Could you please upgrade by below command and see if it works?

pip install genie --upgrade

[2019-08-29 16:54] urskog84 commented on #35
Nice it works i Genie v19.8
[code]
[code]

[2019-08-29 16:54] #35 closed

[2019-09-03 07:28] dorko20 commented on #27
Hi @tahigash ,
I can confirm it is working now, thank you !

[2019-09-03 12:19] tahigash commented on #27
Hi @dorko20
Thanks for the check and reporting the issue again. Closing the issue.

[2019-09-03 12:19] #27 closed

[2019-09-03 16:49] gamename opened #41 "show running-config interface on nxos not working"
Using the playbook below
[code]

I get this output
[code]

Could you have a look at this, please?

[2019-09-03 19:17] thaixuann commented on #41
Hi @gamename,
Thanks, we will look into it.

--Thai.

[2019-09-10 06:22] urskog84 opened #42 "found bug in parser "show vtp status""
Simular to issue #25

i user version
[code]
[code]

[2019-09-10 09:42] tahigash commented on #42
@urskog84 thanks for reporting the issue. We will look into it.

[2019-09-11 18:07] tlofreso opened #43 "parse error: `sh auth sess int {intf} detail`"
Receiving error: `genie.metaparser.util.exceptions.SchemaMissingKeyError: Missing keys: `
when using `parse "show authentication sessions interface gigabitEthernet 1/12 details"` from genie cli.

IOSXE Traceback:
[code]

Log files will be sent to PYATS support email.

[2019-09-11 18:11] tlofreso commented on #43
FYI, this happens for MAB or Dot1X interfaces.

[2019-09-11 18:33] thaixuann commented on #43
Thanks, Anthony for letting us know the issue.
We will look into and let you know once it fixed.

Thanks,
--Thai.

[2019-09-17 19:56] thaixuann commented on #42
Hello @urskog84

We fixed the issue and genie beta v19.8.1b3 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Let us know if there is any issue.

--Thai.

[2019-09-21 05:06] urskog84 commented on #42
Nice i try it out next week

[2019-09-25 11:37] urskog84 commented on #42
yes it works. :)
thanks @tahigash and @thaixuann

[2019-09-25 11:37] #42 closed

[2019-09-25 16:54] thaixuann commented on #24
Hello @urskog84,
We fixed the issue and genie package v19.9 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie --upgrade

Let us know if there is any issue.

Thanks,
--Thai.

[2019-09-25 16:55] thaixuann commented on #43
Hello @tlofreso,
We fixed the issue and genie package v19.9 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie --upgrade

Let us know if there is an issue.

Thanks,
--Thai.

[2019-09-26 11:46] tlofreso commented on #43
FYI, this worked & we are all good now. TY!

[cid:image001.png@01D5743E.7C446870]

Tony Lofreso
Datacom Engineer
x 4308684
[cid:image002.png@01D406D5.A7BD78C0]

From: THAI NGUYEN [mailto:notifications@github.com]
Sent: Wednesday, September 25, 2019 12:56 PM
To: CiscoTestAutomation/genieparser <genieparser@noreply.github.com>
Cc: Lofreso.Anthony.M <AnthonyLofreso@westfieldgrp.com>; Mention <mention

[2019-09-26 17:29] #43 closed

[2019-10-03 18:33] clay584 opened #44 "Interface Duplex Parse Issue NXOS"
As reported by user Arpit in PyATS Community Teams room.

[code]

[2019-10-03 19:11] clay584 commented on #44
well this is embarrassing. it's failing tests. working on it.

[2019-10-03 19:40] clay584 commented on #44
tests needed to be updated. tests are passing now.

[2019-10-03 21:40] thaixuann commented on #38
Hello @mike-mosher
We fixed the issue and genie package v19.9.1b1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2019-10-04 19:35] kiddy94 opened #46 "Handling of Forward Slash Fails in Dict Obj. Lookup #5"
### Code:

[code]

### Expect:
[code]

### Getting:
`"pyats_interfaces.GigabitEthernet0/0": "VARIABLE IS NOT DEFINED!: 'dict object' has no attribute 'GigabitEthernet0'"`

It appears it's being treated as an escape character.

[2019-10-04 21:06] thaixuann commented on #46
Hello @kiddy94
Thanks for letting us know the issue. I will look into and let you know when it fixed.

--Thai.

[2019-10-04 21:45] thaixuann commented on #44
Thanks @clay584 , we will merge it back and part of the next release.

--Thai.

[2019-10-05 14:38] kiddy94 commented on #46
A user on stackoverflow shared a good workaround:

You have 2 equivalent syntax to address vars inside a dictionaries in ansible:

* The dot notation:
[code]
* The bracket notation:
[code]

Both notations can be mixed in the way you want e.g. `some['var']['to'].address`

Although they are equivalent, some cases force you to use the bracket notation.

* when the name of the field comes from a varia

[2019-10-05 14:38] #46 closed

[2019-10-14 09:34] kebced opened #47 "show interfaces desc -> Parser Output is empty"
Hello

i have a problem when i want parse show interface description:

from genie.conf import Genie
import os

eve='/Users/cedric/Devops/RecetteTechnique/testbed.yaml'
testbed=Genie.init(eve)
rtr = testbed.devices["R1"]
rtr.connect()
out=rtr.execute("show interfaces description")

[2019-10-14 11:27:15,352] +++ R1: executing command 'show interfaces description' +++
show interfaces description
Inte

[2019-10-14 12:24] kebced opened #48 "parser version --> 'platform': {'errored': NotImplementedError()},"
hello

when i do a learn_all, the 'platform' feature not work, since update genie-metaparser

_Successfully installed MarkupSafe-1.1.1 aiohttp-3.6.2 async-timeout-3.0.1 attrs-19.2.0 chardet-3.0.4 dill-0.3.1.1 distro-1.4.0 genie.libs.parser-19.9 genie.metaparser-19.9 idna-2.8 jinja2-2.10.3 junit-xml-1.8 multidict-4.5.2 pathspec-0.6.0 psutil-5.6.3 pyats-19.9.2 pyats.aereport-19.9 pyats.aetest-19.9.1

[2019-10-14 22:28] thaixuann commented on #48
Hello Cedric,
Would you please provide the output of the ‘platform’ command on this device? The output will help to ensure to understand what caused the issue.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: kebced <notificat

[2019-10-14 23:18] thaixuann commented on #48
Hello Cedric,
Would you please forward the outputs of the command on the device to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2019-10-15 13:55] jeaubin commented on #47
Hi @kebced

We will look into it

[2019-10-15 15:25] clay584 commented on #44
Awesome. Thanks!

[2019-10-15 15:25] #44 closed

[2019-10-18 04:53] mahoutukaisali opened #49 "cannot import name 'ShowIpv6EigrpNeighborsDetail' from 'genie.libs.parser.iosxe.show_eigrp'"
The title is error massage which has output when I try "Learn multiple features" on this DEVNET webpage (https://developer.cisco.com/docs/pyats-getting-started/) because of a script "genie/libs/parser/iosxe/show_eigrp.py" is wrong.

This script has a class 'ShowEigrpIpv6NeighborsDetail' at the end of a script file but this class name shoud be the name 'ShowIpv6EigrpNeighborsDetail'.

After I fix t

[2019-10-18 04:59] mahoutukaisali commented on #49
I'm sorry that my script was probably the old pyats version. Git repository has already correct a class name.

[2019-10-18 04:59] #49 closed

[2019-10-21 05:47] nettworker commented on #8
Hi guys!

I just tried to use the following code:

from genie.libs.parser.ios.show_platform import ShowInventory as ShowInventory
raw_data = "show inventory output ..."
dev_obj = ShowInventory('-')
parsed_output = dev_obj.cli(output = raw_data)

and have got the same type of error as described before:
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/genie/libs/

[2019-10-21 10:42] kebced commented on #48
it's OK with iosxe.
thx for you help.

[2019-10-21 10:42] #48 closed

[2019-10-21 19:57] jeremyschulman opened #50 "Add entry_point support for dynamic loading of parsers"
## User Story

As a creator of genie parsers, I would like to be able to define my own/private python packages that contain parsers, and then dynamically load them into the genie framework using the setuptools entry_point mechanism ([described here](https://setuptools.readthedocs.io/en/latest/setuptools.html#extensible-applications-and-frameworks)).  I would like the behavior to operate as follows

[2019-10-23 14:54] jeaubin commented on #50
Thanks Jeremy,  we will look into it today

[2019-10-23 15:58] thaixuann commented on #8
Hi @nettworker ,
we are communicating thru emails for more info.

Thanks,
--Thai.

[2019-10-25 13:10] micyew commented on #24
Hi @thaixuann,

I've NAC enabled in the access switch. When I use the "show authentication sessions <<interface>> details",  it generated an error " genie.metaparser.util.exceptions.SchemaUnsupportedKeyError: interfaces.GigabitEthernet1/0/1.mac_address.0050.b6d6.a8b0: **Unsupported keys: ['url_redirect_acl', 'acs_acl']**"

It seems that some of the keys are not supported.? DId I miss anythong? tha

[2019-10-25 17:07] thaixuann commented on #24
Hi @micyew<mailto:notifications@github.com>,
I will look into it and let you know once the issue is fixed.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: micyew <notifications@github.com>
Reply-To: CiscoTestAutomation/geniep

[2019-10-27 11:06] micyew commented on #24
Hi @thaixuann,

Found another bug in this "show authentication sessions" parser...It didn't pick up the "session_count" key as compare to "show access-session" parser. ie "show access-session" have the "session_count" key/value.

I would like to run thru' the NAC switches and find how many session are there for each switch...

[2019-10-28 15:47] thaixuann commented on #24
Hello @micyew
Thanks for let us know the issue. I will look into and let you know once the issue is fixed.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: micyew <notifications@github.com>
Reply-To: CiscoTestAutomation/geniep

[2019-10-28 15:54] jeaubin commented on #50
Merged; will be part of the next release.

Thanks!

[2019-10-28 15:54] #50 closed

[2019-10-29 09:49] kebced commented on #47
Hi

with iosxe, it's good. i change my testbed.
thx for your help

[2019-10-29 09:49] #47 closed

[2019-10-29 09:55] kebced opened #52 "traceroute with vrf"
Hi

i can do a traceroute, but i don't find any parameters for traceroute with vrf.
how can i do it ?

Thx.

from genie.conf import Genie
eve='/Users/cedric/Devops/RecetteTechnique/testbed.yaml'
testbed=Genie.init(eve)
rtr = testbed.devices["R1"]
rtr.connect()
rtr.traceroute("2.2.2.2\n")
2019-10-29 10:52:52,654] +++ R1: traceroute +++
traceroute
Protocol [ip]:
Target IP address: 2.2.2.2
Source add

[2019-10-29 15:19] karmoham commented on #52
Hi,

We will check it and get back to you.

Thanks,
Karim

[2019-10-29 17:15] tahigash commented on #52
Hi @kebced ,

device.traceroute() doesn't not support vrf option at this point. we will see what we can do in next release 19.11 (end of Nov).

Regards,

[2019-10-30 10:33] kebced commented on #52
Ok thx

[2019-10-30 10:33] #52 closed

[2019-10-30 13:14] leoanez opened #53 "'show bgp sessions' parse returned empty"
Hi, tried quite a few times to run this command in the last two versions (19.9 and 19.10) with the same result.

Command:
[code]

Error:
[code]

Python:
[code]
Error:
[code]

[2019-10-30 23:42] thaixuann commented on #53
Hello @leoanez ,
I sent you an email to request more info.

Please let me know.

Thanks,
--Thai.

[2019-10-31 13:15] jeaubin commented on #38
Closing, let us know if any other issue.

[2019-10-31 13:15] #38 closed

[2019-10-31 18:45] MikeJames15 opened #54 "show policy-map interface output failing on queue stats for all priority classes"
While trying to parse the output of the "show policy-map interface output" command the following error gets generated:

    File "src/genie/conf/base/device.py", line 498, in genie.conf.base.device.Device.parse
    File "src/genie/metaparser/_metaparser.py", line 271, in  genie.metaparser._metaparser.MetaParser.parse
    File "/home/mike/.local/lib/python3.6/site-packages/genie/libs/parser/iosxe/s

[2019-10-31 18:59] MikeJames15 opened #55 "Show policy-map interface output failing on interface with no policy"
I'm seeing this for an interface on which VLANs are defined and policies are applied on those VLANs. Not sure if that is why the interface name appears even though it has no policy configuration applied to it directly.

The error generated is:

       File "src/genie/conf/base/device.py", line 498, in genie.conf.base.device.Device.parse
       File "src/genie/metaparser/_metaparser.py", line 302,

[2019-10-31 19:35] thaixuann commented on #54
Hi @MikeJames15
Thanks for reporting the issue. We will look into it and let you know once the issue is fixed.

Thanks,
--Thai.

[2019-10-31 19:41] thaixuann commented on #55
Thanks @MikeJames15 . Wil look into and let you know once the issue is fixed.

--Thai.

[2019-11-05 00:01] thaixuann commented on #53
Hello @leoanez ,
A new parser beta package released contains the fix for this issue. Please try to update with the following command and let's know if there is an issue.

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2019-11-05 00:04] thaixuann commented on #24
Hello @micyew ,

It has been fixed, and a beta package has been released

pip install genie.libs.parser --upgrade --pre

Give it a try and let us know.

Thanks,
--Thai.

[2019-11-05 00:54] leoanez commented on #53
Hey Thai,

Now is working.

Output from device:
[code]

Output from Genie Parser:
[code]

Thank you.

Leo

[2019-11-05 00:54] #53 closed

[2019-11-05 23:56] micyew commented on #24
Hi Thai,

I tried but still can't get the correct outcome. Did I miss anything? See
output below:

1. When I do a parse on "show authentication sessions", I still can't get
the "session_count" key as compare to "show access-session" parse?

(pyats) test@test_server:~/python_script/pyats_genie/genie_parsing/nac_session$
genie parse "show authentication sessions" --testbed-file testbed_1.yaml
  sys.

[2019-11-06 02:11] micyew commented on #24
Found some typo error for point (2)..It should be "details" (with a "s")
rather than "detail"..

But even if I ran it, the give an  Unsupported keys: ['acs_acl']  error....

(pyats) test@test_server:~/python_script/pyats_genie/genie_parsing/nac_session$
genie parse "show authentication sessions interface GigabitEthernet1/0/2*
details*" --testbed-file testbed_1.yaml
  sys.exit(main())
  0%|
Issue w

[2019-11-06 05:30] thaixuann commented on #24
Hi @micyew ,
Thanks for reporting.
For issue #1, there is no "session_count" for the command. So that's why the parser does not produce one.
For issue #2, I am looking into it. I will let you know.

Thanks,
--Thai.

[2019-11-06 08:50] urskog84 opened #56 "show vtp status"
After upgrade calatyst 4500 switch to
[code]
the parser for "show vtp status" fails.

[code]

[2019-11-06 08:56] urskog84 commented on #56
genie version

[code]

[2019-11-06 10:33] micyew commented on #24
For issue #1 <https://github.com/CiscoTestAutomation/genieparser/issues/1> ,
below is the CLI "show authentication sessions" output from the NAC
switch...I can see the "Session count"...Seems the parser not parsing it?

NAC_c3850_SW#show authentication sessions
Interface                MAC Address    Method  Domain  Status Fg  Session
ID
------------------------------------------------------------

[2019-11-06 17:10] karmoham commented on #56
Hi Petter,

We are looking into this issue and will get back to you with the fix.

Thanks,
Karim

[2019-11-06 17:14] thaixuann commented on #24
Hello @micyew ,
Thanks for the device output. I will take care of it.

--Thai.

[2019-11-06 18:42] thaixuann commented on #54
Hello @MikeJames15 ,
Would you please provide the full output from the device for this command so that we can see if there is anything else we missed? Please send the output to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2019-11-06 18:43] thaixuann commented on #55
Hello @MikeJames15 ,
Would you please provide the full output from the device for this command so that we can see if there is anything else we missed? Please send the output to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2019-11-07 00:19] thaixuann commented on #8
Hi @nettworker ,

To further troubleshoot the issue, can you please provide the actual output from the device?

Please send it to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2019-11-07 18:30] thaixuann commented on #53
Thanks for the update Leo. Good to hear.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: Leo Anez <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@reply.github.com>
Date: Monday, November 4, 2019 at

[2019-11-08 08:20] nettworker commented on #8
H!

See raw output for "show inventory" command on IOS device (Cisco 7600) and
for NX-OS device (Nexus 7000) in attach

WBR,
/Alexander

On Thu, Nov 7, 2019 at 3:19 AM THAI NGUYEN <notifications@github.com> wrote:

Router# show inventory

NAME: "CISCO7606-S", DESCR: "Cisco Systems Cisco 7600 6-slot Chassis System"
PID: CISCO7606-S       , VID: V02, SN: FOX1410G7D0

NAME: "CLK-7600 1", DESCR: "OSR-

[2019-11-08 08:29] thaixuann commented on #8
Thanks @nettworker  for the info. I will take a look and let you know once the issue is fixed.

--Thai.

[2019-11-08 18:22] thaixuann commented on #8
Hello @nettworker , you said in the original post that you have no issue with NXOS, but you gave me the output from NXOS. I just verified the output you provided with the latest beta package v19.10.1b2 and the result is good.
The error that you posted from IOS. Can you please verify again and provide me with the output that you have issue with?

Thanks,
--Thai.

[2019-11-10 21:21] nettworker commented on #8
Hi, Thai!

Please concentrate on the "c7600_show_inv.txt" file. It has details about
power supplies and fans which are installed in the chassis. The ios-xe
parser returns nothing about them! Please test it and you can see the issue.

Thank you.

/Alexander

On Fri, Nov 8, 2019 at 9:22 PM THAI NGUYEN <notifications@github.com> wrote:

[2019-11-11 10:24] thaixuann commented on #8
Hello @nettworker . Thanks, i will take a look at the c7600 and let you know.

--Thai.

[2019-11-11 19:51] dgarros opened #57 "genie.abstract is missing as a requirement"
Hi

I believe the library `genie.abstract` should be listed as a requirement since it's used in the file `src/genie/libs/parser/__init__.py`
[code]
I wasn't able to import a parser without installing this library first

[2019-11-11 19:56] jeaubin commented on #57
@dgarros  - Thanks

Good point, we will add it in Metaparser, the genie.libs.parser infrastructure package.

[2019-11-14 00:45] thaixuann commented on #24
Hello @micyew ,
We fixed the issue and a genie beta package v19.10.1b3 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2019-11-14 01:37] micyew commented on #24
Bingo!!...All spot on.....Thanks for the update!!!

On Thu, Nov 14, 2019 at 11:45 AM THAI NGUYEN <notifications@github.com>
wrote:

[2019-11-14 01:57] thaixuann commented on #24
Thanks @micyew for the feedback. Great to hear. I will close this issue.

--Thai.

[2019-11-14 01:57] #24 closed

[2019-11-14 02:00] #57 closed

[2019-11-14 02:00] jeaubin commented on #57
Closed as it will be part of the next release. Code has been added  Thanks!

[2019-11-14 23:01] micyew commented on #24
Hi Thai,

Sorry to bother again...Not sure should I open a new issue/request or
continue from here....

See...I have this c3850 running IOS 03.07.05E...This IOS version don't have
the "*show authentication sessions interface xxx details*"...It's
equivalent is "*show access-session interface xxxx details*" (see below CLI
output)...

But seems that the genie parser don't have a parser for "show
acce

[2019-11-14 23:32] thaixuann opened #58 "show access-session interface xxxx details"
Hi Thai,

Sorry to bother again...Not sure should I open a new issue/request or
continue from here....

See...I have this c3850 running IOS 03.07.05E...This IOS version don't have
the "*show authentication sessions interface xxx details*"...It's
equivalent is "*show access-session interface xxxx details*" (see below CLI
output)...

But seems that the genie parser don't have a parser for "show
acce

[2019-11-14 23:34] thaixuann commented on #58
Hi @micyew
I am opening a new issue here. I will take a look.

Thanks,
--Thai.

[2019-11-14 23:36] thaixuann commented on #24
Hello @micyew<mailto:notifications@github.com>,
I opened a new issue here: https://github.com/CiscoTestAutomation/genieparser/issues/58

I will take a look and update you.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: micye

[2019-11-14 23:48] micyew commented on #24
Hi Thai,

Apologies again....Not sure is issue 24 still having a parsing bug...

See...I ran the "show authentication sessions interface xxx details" on the
another test NAC switch. One interface return an error and the other
interface return good result!! Below is the genie parse result and the
switch actual CLI outcome.

I think the culprit is the fields *"Security Policy:  None Security"*
and *

[2019-11-15 00:02] thaixuann commented on #24
Hi @micyew ,
I will take a look.

Thanks,
--Thai.

[2019-11-15 01:45] micyew commented on #58
More detail...this is applicable to c3850 IOS 3.7.5E using NAC new-style
config..

On Fri, 15 Nov 2019 at 10:34 am, THAI NGUYEN <notifications@github.com>
wrote:

[2019-11-15 18:14] thaixuann commented on #58
Hello @micyew ,
This is an enhancement that we need to do.
If you want to contribute, here are the instructions:
https://github.com/CiscoTestAutomation/genieparser/blob/master/CODING.md

I will add this to our backlog and let you know once it's available.

Thanks,
--Thai.

[2019-11-17 21:54] micyew commented on #24
Hi Thai,

I've found another issue...There are cases where one switchport have two
NAC sessions!!

This occur when we connect a Cisco IP Phone to the switchport and the
laptop/PC "piggy back/daisy chain" to the back of the IP Phone...As you can
see below the switch CLI output...The port Gi1/0/17 have two different "ACS
ACL:"...

Hope the parser are able to capture this type of connections as well.

[2019-11-18 07:33] thaixuann commented on #24
Hello,
Thanks for reporting. We will take a look.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: micyew <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@reply.github.com>
Date: Sunday, November 17,

[2019-11-22 00:25] thaixuann commented on #8
Hello @nettworker ,
I just tried the output that you provided with XE parser. It worked fine. Can you please try again with IOSXE instead of IOS and let me know?

Thanks,
--Thai.

[2019-11-23 20:45] nettworker commented on #8
Hi, NGuyen!

Maybe your parser works fine but where is Power supply and Fan tray data in
the parsed output (see below)?

$ python3
Python 3.7.1 (v3.7.1:260ec2c36a, Oct 20 2018, 03:13:28)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

... NAME: "CISCO7606-S", DESCR: "Cisco Systems Cisco 7600 6-slot Chassis
System"
... PID: CISCO7606-S

[2019-11-25 23:33] thaixuann commented on #8
Hello @nettworker ,
Thanks for pointed that out. We'll take a closer look and fix it.

--Thai.

[2019-11-27 20:30] MikeJames15 opened #61 "UnboundLocalError: local variable 'prefixes' referenced before assignment"
While parsing the output of the following command
show bgp vpnv4 uni vrf vrf1 detail

Got the follwing error
  File "src/genie/conf/base/device.py", line 498, in genie.conf.base.device.Device.parse
  File "src/genie/metaparser/_metaparser.py", line 271, in genie.metaparser._metaparser.MetaParser.parse
  File "/home/mike/.local/lib/python3.6/site-packages/genie/libs/parser/iosxe/show_bgp.py", line

[2019-11-27 20:39] thaixuann commented on #61
Hello @MikeJames15
Thanks reporting the issue. If you can send the device output which you observed the issue to pyats-support-ext@cisco.com so that we can take a look.

Thanks,
--Thai.

[2019-11-27 22:30] thaixuann commented on #56
Hello @urskog84 ,
We fixed this issue. A pyats and genie package v19.11 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade pyats
pip install --upgrade genie

Please let us know if you have question.

Thanks,
--Thai.

[2019-11-27 22:32] thaixuann commented on #54
Hello @MikeJames15 ,
We fixed this issue. A pyats and genie package v19.11 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade pyats
pip install --upgrade genie

Please let us know if you have question.

Thanks,
--Thai.

[2019-11-27 22:32] thaixuann commented on #55
We fixed this issue. A pyats and genie package v19.11 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade pyats
pip install --upgrade genie

Please let us know if you have question.

Thanks,
--Thai.

[2019-11-28 16:14] MikeJames15 commented on #55
Thai,
               I tried the upgrade to v19.11. The upgrade went fine, but now when I try to run my code, I get the following error:
  File "/usr/local/lib/python3.6/dist-packages/genie/conf/__init__.py", line 19, in <module>
    from .main import Genie
  File "src/genie/conf/main.py", line 4, in init genie.conf.main
  File "/usr/local/lib/python3.6/dist-packages/genie/conf/base/__init__.py",

[2019-11-28 23:14] marcosgeorgopoulos opened #62 "Support for Cisco ASA devices."
When trying to use your role with Cisco ASA's I get the following error

FAILED! => {"msg": "The network OS provided (ASA) to the parse_genie filter is not a supported OS in Genie."}

AND

FAILED! => {"msg": "The network OS provided (asa) to the parse_genie filter is not a supported OS in Genie."}

Adding 'asa' to your

supported_oses = ["ios", "iosxe", "iosxr", "junos", "nxos"]

seems to fix the

[2019-11-29 12:35] urskog84 opened #63 "show interface status -> Parser Output is empty"
[code]

I am using version....
[code]

[2019-11-29 14:35] MikeJames15 commented on #55
Thai,
               I have an additional sporadic issue but I’m not sure if it is related to the way in which I’m using genie. I’m running genie/pyats in Cisco NSO to parse the operational data commands. So the python vm is started by NSO and I’m not sure if there might be some peculiarities there. This is why I didn’t just open an issue for it. If you think I should, I will.

In the beginning I

[2019-11-29 16:03] jeaubin commented on #63
Thanks, we will look into it!

[2019-11-29 16:10] jeaubin commented on #55
@MikeJames15  -

In [1]: from genie.libs.parser.utils import get_parser
In [2]:
It still works as expected,

In [2]: import genie.libs.parser
   ...: from genie.libs.parser.utils import get_parser
   ...: from genie.conf.base import Device
   ...: from pyats.datastructures import AttrDict
   ...: from genie.metaparser.util.schemaengine import Any, Optional
   ...:
In [3]:

Can you make sure that a

[2019-11-29 16:12] jeaubin commented on #55
Regarding

No such attribute in abstraction package 'genie.libs.parser': 'genie.libs.parser.show_bgp'

Is it possible you have changed the OS of the device. We see this error when our "abstraction" library cannot find a specific implementation for that OS.

Let us know

[2019-11-29 16:19] MikeJames15 commented on #55
JB,
               I don’t think that is the issue. The device os is in code. For practical purposes it is as if it were hardcoded and the first execution fails while the following ones work fine.
Best regards,
__

Michael James
Principal, Network Architecture

Rethink Possible®

AT&T Business Solutions – Systems Integrator Solutions
mj550x@intl.att.com<mailto:mj550x@intl.att.com>
(470) 277-6950

[2019-11-29 19:10] MikeJames15 commented on #55
JB,
               Here you have the versions of the installed packages for genie and pyats:
pip3 list | grep genie
genie (19.11)
genie.abstract (19.11)
genie.conf (19.11)
genie.harness (19.11)
genie.libs.conf (19.11)
genie.libs.filetransferutils (19.11)
genie.libs.ops (19.11)
genie.libs.parser (19.11)
genie.libs.robot (19.7)
genie.libs.sdk (19.11)
genie.libs.telemetry (19.11)
genie.metaparser (19

[2019-12-02 10:28] urskog84 opened #64 "show dot1x all details -> Missing keys: [['interfaces', 'GigabitEthernet1/6', 'clients', '6451.065c.f902', 'eap_method']]"
I have - > EAP Method                = (13)

[code]

[2019-12-02 16:01] MikeJames15 commented on #55
Hi,
               Today I tried upgrading again to see if there was any new code. Pyats did not download anything new, but genie package did download a whole bunch of packages. I tried the installation as root and as a regular user. As root I had no trouble installing the new packages, but as the regular user I got a segmentation fault. I am running the parsing as the regular user.
The error I’m

[2019-12-02 18:59] simingy commented on #55
this is because of https://github.com/pypa/pip/issues/7408

`pip uninstall unicon unicon.plugins`
and
`pip install unicon`

should fix it for now

[2019-12-02 23:24] thaixuann commented on #62
Hello @marcosgeorgopoulos ,
Thanks for reporting the issue. We will look into and get back to you once the issue is fixed.

--Thai.

[2019-12-03 15:14] MikeJames15 commented on #55
Siming,
               I am now getting the following error on the parsing call:
  File "/home/mike/code/bluefringe/state/packages-in-use/1/genieparser/python/geniewrapper/geniewrapper.py", line 181, in parse_output
    return (device.parse(parser_cmd, output=device_output), schema)
  File "src/genie/conf/base/device.py", line 536, in genie.conf.base.device.Device.parse
  File "/usr/local/lib/pyth

[2019-12-03 17:18] jeaubin commented on #62
Hi, I think you are refering to Clay's Ansible role for pyATS | Genie right ?

You are refering to this line,  can you please raise an issue on that Github repository.

https://github.com/clay584/parse_genie/blob/master/filter_plugins/genie.py#L85

https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers

Thanks,

[2019-12-03 17:21] #62 closed

[2019-12-03 18:05] thaixuann commented on #55
Hello Michael,
Could you please provide the device outputs that gave you this error so that we can fix the issue? Please send the output to pyats-support-ext@cisco.com<mailto:pyats-support-ext@cisco.com>.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platfor

[2019-12-04 16:46] MikeJames15 commented on #55
Thai,
               Thanks for your response. I don’t believe this error is data dependent.
I downloaded the source and run a make deploy for the parser package.
Then added
class_map_dict = {}
at genieparser/src/genie/libs/parser/iosxe/show_policy_map.py line 389 in  and that fixed the issue. The problem is that the code is trying to assign entries in the dict the the dict is not created before a

[2019-12-04 17:20] thaixuann commented on #55
Hi Michael,

Thanks to confirm, though we would like to confirm all is working as expected.

This parser currently work with outputs that we have in our device, so even though fixing the dictionary is the right approach, we would like to verify to make sure all other outputs is parsed correctly.

If you can’t provide, that’s fine and we will just do that fix.

Thanks,

Thai Nguyen
Core Software Gr

[2019-12-04 22:21] tahigash commented on #52
@kebced FYI. We've implemented vrf option of traceroute with pyATS/Genie 19.11 for IOSXE device.

[code]

[2019-12-04 22:35] MikeJames15 commented on #55
Thai,
         This is the output we’re working with:
TenGigabitEthernet0/0/0

  Service-policy output: queuing

    queue stats for all priority classes:
      Queueing
      queue limit 512 packets
      (queue depth/total drops/no-buffer drops) 0/0/0
      (pkts output/bytes output) 0/0

    Class-map: class1 (match-any)
      0 packets, 0 bytes
      1 minute offered rate 0000 bps, drop rate 0

[2019-12-05 01:58] thaixuann commented on #55
Thanks for the output Michael. We’ll let you know once the issue is fixed.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: MikeJames15 <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@reply.github.c

[2019-12-05 18:15] MikeJames15 commented on #55
Thai,
               How’s it going? I was looking at the output generated for this command for the section that was added (queue stats for all priority classes) and see that the Queueing and queue limit lines are not getting parsed into the output.

Here’s the relevant data that I parsed:

TenGigabitEthernet0/0/0

  Service-policy output: queuing

    queue stats for all priority classes:
      Q

[2019-12-05 20:51] thaixuann commented on #55
Thanks Michael for letting us know. I will take a look this un-parsed issue as well.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: MikeJames15 <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@repl

[2019-12-06 00:21] thaixuann commented on #55
Hello Mike,
Just wanted to confirm,  you opened 3 GitHub cases. Both https://github.com/CiscoTestAutomation/genieparser/issues/54 and https://github.com/CiscoTestAutomation/genieparser/issues/55 are the same and you had provided us with the device outputs and we are working on that.
For https://github.com/CiscoTestAutomation/genieparser/issues/61, could you please check to see if you are still hav

[2019-12-06 23:52] jeaubin commented on #54
Closing the issue @MikeJames15

If the issue is still present, please let us know!

[2019-12-06 23:52] #54 closed

[2019-12-06 23:53] jeaubin commented on #56
Closing the issue

Let us know if any other issue!

[2019-12-06 23:53] #56 closed

[2019-12-09 22:07] thaixuann commented on #64
Hello @urskog84 ,

We fixed the issue and genie package v19.11.1b1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade --pre genie.libs.parser,

Please try and let's know if there is an issue.

Thanks,
--Thai.

[2019-12-09 22:18] thaixuann commented on #24
Hello @micyew ,
We fixed the issue and genie package v19.11.1b1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade --pre genie.libs.parser

Or you can upgrade the whole Genie package with the latest version with this command
pip install genie --upgrade

Please give a try and let's know.

Thanks,
--Thai.

[2019-12-09 22:21] thaixuann commented on #58
Hello @micyew ,

We added this enhancement and genie package v19.11.1b1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install --upgrade --pre genie.libs.parser

Or you can upgrade the whole Genie package with the latest version with this command
pip install genie --upgrade

Thanks,
--Thai.

[2019-12-11 04:20] micyew commented on #24
(Not working):
Server Policies:
      Security Policy:  None
      Security Status:  Link Unsecured
              ACS ACL: xACSACLx-IP-Test_ACL_PERMIT_ALL-565bad69

(Working):
Server Policies:
          ACS ACL: xACSACLx-IP-Test_ACL_PERMIT_ALL-565bad69
      Security Policy:  None
      Security Status:  Link Unsecured

On Tue, Dec 10, 2019 at 9:18 AM THAI NGUYEN <notifications@github.com>
wrote:

[2019-12-11 21:46] thaixuann commented on #24
Hello @micyew ,
Thanks for the update. Will take a look.

--Thai.

[2019-12-17 12:37] psolarcz opened #68 "nxos | show_vpc parser not supporting vpc+ outputs"
Traceback (most recent call last):
  File "/Users/XX/PycharmProjects/test_folder/vpc_parser_test.py", line 102, in <module>
    after = device.parse('show vpc', output=vpc_plus)
  File "src/genie/conf/base/device.py", line 536, in genie.conf.base.device.Device.parse
  File "/Users/XX/miniconda3/envs/pyats/lib/python3.6/site-packages/genie/libs/parser/nxos/show_vpc.py", line 499, in cli
    vpc_dic

[2019-12-17 21:19] thaixuann commented on #68
Hello,
Thanks for inform us. We’ll fix and let you know once it fixed.

Thanks,

Thai Nguyen
Core Software Group (CSG)  - SSR | Genie
DevX Engineering Community http://devx.cisco.com<http://devx.cisco.com/>

2018 Pioneer Award Winner -
Devx Pervasive Quality Platform with pyATS & Genie

From: psolarcz <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@reply.github.com>
Dat

[2020-01-07 22:21] ciscopony opened #71 "ios: show access-lists error with ACL containing icmp ttl-exceeded"
Attempting to parse an access-list that reads as follows in "show access-lists":

Generates the following error:

  0%|                                                                                                                                                                                     | 0/1 [00:00<?, ?it/s]Issue with the parser show access-lists
Traceback (most recent call last):
  F

[2020-01-07 22:50] ciscopony opened #72 "ios: show access-lists parse error for udp ACL with incremented counter"
Use case: there will be a pair of routers with the following ACL present for allowing HSRP broadcast traffic on interfaces:

Attempting to parse the access-lists of these devices will fail with the following traceback:
[code]
The error seems to be due to the parser misinterpreting the number of matches for the rule in the "show access-lists" output:

[code]

IE, the parser seems to assume that the

[2020-01-07 23:18] ciscopony opened #73 "ios: show access-lists omits all lines with object-group references"
Using the genie parser for "show access-lists" against any ACL that contains object-group references will generate incomplete output, insofar as any line with an object-group is simply omitted from the output dictionary. For instance, parsing the following:

[code]

Only produces a dictionary with items 10-80 present, 90-110 do not appear at all. The obvious worst case:

[code]

Output:

[code]

I

[2020-01-08 00:14] thaixuann commented on #71
Hello @ciscopony ,
Thanks for reporting. We'll take a look and let you know once the issue is fixed.

Thanks,
--Thai.

[2020-01-08 00:18] thaixuann commented on #72
Hello @ciscopony ,
Thanks for reporting. We will take a look and let you know once the issue is fixed.

Thanks,
--Thai.

[2020-01-08 00:27] thaixuann commented on #63
Hello @urskog84 ,
Would you please let us know what OS experienced this error?

Thanks,
--Thai.

[2020-01-08 16:55] thaixuann commented on #61
Hello @MikeJames15
Do you still having issue with this? If so, can you please send the device output which you observed the issue to pyats-support-ext@cisco.com so that we can take a look.

Thanks,
--Thai.

[2020-01-08 17:05] thaixuann commented on #55
Hello @MikeJames15
Sorry for the delays

We are having 2 issues with the outputs provided:

1) The interface for of the output doesn't seem to have issue or error as you described:
	provided output with interface: **TenGigabitEthernet0/0/0**
	provided error output interface: **TenGigabitEthernet0/1/0**
2) The class map name is duplicated:

Class-map: **class4** (match-any)
23354 packets, 5387547 b

[2020-01-08 21:44] vsvetlov opened #74 "Unable to parse output for command 'show ip route' (local variable 'path_dict' referenced before assignment)""
Hello,

It looks like a bug for pyats_parser Ansible filter for directly conneced routes
OS is IOSXE
Here is output for sh ip route 10.20.100.10

TASK [debug] *************************************************************************************************************************************************
ok:[firewall] => {
    "device_output": "Routing entry for 10.20.100.0/24\n  Known via \"connec

[2020-01-09 17:27] thaixuann commented on #74
Hi @vsvetlov ,
Thanks for reporting the issue. We will take a look and let you know once it fixed.

--Thai.

[2020-01-16 20:15] urskog84 commented on #64
Thanks,

[2020-01-16 20:15] #64 closed

[2020-01-24 08:29] gdluca opened #75 "iosxr - Cannot parse "show route ipv6""
Environment:
Platform: IOS-XR 6.5.3 and 6.6.3
[code]
pip packages version:
[code]

Task example:
[code]

Error:
`FAILED! => {"msg": "Unable to parse output for command 'show route ipv6' (local variable 'source_protocol' referenced before assignment)"}`

What could be the problem? Two months ago, more or less, I was able to parse "show route ipv6" using the clay584.parse_genie like this:

[code]

b

[2020-01-24 17:23] thaixuann commented on #75
Hello  @gdluca ,
Thanks for reporting the issue. If you can send the device output for this failures to pyats-support-ext@cisco.com so we can verify our fix.

Thanks,
--Thai.

[2020-01-24 23:41] gdluca commented on #75
Device output sent. Thanks for the support.

[2020-01-28 01:21] gdluca commented on #75
"show route ipv4" is working fine, sorry.

[2020-01-28 01:25] thaixuann commented on #75
@gdluca thanks for the update.

--Thai.

[2020-01-29 23:28] thaixuann commented on #55
Hello @MikeJames15 ,
Any update on this?

Thanks,
--Thai.

[2020-02-05 16:59] thaixuann commented on #61
Hello @MikeJames15 ,
Do  you still having this issue? Please send the device output to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2020-02-06 00:24] thaixuann commented on #68
Hello @psolarcz ,

We fixed the issue and genie package v20.1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2020-02-06 00:26] thaixuann commented on #71
Hello @ciscopony ,
We fixed the issue and genie package v20.1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2020-02-06 00:26] thaixuann commented on #72
Hello @ciscopony ,

We fixed the issue and genie package v20.1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2020-02-06 00:26] thaixuann commented on #73
Hello @ciscopony .
We fixed the issue and genie package v20.1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2020-02-06 00:32] thaixuann commented on #75
Hello @gdluca ,

We fixed the issue and genie package v20.1 has been released with the fix.
Could you please run the following command and try again to see if it works?

pip install genie.libs.parser --upgrade --pre

Thanks,
--Thai.

[2020-02-06 00:33] kokasha opened #81 "IOSXR -- Improper parsing for "show route ipv4 vrf all""
The parsing of the VRF name in the show route ipv4 vrf all command on IOS-XR router is not working as expected. In case the **_VRF name_** is not standard and the name have any special character  like (:_) the VRF name is returned as 'default'.

Below is an Example

RP/0/RP0/CPU0:xrv_rtr1#sh route vrf L:192
Thu Feb  6 00:29:44.865 UTC

Codes: C - connected, S - static, R - RIP, B - BGP, (>) - Dive

[2020-02-06 01:35] thaixuann commented on #81
Hello @kokasha ,
Thanks for reporting the issue. We'll take a look and let you know.

--Thai.

[2020-02-06 19:32] psolarcz commented on #68
Looks fine:

'vpc': {11: {'up_vlan_bitset': '1,10-28,30-54,56-82,138,530,2587',
              'vpc_consistency': 'success',
              'vpc_consistency_status': 'success',
              'vpc_id': 11,
              'vpc_ifindex': 'Port-channel11',
              'vpc_plus_attrib': 'DF: Partial,FP MAC:312.0.0',
              'vpc_port_state': 'up'},

[2020-02-07 11:34] lzuzcak opened #84 "IOS XE: "show ethernet service instance detail" not parsing description with space"
Hello team

the parser for command "show ethernet service instance detail" will not parse description in case it have space in it.

#no spaces, working fine
[code]

#space in description, not working
[code]

I have checked regexp from "show interfaces description" and that one works fine.

#no spaces, working fine
[code]

#space in description, working fine
[code]

I would appreciate if this could

[2020-02-07 14:20] xiaoxinz-cisco commented on #84
Thank you for reporting. We will look into the issue and get back to you.

[2020-02-10 20:50] xiaoxinz-cisco commented on #8
Hello @nettworker ,

We fixed the issue and genie package **v20.1** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Thanks,
Irene

[2020-02-11 00:41] kokasha commented on #81
Hi @thaixuann  is there any update regarding this issue that i opened. Do you need any more output from my side

[2020-02-11 00:57] thaixuann commented on #81
Hello @kokasha ,
We are fixing the issue. I will update once we release a beta package for you.

Thanks,
--Thai.

[2020-02-11 06:52] gdluca commented on #75
Yes, it works now!

Thanks!

[2020-02-11 06:52] #75 closed

[2020-02-11 20:09] nathantabailey opened #85 "IOS: "show lldp neighbor detail" not parsing"
Using ansible and clay584.parse_genie module, parsing 'show lldp neighbor detail' and 'show lldp entry *'.

Task returns "parse_genie: local variable 'intf_dict' referenced before assignment - Failed to parse command output."

OS is IOS devices running versions 15.0 and 15.2

Relevant parts of ansible playbook
[code]
Output from ansible playbook
[code]

Ansible, python and genie versions
[code]
sw

[2020-02-11 20:15] xiaoxinz-cisco commented on #85
Hello @nathantabailey ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-02-13 19:06] xiaoxinz-cisco commented on #84
Hello @lzuzcak

We fixed the issue and genie package **v20.1.1b0** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-02-13 19:08] xiaoxinz-cisco commented on #81
Hello @kokasha

We fixed the issue and genie package **v20.1.1b0** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-02-13 19:17] xiaoxinz-cisco commented on #63
Hello @urskog84

We fixed the issue and genie package **v20.1.1b0** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-02-14 12:27] lzuzcak commented on #84
Hello Irene

Thank you, fix is working fine.

LZ

[2020-02-14 14:43] #84 closed

[2020-02-14 20:33] xiaoxinz-cisco commented on #74
Hello @vsvetlov ,

From the error message you showed above:

_"msg": "Unable to parse output for command 'show ip route' (local variable 'path_dict' referenced before assignment)"_

the command is 'show ip route'.

Can you please try 'show ip route10.20.100.10' and see if it works?

Let us know if you have further questions.

[2020-02-17 15:09] oianson opened #87 "iosxe: access-list parser not working correctly with 'log' in ACL entry"
On genie 20.1 - on iosxe, when I have an ACL that looks like this (with 'log' in the statement), the parser is not working as I would expect.

ip access-list standard 1
 deny   1.1.1.2 log
 permit any

Name 10 is showing as the permit any, and there is no mention of the deny entry.

`{
   "context_manager": {},
   "attributes": null,
   "commands": null,
   "connections": null,
   "info": {

[2020-02-17 22:13] vsvetlov commented on #74
Hello,

Do you mean replace the parser's argument 'show ip route' with 'show ip route 10.20.100.10'.
If so it works. Is it by design?

[2020-02-18 15:35] xiaoxinz-cisco commented on #87
Hello @oianson  ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-02-18 15:44] xiaoxinz-cisco commented on #74
Hello @vsvetlov ,

I'm glad to hear it works. Yes, it is designed.

The 'show ip route' parser supports various input forms:
 - 'show ip route vrf {vrf}',
 - 'show ip route vrf {vrf} {route}',
 - 'show ip route vrf {vrf} {protocol}',
 - 'show ip route',
 - 'show ip route {route}',
 - 'show ip route {protocol}'

Details can be found in [here].(https://github.com/CiscoTestAutomation/genieparser/blob

[2020-02-19 16:35] xiaoxinz-cisco commented on #85
Hello @nathantabailey ,

It looks like the sample output you provided is incomplete.
Here is a sample which should be like:
[code]
Could you please check your output and paste it in the reply?

Thanks,
Irene

[2020-02-19 16:49] #8 closed

[2020-02-19 16:50] #58 closed

[2020-02-19 16:51] #68 closed

[2020-02-19 16:51] #71 closed

[2020-02-19 16:52] #72 closed

[2020-02-19 16:52] #73 closed

[2020-02-19 16:53] #74 closed

[2020-02-19 17:08] xiaoxinz-cisco commented on #87
Hello @oianson ,

1. Could you please tell us which parser you are using?
[code]
2. It would be really helpful if you can provide the full sample output here.

Thanks,
Irene

[2020-02-19 19:40] oianson commented on #87
Hi @xiaoxinz-cisco

I am using the genie ROBOT framework keyword: learn "acl" ...
It seems to be using the parser:  cmd: <class 'genie.libs.parser.iosxe.show_acl.ShowAccessLists'>

[code]

Hope this is what you are after?
Thanks

[2020-02-19 20:11] vsvetlov commented on #74
You are right! I missed that output for different modes is different. Sorry for disturbing and thank you for the detailed explanation.

[2020-02-19 20:50] xiaoxinz-cisco commented on #87
Hello @oianson ,

Yes, it is. We'll fix it and get back to you.

Thanks,
Irene

[2020-02-20 00:10] shobnaren opened #88 ""show ip route" routepreference position in schema is incorrect"
'*' denotes best ucast next-hop
'**' denotes best mcast next-hop
'[x/y]' denotes [preference/metric]
'%' in via output denotes VRF

show ip route static
99.0.1.1/32, ubest/mbest: 1/0
*via 11.1.10.2, [1/0], 13:35:01, static
via 10.1.10.2, [4/0], 13:35:01, static

This is on NXOS platform.

As you note 11.1.10.2 is best ucast next-hop with routepreference as 1
and 10.1.10.2 is NOT the best next-hop

[2020-02-20 14:45] xiaoxinz-cisco commented on #88
Hello @shobnaren ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-02-20 14:49] #55 closed

[2020-02-20 14:49] #61 closed

[2020-02-20 14:50] #63 closed

[2020-02-20 14:50] #81 closed

[2020-02-20 17:10] nathantabailey commented on #85
Full output of command 'show lldp neighbors detail" for switch running IOS  Version 15.0(2a)EX5

[code]
The output of 'show lldp neighbors' has the capabilities listed at the top per your sample.

[code]
I check a few other devices and versions. Their 'show lldp neighbors detail' output is similar to above.

[code]
[code]

Output from other platforms:

[code]

[code]
Please let me know if i can pr

[2020-02-20 22:58] jasonbarbee opened #89 "IOS-XE Interfaces not processing switchport vlans"
I'm not getting any vlan or switchport access configuration from my IOS-XE switches. Catalyst 9000s, version 16.9.2

Latest Genie
pip3 list | grep genie.libs.parser
genie.libs.parser            20.1

CLI Config
[code]

genie learn interfaces output from the ops log file - says switchport enable is false, no vlan data parsed.

[code]

Am I missing something?

[2020-02-21 01:13] xiaoxinz-cisco commented on #89
Hello @jasonbarbee  ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-02-21 23:33] ciscopony commented on #73
@thaixuann

Sorry for the delay getting back to you, I was able to test the scenarios in issues #71-73 and it looks like the fixes work. Thank you!

[2020-02-22 17:00] xiaoxinz-cisco commented on #89
Hello @jasonbarbee ,

Can you provide a full sample output and the parser(show command) you're using?

Thanks,
Irene

[2020-02-26 15:20] xiaoxinz-cisco commented on #85
Hello @nathantabailey ,

We fixed the issue and genie package **v20.2** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install --upgrade pyats
pip install --upgrade genie**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-02-26 15:35] nathantabailey commented on #85
Hey @xiaoxinz-cisco,

I've upgraded and am now receiving a similar but different error:

`    "msg": "parse_genie: local variable 'med_dict' referenced before assignment - Failed to parse command output.",`

If you require additional information let me know.

[2020-02-26 16:32] xiaoxinz-cisco commented on #85
Hi @nathantabailey ,

Based on the output you provided above, we updated the schema and parser class. This output and its parsed output can be found in this [test](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/tests/test_show_lldp.py#L544).

Did you get this error from the above output?

Since we just release, we may not release another version with new

[2020-02-26 17:07] xiaoxinz-cisco commented on #87
Hello @oianson ,

We fixed the issue and genie package **v20.2** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install --upgrade pyats
pip install --upgrade genie**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-02-26 20:02] nathantabailey commented on #85
Hey @xiaoxinz-cisco

Thank you for getting back to me so quickly.  I have tested against the original output provided and the parser is working.

When testing against a different device, with a different neighbor type, the error is thrown.  I will look through the code and hopefully make a pull request in the future.

Thank you again,

Nathan

[2020-02-26 20:44] #85 closed

[2020-02-27 10:10] oianson commented on #87
@xiaoxinz-cisco  this looks to be fixed now, thank you :)

[2020-02-27 13:56] #87 closed

[2020-02-28 04:30] kokasha commented on #81
@xiaoxinz-cisco Thanks so much for the feedback. I have tested it and it is working as expected

I am sorry for the late feedback :)

[2020-02-28 04:39] kokasha opened #92 "IOSXR -- Improper parsing for "show bgp instance all all all summary""
The Current Parser Only capture the following Address Families
- IPv4 Unicast
- VPNv4 Unicast
- IPv6 Unicast
- VPNv6 Unicast

However, the parser doesn't capture the following address families

- IPv4 Labeled-unicast
- IPv6 Labeled-unicast
- l2vpn vpls-vpws
- IPv4 multicast
- IPv6 multicast

Can these Address Families be added to the parser

[2020-02-28 19:11] xiaoxinz-cisco commented on #92
Hello @kokasha ,

Thank you for reporting.

About the first three:
- IPv4 Labeled-unicast
- IPv6 Labeled-unicast
- l2vpn vpls-vpws
Current regular expression does not capture those.
Current regex ([where it is in code](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxr/show_bgp.py#L4505)):
[code]

To fix it:
[code]

About these two:
- IPv4 multicast
- IPv6 m

[2020-02-29 02:47] leoanez opened #93 "show mac address-table not caching all MACs"
Hi,

The parser of show mac address-table is ignoring MAC Addresses learned from an interface configured with Service Instances. Here is a sample of the output:

  vlan   mac address     type    learn     age              ports
------+----------------+--------+-----+----------+--------------------------
* 888  0100.5e00.02d7    static  Yes          -   Router
* 999  7848.59e9.0bcc   dynamic  Yes

[2020-03-02 15:43] xiaoxinz-cisco commented on #93
Hello @leoanez ,

Since I'm not sure which OS you're using with, I tested your output in IOSXE. Maybe you're using a different OS, but the concepts behind the fix are same.

In [iosxe/show_fdp.py#L76](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_fdb.py#L76):

`        p4 = re.compile(r'^(?P<entry>[\w\*] )?\s*(?P<vlan>All|[\d\-]+) +(?P<mac>[\w.]+)'

[2020-03-06 02:01] leoanez commented on #93
Hi Irene,

I just tested your solution and its working. Going to create the pull request.

Thank you.
Leo

[2020-03-06 16:05] #93 closed

[2020-03-09 07:56] ogruca opened #98 "IOS-XE Show ip nat translation, cannot find parser"
Hello
I am running the geneie command below and its failing to find a parser.
 genie parse "show ip nat translations verbose" --testbed-file prod-pyats-testbed.yaml --device NSY1AGG008 -v

Here are the python details, pythong 3.7 virtual env
Cisco ASR 1002 asr1000rp2-adventerprisek9.03.16.09.S.155-3.S9-ext.bi

Package                      Version
---------------------------- -----------
arrow

[2020-03-09 13:38] xiaoxinz-cisco commented on #98
Hello @ogruca ,

The latest version of pyATS and Genie is [v20.2](https://developer.cisco.com/docs/genie-docs/).
Try update using `pip install --upgrade pyats[full]` and see if it works.

Thanks,
Irene

[2020-03-09 13:54] ogruca commented on #98
thank you i will try

[2020-03-09 20:56] urskog84 opened #100 "help to build show dmvpn parser"
[code]

out
[code]

I missing the last number in the ip address.
 'Peer Tunnel add': shoud be '10.0.1.12' i missing the last 2 :confused:
some one have a ide to solve it?

[2020-03-09 21:28] xiaoxinz-cisco commented on #100
Hello @urskog84 ,

Out developing team prefers using regular expression than parsergen because there are some limitations in parsergen.

Could you please try using regex and see if it works?

[regex101](https://regex101.com/) is a good website where you can test your regex with examples.

Thanks,
Irene

[2020-03-10 09:38] urskog84 commented on #100
i fix the issue,

Uppdated the heder row 😄
[code]

[2020-03-10 12:08] ogruca commented on #98
Upgraded to 20.2, still showing error when trying to parse show ip nat translations.....other parsers  work.
(pyats-genie) ogruca@ubuntu:~/scripts/pyats$ genie parse "show ip nat translations" --testbed-file prod-pyats-testbed.yaml --devices NSY1AGG008 --output output/NSY1AGG008
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

[2020-03-10 15:45] xiaoxinz-cisco commented on #98
Hello @ogruca ,

Thanks for pointing out. I found that the error is caused by a typo in the code.

In [the line72](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_ip_nat.py#L72), it should be `show ip nat translations`, hope it works!

I'll update and include it in the next release.

Thanks,
Irene

[2020-03-10 15:51] xiaoxinz-cisco commented on #100
Hello @urskog84 ,

Glad you figure it out! I notice that you're creating a parser of `show dmvpn`. In case you need it in the future, I recommend you create a pull request here, our support team will review and merge it. General steps can be found [here](https://github.com/CiscoTestAutomation/genieparser/blob/master/README.md).

Thanks,
Irene

[2020-03-10 20:37] urskog84 commented on #100
Yes lets givet a

[2020-03-10 20:38] urskog84 commented on #100
Yes let’s givet a try

[2020-03-10 21:21] xiaoxinz-cisco commented on #98
Hello @ogruca

We fixed the issue and genie package **v20.2.1b0** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-03-10 21:31] xiaoxinz-cisco commented on #88
Hello @shobnaren

We fixed the issue and genie package **v20.2.1b0** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-03-11 21:22] urskog84 commented on #100
@xiaoxinz-cisco, have now write a parser calss + a test case.
how can i push it to the repo? i can not push to master branch :cry:

[code]

[2020-03-11 21:29] xiaoxinz-cisco commented on #100
Hi @urskog84 ,

Thanks for your contribution!

I found this blog that shows you how to create a pull request to open source
https://opensource.com/article/19/7/create-pull-request-github

I assume the only step you missed is creating your own branch (not on master branch)

Let me know if it works!

Thanks,
Irene

[2020-03-12 02:29] #88 closed

[2020-03-12 18:04] urskog84 commented on #100
:smile: i have now successfully created a pull request :nerd_face:

[2020-03-12 18:05] xiaoxinz-cisco commented on #100
I saw that 👍  Congratulations!

[2020-03-13 16:02] #100 closed

[2020-03-13 16:37] xiaoxinz-cisco commented on #92
Hi @kokasha ,

Our support team will take over this issue and will add it in the next release.

Thanks,
Irene

[2020-03-16 14:24] urskog84 opened #103 "parser show standby all do not support vlan interface"
Hade a look att test for for show standby all,

sesams like vlan interface is not included?!

GigabitEthernet0/0/0  ---  ok
GigabitEthernet0/0/0.550 --- fails

[code]

[2020-03-16 19:14] urskog84 commented on #103
Hi have update test and parser
`/genie/libs/parser/iosxe/show_standby.py `

see -> https://github.com/CiscoTestAutomation/genieparser/pull/104

[2020-03-17 13:52] lzuzcak opened #105 "IOS XE: show spanning-tree vlan not catching port-fast interface"
Hello team

Command "show spanning-tree vlan <>" will not parse interface information in case that interface is configured as portfast (spanning-tree portfast). Issue is in STP parser line 928, parser do not expect "Edge" keyword in string - it expects only P2p Peer(STP) / P2p Bound(RSTP).

//Working output

Gi0/1               Root FWD 4         128.2    P2p Peer(STP)

//Non-working output

Gi0/2

[2020-03-17 19:35] xiaoxinz-cisco commented on #105
Hello @lzuzcak  ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-03-17 21:31] #98 closed

[2020-03-18 04:43] vskyman opened #106 "Will you enhance the parser of 'show inventory' to support C8300 platform."
[2020-03-18 12:32:43,607] +++ Thallium-03: executing command 'show inventory' +++
show inventory

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
INFO: Please use "show license UDI" to get serial number for licensing.
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

NAME: "Chassis", DESCR: "Cisco isr9000 Series Chassis"
PID: C8300-1N1S-6G     , VID:

[2020-03-18 04:45] vskyman commented on #106
The issue is that the prefix 'C8300' of the PID is not acknowledged as the lc type.

[2020-03-18 06:15] vskyman opened #107 "Failed to parse subslot 0/0 of 'show inventory'"
NAME: "NIM subslot 0/0", DESCR: "Front Panel 4 ports Gigabitethernet Module"
PID: ISR4451-X-4x1GE   , VID: V01  , SN:

The subslot 0/0 will be parsed as type 'lc' because of its prefix 'ISR'.

[2020-03-18 13:50] xiaoxinz-cisco commented on #106
Hello @vskyman ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-03-18 15:33] rowco opened #108 "Regex does not allow for sub-interfaces"
Hi,

Just hit a minor problem, where this regex doesn't allow for sub-interfaces.

I updated it to:
`\s*(?P<intf>[a-zA-Z0-9\/\.]+) +\- +Group`

https://github.com/CiscoTestAutomation/genieparser/blob/342fce12eb3fc6091944a4dff14fe5c6eb035795/src/genie/libs/parser/iosxe/show_standby.py#L402

Keep up the great work.

[2020-03-18 15:48] xiaoxinz-cisco commented on #108
Hi @rowco ,

Thanks for pointing out, could you please create a pull request? Our support team will review and merge it.

Thanks,
Irene

[2020-03-18 19:26] kamyarz1991 commented on #107
Hi,

What do you expect to see as output. Can you provide me with that, and a the output that you extracted this block from?
Thank you

[2020-03-18 22:35] kamyarz1991 commented on #106
"C-SM-NIM-ADPT" Where do you expect this to see: under rp or lc or other?

[2020-03-19 01:07] vskyman commented on #107
This should be subslot 0/0, the output is from Overlord platform.
More logs:
[2020-03-18 18:38:27,346] +++ overlord-19: executing command 'show platform' +++
show platform
Chassis type: ISR4451-X/K9

Slot      Type                State                 Insert time (ago)
--------- ------------------- --------------------- -----------------
0         ISR4451-X/K9        ok                    00:13:25

[2020-03-19 01:17] vskyman commented on #106
I think it should be lc,
and could we map "module \d+"  to 'lc' and map "module R\d+" to 'rp'  and so on,
I think it may be more compatible that sets the slot type by parsing the 'Name' other than 'PID'

[2020-03-19 16:19] xiaoxinz-cisco commented on #105
Hi @lzuzcak ,

Just want to check is it addressed in your pull request: https://github.com/CiscoTestAutomation/genieparser/pull/109 ?

Thanks,
Irene

[2020-03-19 16:22] lzuzcak commented on #105
Hello @xiaoxinz-cisco / Irene

Yes, I have just submitted pull request for this issue.

Lubos

[2020-03-19 16:31] xiaoxinz-cisco commented on #105
Hi @lzuzcak ,

Thanks for your contribution! Our support team is reviewing the pull request now.

Thanks,
Irene

[2020-03-22 12:41] urskog84 commented on #108
i have fix dis in my pull request https://github.com/CiscoTestAutomation/genieparser/pull/104
commit https://github.com/urskog84/genieparser/commit/0568e35afe78c3aac5bd47eb0c9be07b1212c9b5

[2020-03-22 14:54] urskog84 commented on #108
duplicate of issue https://github.com/CiscoTestAutomation/genieparser/issues/103

[2020-03-23 12:43] netengpy opened #111 "IOS | SchemaMissingKeyError: Missing keys: [['ATM0/0/0', 'mtu']"
$ genie parse "show interfaces" --testbed-file testbed.yaml --devices mydev
  0%|                                                                                                                    | 0/1 [00:00<?, ?it/s]Issue with the parser show interfaces

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 303, in genie.cli.commands.parser.ParserCommand.parse
  Fil

[2020-03-23 12:48] netengpy commented on #111
$ pip list | grep genie
genie                        20.2
genie.libs.conf              20.2
genie.libs.filetransferutils 20.2
genie.libs.ops               20.2
genie.libs.parser            20.2
genie.libs.sdk               20.2.2

[2020-03-23 12:53] xiaoxinz-cisco commented on #111
Hello @netengpy ,

Could you please share the device output with us?

Thanks,
Irene

[2020-03-23 13:07] netengpy commented on #111
mydev#show interfaces
Embedded-Service-Engine0/0 is administratively down, line protocol is down
  Hardware is Embedded Service Engine, address is 0000.0000.0000 (bia 0000.0000.0000)
  MTU 1500 bytes, BW 10000 Kbit/sec, DLY 1000 usec,
     reliability 255/255, txload 1/255, rxload 1/255
  Encapsulation ARPA, loopback not set
  Keepalive set (10 sec)
  ARP type: ARPA, ARP Timeout 04:00:00
  Last in

[2020-03-23 14:12] netengpy commented on #111
This may be helpful for brevity

$ genie parse "show ip interface brief" --testbed-file testbed.yaml --devices mydev
  0%|                                                                                                                    | 0/1 [00:00<?, ?it/s]{
  "interface": {
    "ATM0/0/0": {
      "interface_is_ok": "YES",
      "ip_address": "unassigned",
      "method": "NVRAM",
      "proto

[2020-03-23 22:04] #89 closed

[2020-03-23 22:10] xiaoxinz-cisco commented on #92
Hello @kokasha ,

We fixed the issue and genie package **20.2.1b1** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-03-23 22:11] #103 closed

[2020-03-24 13:31] #105 closed

[2020-03-27 15:03] #92 closed

[2020-03-27 15:05] xiaoxinz-cisco commented on #106
Hello @vskyman

We fixed the issue and genieparser package **20.2.1b4** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-03-27 15:06] xiaoxinz-cisco commented on #107
Hello @vskyman

This issue is the same as #106

We fixed the issue and genie package **20.2.1b4** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-07 18:56] #106 closed

[2020-04-07 18:56] #107 closed

[2020-04-07 18:57] #108 closed

[2020-04-07 22:07] xiaoxinz-cisco commented on #111
Hello @netengpy

We fixed the issue and genie package **20.2.1b5** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-08 06:53] netengpy commented on #111
Hi Irene

This is awesome. I can confirm the issue with ATM interfaces is fixed.
Thanks a lot for your support and quick fix in current (covid) circumstances.

Regards
Omer

=============================

$ genie parse "show interfaces" --testbed-file testbed.yaml --devices mydev
  0%|

[2020-04-08 06:53] #111 closed

[2020-04-10 15:45] ogratwicklcs opened #115 "Failed to parse NXOS ACL with "show access-lists""
Hi,

I am attempting to use [parse genie](https://github.com/clay584/parse_genie) with Ansible Tower to run "show access-lists {{ acl_name }}" but get the message below for this specific command.

FAILED! => {"msg": "parse_genie: local variable 'acl_dict' referenced before assignment - Failed to parse command output."}

- name: show acl list
  nxos_command:
    commands:
      - show ip access-lis

[2020-04-13 13:25] xiaoxinz-cisco commented on #115
Hi @ogratwicklcs ,

Could you please send us the device output regarding the show command that causes the error?

Thanks,
Irene

[2020-04-14 22:03] ogratwicklcs commented on #115
Ansible stdout variable the values are below:
IPV4 ACL 1\n        10 remark NTP Access\n        20 permit ip 10.1.1.39/32 any \n        30 permit ip 165.231.11.23/32 any

Output from Nexus switch
IPV4 ACL 1
        10 remark NTP Access
        20 permit ip 10.1.1.39/32 any
        30 permit ip 165.231.11.23/32 any

[2020-04-17 14:20] fwclements opened #117 "parse('show version') results in SyntaxError exception"
Running through some coding exercises and found a syntax error in the module: genie/libs/parser/iosxe/show_lldp.py on line 490.  Here's the diff for a fix:

[code]

Reproduced by:
[code]

Genie module version: 20.2
pyATS module version: 20.2.1

pip freeze from venv in testing:
aiohttp==2.3.10
async-timeout==2.0.1
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
dill==0.3.1.1
dis

[2020-04-17 15:21] xiaoxinz-cisco commented on #117
Hi @fwclements ,

Thanks for pointing out. We've already fixed this issue in a beta package. Here is the latest code
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_lldp.py#L491

Could you please update the genieparser and test it?

***pip install genie.libs.parser --upgrade --pre**

Thanks,
Irene

[2020-04-18 12:21] lookbeat opened #118 "asa routing parsing bug"
Given the following raw lines

[code]
The parser is generating the following structure:

[code]

Which is obviously wrong.

[2020-04-20 13:16] lookbeat commented on #118
Hi Irene,
Actually I'm working in the fix already, I will submit the PR soonish.
Cheers
Pedro

[2020-04-20 13:45] dan-md opened #120 "NX-OS Interface MTU not parsed"
Hello team,

While using module "interface" for NX-OS N9K, MTU of interface is not parsed/extracted.

Ethernet1/20 is up
admin state is up, Dedicated Interface
  Hardware: 100/1000/10000/25000 Ethernet, address: 00ee.ab29.7c51 (bia 00ee.ab29.7c65)
  Internet Address is 192.168.0.1/24
  **MTU** 600 bytes, BW 10000000 Kbit , DLY 10 usec

Parsed:

 "Ethernet1/20": {
      "counters": {
        "in_br

[2020-04-20 13:47] xiaoxinz-cisco commented on #120
Hi @dan-md ,

Thank you for reporting. We will look into the issue and get back to you.

Thanks,
Irene

[2020-04-20 15:25] #117 closed

[2020-04-20 18:00] fwclements commented on #117
This worked, thanks!

From: xiaoxinz-cisco <notifications@github.com>
Reply-To: CiscoTestAutomation/genieparser <reply@reply.github.com>
Date: Friday, April 17, 2020 at 11:22 AM
To: CiscoTestAutomation/genieparser <genieparser@noreply.github.com>
Cc: Frank Clements <fclements@corp.ptd.net>, Mention <mention@noreply.github.com>
Subject: Re: [CiscoTestAutomation/genieparser] parse('show version') re

[2020-04-21 13:35] xiaoxinz-cisco commented on #118
comment: PR #121

[2020-04-21 13:56] lookbeat commented on #118
@xiaoxinz-cisco No. It relates to another issue I found while genie via ansible filter (clay584/parse_genie). It uses a custom device and fails while trying to parse the nxos "show ip route vrf all" since no "cmd" arg is passed to the  ShowIpRoute instance.

[2020-04-21 20:19] xiaoxinz-cisco commented on #115
Hello @ogratwicklcs
We fixed the issue and genie package **20.2.1b6** has been released with the fix.
Could you please run the following command and try again to see if it works?

**pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-22 20:44] vishnuo-lab opened #123 "IOS-XR show route vrf {vrf} ipv4 {route} UnboundLocalError"
I am getting a UnboundLocalError sometimes when running this parser. Seems to happen for BGP external routes but not 100% sure. This is on iosxr ASR 9912 v6.5.3.

[2020-04-22 16:38:25,219] +++ LABASR9912: executing command 'show route vrf HIPTV ipv4 172.25.254.37/32' +++
show route vrf HIPTV ipv4 172.25.254.37/32
Wed Apr 22 16:38:25.274 EDT

Routing entry for 172.25.254.37/32
  Known via "bgp 7992

[2020-04-22 21:19] akottako opened #124 "ASA 'show route' parsing incorrectly for external type routes"
I'm using genie version 20.2

For example, if the 'show route' has the following output (eigrp eigrp-external)
[code]

The eigrp routes are ignored & their route's next hop is treated as a next hop for the preceding ospf route's next hop.

[code]

[2020-04-22 21:30] akottako opened #125 "NXOS parser 'show ip interface vrf all' ignoring secondary interfaces"
genie parser version : 20.2

CLI Output Snippet -

[code]

Genie parsed output -
[code]

[2020-04-23 18:08] xiaoxinz-cisco commented on #120
Hi @dan-md ,

We found the issue was caused by a regular expression pattern:
[code]
It means *p6* matches the sample outputs like those in the comments. You might notice *p6* does not allow space between `Kbit` and `,`, so it misses your output: `MTU 600 bytes, BW 10000000 Kbit , DLY 10 usec`, which has space between `Kbit` and `,`.

A tiny update should work:
[code]
We will include this fix in th

[2020-04-24 12:53] dan-md commented on #120
Great Irene and thank you a lot!

Python and regular expression, we encourage you to create a pull request
here, our team will review and merge your contribution! :D
*Noted!*

Kind regards,
Dan

On Thu, Apr 23, 2020 at 8:08 PM xiaoxinz-cisco <notifications@github.com>
wrote:

[2020-04-26 13:44] clickheretoday opened #127 "Could not find parser for 'my_parser'"
Hi there,

I wrote a simple parser that parses the output of linux command 'route'. I run my parser like this:

from genie.libs.parser.linux.route import Route

genie_testbed = Genie.init(testbed='/home/clickheretoday/devPyATS/pyats/testbed.yaml') 
dev = genie_testbed.devices['linux-1'] 
dev.connect() 
parser = Route(dev).parse()

and get the right result.

I wonder, is there any chance to use the

[2020-04-27 15:51] #115 closed

[2020-04-28 12:31] gerardocastaldo opened #128 "Error to parsing "show interfaces switchport" on C6807-XL"
Hi at all,
I experienced problem for the parsing of the "show interfaces switchport" for the C6807-XL device.

Below, the show version and the exception.

BS-SEAT--1-1#sh version
Cisco IOS Software, s6t64 Software (s6t64-IPSERVICESK9_NPE-M), Version 15.5(1)SY4, RELEASE SOFTWARE (fc4)
Technical Support: http://www.cisco.com/techsupport
Copyright (c) 1986-2019 by Cisco Systems, Inc.
Compiled Mon 02-

[2020-04-28 12:49] gerardocastaldo opened #129 "Issue parser the "show inventory" on C9200"
Hi at all,

I experienced issue to parsing the command "show inventory" on C9200.

Below the content of the output files.

(venv) [castage@prdnetbastian genie_inventory]$ more DS-SEAT--1-5_*
::::::::::::::
DS-SEAT--1-5_show-inventory_console.txt
::::::::::::::
+++ DS-SEAT--1-5: executing command 'show inventory' +++
show inventory
NAME: "c93xxL Stack", DESCR: "c93xxL Stack"
PID: C9300L-48T-4X

[2020-04-28 13:59] xiaoxinz-cisco commented on #127
Hi @clickheretoday ,

Did you run `make json` after creating the new parser?

[Readme](https://github.com/CiscoTestAutomation/genieparser/blob/master/README.md) outlines the necessary steps while creating a new parser.

Let me know if there is any question.

Thanks,
Irene

[2020-04-28 14:08] clickheretoday commented on #127
Thanks a lot. It works!

All the best

[2020-04-28 14:08] #127 closed

[2020-04-28 21:43] xiaoxinz-cisco commented on #128
Hi Gerardo,

From the exception:

seems the error occurs in `iosxe/show_interface.py`, I ran the `show version` using your output and didn't see the error.

May I know the reason that you said `show interfaces switchport` causes the error? (by the way, it should be `show interface switchport` with no `s` after `interface`)

Thanks,
Irene

[2020-04-29 03:00] leoanez opened #130 "Issue with 'show ip route vrf' parser"
Hi,

The parser for 'show ip route vrf' is having an issue if the name of the vrf have a '-' character. If the name have a '-' it just set the vrf to 'default'. For example:

If I parse the command: `show ip route vrf TEST-intra`
The result is this (I will omit most of the output cause is very long, the interesting part is at the beginning.
`{'vrf': {'default': {'address_family': {'ipv4': {'routes

[2020-04-29 08:46] gerardocastaldo commented on #128
Hi Irene,
I attached the outputs file.

[show-interfaces-switchport_console.txt](https://github.com/CiscoTestAutomation/genieparser/files/4550591/show-interfaces-switchport_console.txt)

[show-interfaces-switchport_exception.txt](https://github.com/CiscoTestAutomation/genieparser/files/4550592/show-interfaces-switchport_exception.txt)

[2020-04-29 14:45] leoanez commented on #130
Hey xiaoxinz,

I think the modification that needs to be done is this: Just add '?-' to the regex for VRF in line 264:

`p1 = re.compile(r'^Routing Table: +(?P<vrf>[\w?-]+)$')`

Should I open a pull request?

[2020-04-29 14:47] xiaoxinz-cisco commented on #130
Hi @leoanez ,

Sounds great! Yes, you could open a pull request, and don't forget to `python -m unittest` and update the [changelog](https://github.com/CiscoTestAutomation/genieparser/blob/master/changelog/undistributed.rst)

We'll review your pull request and merge it.

Thanks,
Irene

[2020-04-29 19:30] xiaoxinz-cisco commented on #120
Hi @dan-md ,

We released this fix:
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_interface.py#L251

Could you please upgrade using the following command and see if it works?
- `pip install --upgrade pyats[full]`

Let me know if there is any question.

Thanks,
Irene

[2020-04-29 19:35] xiaoxinz-cisco commented on #123
Hi @vishnuo-lab ,

We fixed the issue and a new package has been released with the fix.
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxr/show_routing.py#L231

Could you please run the following command and try again to see if it works?

- `pip install --upgrade pyats[full]`

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-29 19:40] xiaoxinz-cisco commented on #130
just for record purpose: This issue is resolved by PR #131

[2020-04-29 19:40] #130 closed

[2020-04-29 20:21] xiaoxinz-cisco commented on #124
Hi @akottako ,

We fixed the issue and a new package has been released with the fix.
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/asa/show_route.py#L113
Could you please run the following command and try again to see if it works?

- `pip install --upgrade pyats[full]`

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-29 20:24] xiaoxinz-cisco commented on #125
Hello @akottako ,

We fixed the issue and a new package has been released with the fix.
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_interface.py#L1308
Could you please run the following command and try again to see if it works?

- `pip install --upgrade pyats[full]`

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-04-29 20:57] jrampley opened #132 "IOS-XR show bgp sessions IPv6 neighbor wrap issue"
IOS-XR show bgp sessions and other bgp parsers that have IPv6 neighbor output need to support IPv6 neighbors that wrap onto two lines.  With pyats 20.4 the below CLI output will not match one of the regex formats which results in no IPv6 neighbor parsed output.

2001:2001:0:8::6f9
                default                 0  65000     0     0  Established  NSR Ready

[2020-04-30 13:23] vishnuo-lab commented on #123
Now getting some other unbound local error:

 parser command is "show route vrf NCS_TEST ipv4 4.4.4.0/24"

[2020-04-30 09:19:24,551] +++ LABASR9912: executing command 'show route vrf NCS_TEST ipv4 4.4.4.0/24' +++
show route vrf NCS_TEST ipv4 4.4.4.0/24
Thu Apr 30 09:19:24.615 EDT

Routing entry for 4.4.4.0/24
  Known via "bgp 7992", distance 20, metric 0
  Tag 65512, type external
  Installed Apr

[2020-04-30 13:33] vishnuo-lab commented on #123
had to upgrade Genie as well and now it is working. Thanks

[2020-04-30 13:33] #123 closed

[2020-04-30 18:48] akottako commented on #124
Hi Irene,

I've tested the change & it seems to work for eigrp external routes. It's however failing for ospf external routes. For example

[code]

shows up as

[code]

[2020-04-30 18:58] akottako commented on #125
Hi Irene,

Fix works perfectly. Thanks much

[2020-04-30 19:06] xiaoxinz-cisco commented on #124
Hi @akottako ,

My apologies, I forgot to mention `genie` is also need to upgrade:
- `pip install genie --upgrade`

Please try again and let me know if there is an issue.

Thanks,
Irene

[2020-04-30 19:18] akottako commented on #124
Hi Irene,

Well, for me upgrade of pyATS[full] also upgraded the genie packages. If it re-run the 'pip install genie --upgrade', i see 'Requirement already up-to-date'.

I do see your fix for 'eigrp external routes', i.e., correct parsing for -
[code]
However, we're missing parsing for 'ospf external routes' i.e., -
[code]

[2020-04-30 19:34] xiaoxinz-cisco commented on #124
Hi @akottako ,

Thanks for sharing this new issue. We fixed the parser class based on the output you shared at the beginning, which includes `EX` but not `E2`.

This would be a quick fix, could you please update the code and create a pull request?

Let me point out the line that needs an update: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/asa/show_route.py#

[2020-04-30 20:39] xiaoxinz-cisco commented on #124
for record purpose:

Anil and I discussed on WebEx since my suggestion in the above comment doesn't work, we came up with the correct regex pattern eventually:

`((?P<code2>[A-Z\d]+)?\s)?`

[2020-05-01 18:51] alurmtr opened #133 "NXOS show running-config interface {interface} missing fields"
Can these two fields be added to the parsed output?
interface description
interface native vlan

Also the mode=access and vlan is missing when configured for switchport access.

TASK [] ****************************************************************************************************
ok: [deviceA] => {
    "output_run_int_output['stdout'][0]": "!Command: show running-config interface Eth1/4

[2020-05-03 17:45] VitMain opened #134 "Typo in the function"
https://github.com/CiscoTestAutomation/genieparser/blob/feca99a851cf737cd4adda5048c1f52667a3d76c/src/genie/libs/parser/iosxe/show_acl.py#L529

[2020-05-04 05:21] alurmtr opened #135 "NXOS "show interface status" missing interfaces if a description is configured"
If a description is configured in an interface, parse_genie "show interface status" does not list it.

[2020-05-04 13:00] #120 closed

[2020-05-04 13:01] #125 closed

[2020-05-04 13:38] salvapinyol opened #136 "No parsing schema validation when executing dev.parse(command_to_parse, output="output_to_parse") and dev not connected"
Hi:

I've attached a demo script to show the issue (genie_parse_validation.py.txt);

If I run the script as it is I get the following exception:

Traceback (most recent call last):
  File "/var/backups/pipenvs/py3network_scripts/src/genie_scripts/genie_parse_validation.py", line 36, in <module>
    parsed_output = dev.parse("show cdp neighbors", output=raw_output)
  File "src/genie/conf/base/devic

[2020-05-05 03:40] VitMain commented on #134
`Issue while building the feature

Traceback (most recent call last):
  File "src/genie/cli/commands/learn.py", line 343, in genie.cli.commands.learn.LearnCommand._retrieve_ops
  File "/Users/VitMain/Work/filters/lib/python3.7/site-packages/genie/libs/ops/acl/iosxe/acl.py", line 93, in learn
    self.make(final_call=True)
  File "/Users/VitMain/Work/filters/lib/python3.7/site-packages/genie/ops/ba

[2020-05-05 03:42] VitMain commented on #134
[code]

[2020-05-05 12:28] IreneZhou0129 commented on #134
Hi @VitMain ,

Thanks for pointing out. Could you please fix it and create a pull request here? Our team will review and merge your contribution.

Thanks,
Irene

[2020-05-05 12:29] xiaoxinz-cisco commented on #134
Hi @VitMain ,

Thanks for pointing out. Could you please fix it and create a pull request here? Our team will review and merge your contribution.

Thanks,
Irene

[2020-05-05 12:46] xiaoxinz-cisco commented on #129
Hi @gerardocastaldo ,

We have a simiilar unit test for "show inventory" on C9300: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/tests/c9300/test_show_platform.py#L19

Could you please check the versions of the packages?

- `pip list | grep genie`

They should be v20.4:
[code]

If you don't use the latest version, please update packages using:

- pip in

[2020-05-05 13:31] gerardocastaldo commented on #129
Hi @xiaoxinz-cisco,

I updated the pyats modules. Previously, my version was the 20.2.

Now

[code]

I continue to have the same error. I attached the output files for three different devices.

[genie_inventory.zip](https://github.com/CiscoTestAutomation/genieparser/files/4580980/genie_inventory.zip)

Thank you,
Gerardo

[2020-05-05 13:36] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Could you please send us any log/console output that explains more about the issue?

Thanks,
Irene

[2020-05-05 14:51] xiaoxinz-cisco commented on #129
Hi @gerardocastaldo ,

Do you use Anisible, if so, could you please check if you passed `platform = 'c9300'` in the testbed?

Let me know if it works.

Thanks,
Irene

[2020-05-05 15:25] gerardocastaldo commented on #129
Hi @xiaoxinz-cisco ,

I am using pyats command line. I added the platform field in the testbed but the output is always the same.
[code]

The testbed for the DS-SEAT--1-5 is

[code]

Is it correct ?

Thanks
Gerardo

[2020-05-05 19:19] xiaoxinz-cisco commented on #129
Hi @gerardocastaldo ,

Can you try the following testbed? I added a `custom` section:

[code]

Let me know if it works.

Thanks,
Irene

[2020-05-05 20:15] andywhitaker opened #137 "Nexus "show interface" missing interfaces with multiple types of down conditions"
On the Cisco Nexus parser for show_interface I found the p1 regex pattern not matching multiple interfaces on some devices. Interfaces with the following errors I found are missed:

Ethernet2/5 is down (SFP not inserted)
Ethernet1/6 is down (linkFlapErrDisabled)
Ethernet5/5 is down (suspended(no LACP PDUs))

I modified the regex to be the following and it works well on my side:
[code]

The above w

[2020-05-05 20:19] andywhitaker opened #138 "Cisco IOS show_arp calls super() and does not pass "output" kwarg"
It looks to me the call to super() on line 49 of the Cisco IOS show_arp.py file should have the "output" kwarg passed on to the base class but currently this is missing.

[2020-05-05 20:23] xiaoxinz-cisco commented on #138
Hi @andywhitaker ,

Thanks for pointing out, could you please add it and create a pull request?

Thanks,
Irene

[2020-05-05 20:44] xiaoxinz-cisco commented on #137
Hi @andywhitaker ,

We appreciate your contribution!

Could you please open a pull request that includes this regex fix?

Then, please run `python -m unittest` under `genieparser/tests` directory, and paste the result into the PR's thread.

Last step: please update the change log in https://github.com/CiscoTestAutomation/genieparser/blob/master/changelog/undistributed.rst

We will review your code

[2020-05-05 20:50] xiaoxinz-cisco commented on #138
Thanks @andywhitaker , we received your pull request: #139

[2020-05-05 21:00] xiaoxinz-cisco commented on #133
Hi @alurmtr ,

We fixed the issue and genie package **v20.4.1b1** has been released with the fix.

We added the missing keys into the schema: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_interface.py#L2887

If you're interested in developing parsers, here is our guide:
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/wr

[2020-05-05 21:06] xiaoxinz-cisco commented on #132
Hi @jrampley

We fixed the issue and genie package **v20.4.1b1** has been released with the fix.

We added two regex patterns, thus parser supports two-line outputs now: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxr/show_bgp.py#L5376

If you're interested in developing parsers, here is our guide:
https://pubhub.devnetcloud.com/media/pyats-development-gu

[2020-05-05 21:23] alurmtr commented on #133
Thanks for the prompt response.

May i also suggest adding the following:

           # switchport trunk native vlan xxx
            p10_2 = re.compile(r'^switchport +trunk +native +vlan +(?P<native_vlan>\S+)$')
            m = p10_2.match(line)
            if m:
                group = m.groupdict()
                interface_dict.update({'native_vlan': group['native_vlan']})
                conti

[2020-05-05 21:38] xiaoxinz-cisco commented on #133
Hi @alurmtr ,

Of course, could you please create a pull request that involves this new regex pattern?

Checklist for creating a PR:
- update the parser class
- add a unit test (please use existing unit tests as references:
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/tests/test_show_interface.py#L6441)
- update changelog(this file:
https://github.com/C

[2020-05-05 21:46] alurmtr commented on #135
Ok. I looked at your code.
I think the problem is that 'Name' is the description of the Interface and it could be a string that consists of white spaces.
So this regex
        p1 = re.compile(r'(?P<interface>(\S+)) +(?P<name>(\S+))? +(?P<status>(\S+))? +(?P<vlan>(\S+))'
                        r' +(?P<duplex_code>(\S+)) +(?P<port_speed>(\S+)) +(?P<type>(\S+))$')

The <name> regex portion should al

[2020-05-06 08:09] gerardocastaldo commented on #129
Hi @xiaoxinz-cisco ,

adding to the testbed the custom field it's ok.

[code]

Thanks
Gerardo

[2020-05-06 13:22] #129 closed

[2020-05-06 13:34] jrampley commented on #132
Hi Irene,

Yes that seems to have solved the issue.  Thanks!

Jim

On 5/5/20, 4:06 PM, "xiaoxinz-cisco" <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: The e-mail below is from an external source. Please exercise caution before opening attachments, clicking links, or following guidance.

Hi @jrampley<https://github.com/jrampley>

We fixed the issue and genie package v2

[2020-05-06 13:34] #132 closed

[2020-05-06 13:51] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Thanks for finding out the issue. Could you please create a pull request include this fix?

Checklist for creating a PR:
- update the parser class
- add a unit test (please use existing unit tests as references)
- update changelog(this file:
https://github.com/CiscoTestAutomation/genieparser/blob/master/changelog/undistributed.rst)
- under `genieparser/tests` run `python -m unittest

[2020-05-06 14:22] xiaoxinz-cisco commented on #137
Hi @andywhitaker ,

We received your PR #140

Thanks,
Irene

[2020-05-06 15:33] alurmtr commented on #135
Ok, i don't have a fix for it. As i mentioned the difficulty lies into when to stop parsing the Name (Description) and when to start the "status". If we knew the list of possible values of Status, that may work?.

[2020-05-07 15:02] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Yes, current regex patterns are developed based on the existing outputs we have, we adjust the patterns based on the new sample outputs. So do you have sample outputs for this concern?

Thanks,
Irene

[2020-05-07 18:25] #137 closed

[2020-05-07 18:26] #138 closed

[2020-05-07 18:39] xiaoxinz-cisco opened #142 "test `action` if issue title contains "show""
this is a test

[2020-05-07 18:45] #142 closed

[2020-05-07 18:53] xiaoxinz-cisco opened #143 "show ... doesn't work"
test

[2020-05-07 19:24] #143 closed

[2020-05-08 14:01] xiaoxinz-cisco commented on #134
Hi @VitMain ,

Just for your information, the pull request #144 includes this typo fix.

Thanks,
Irene

[2020-05-11 18:52] MaPiBe commented on #135
hi @xiaoxinz-cisco , see some sample NX-OS outputs below.

The problem condition is:
IF interface description contains 1 or more spaces (=Name column) THEN that interface will not be parsed..

`N7K-1-LAB# show int status

--------------------------------------------------------------------------------
Port             Name            Status    Vlan      Duplex  Speed   Type
-----------------------

[2020-05-11 20:04] xiaoxinz-cisco commented on #134
Hi @VitMain ,

The #144 is merged. Thanks again for noticing the mistake in our code!

Thanks,
Irene

[2020-05-11 20:04] #134 closed

[2020-05-12 18:45] xiaoxinz-cisco commented on #133
Hi @alurmtr ,

Is there any update?

Thanks,
Irene

[2020-05-12 18:47] xiaoxinz-cisco commented on #124
Hi @akottako Anil,

Is there any update?

Thanks,
Irene

[2020-05-13 04:10] alurmtr commented on #133
Hi Irene

Last week was pretty busy. i will test it out this week and provide feedback

[2020-05-13 13:30] xiaoxinz-cisco commented on #128
Hello @gerardocastaldo

We fixed the issue and genie package **v20.4.1b2** has been released with the fix.
Could you please run the following command and try again to see if it works?

- **pip install genie.libs.parser --upgrade --pre**

Please try and let's know if there is an issue.

Thanks,
Irene

[2020-05-13 13:33] xiaoxinz-cisco commented on #135
Hello @alurmtr , @MaPiBe

We fixed the issue and genie package **v20.4.1b2** has been released with the fix.

Here's the update in regex:
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_interface.py#L3398

Could you please run the following command and try again to see if it works?

- **pip install genie.libs.parser --upgrade --pre**

Please try and l

[2020-05-15 16:50] alurmtr commented on #135
Hi Irene
Thanks for the new fix. Unfortunately this did not work. Looking at your code looks like you expect a "***" to prepend the <name>.  <name> should be any string including spaces.
If you remove (\*\*\*\s) from your code, it works great.

[2020-05-15 17:08] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Thanks for the feedback, we fixed the regex-patterns based on the above examples, if there are other cases, would you mind updating it and create a pull request?

Thanks,
Irene

[2020-05-15 18:47] alurmtr commented on #135
Hi Irene.

ok. i understand. However, the fix made here is specific to a <name> that starts with ***. There is no requirement that a name(description) must start with ***.  The original description of the issue is that it needs to support any string including white space.  Here an example

Eth1/12       FRG45 1RT-34 TM connected 1       full    10G     10Gbase-SR

where name, in this example, is :

[2020-05-15 19:37] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Thanks for providing this new output.

In your initial question description plus sample output, we assumed you were talking about the space of `*** FEX 2248TP` within `Eth1/4 *** FEX 2248TP connected 1 full a-10G Fabric Exte`, which is handled in this fix.

Okay, now we need to come up with a solution for `Eth1/12 FRG45 1RT-34 TM connected 1 full 10G 10Gbase-SR`. Since the geniepars

[2020-05-15 21:09] #128 closed

[2020-05-19 15:36] gerardocastaldo commented on #128
Hello Irene, sorry for delay. I confirm you that now it works well.

Thanks
Gerardo

[2020-05-19 17:42] #118 closed

[2020-05-20 12:10] alurmtr commented on #135
Ok, i submitted a pull request for review.
Thanks
Al

[2020-05-20 13:05] xiaoxinz-cisco commented on #135
Hi @alurmtr ,

Thanks for your contribution, we'll review #156 and give you feedback there.

Thanks,
Irene

[2020-05-21 13:40] #135 closed

[2020-05-22 19:47] MikeJames15 opened #158 "Section of "policy-map interface output" command not getting parsed"
The early random detect table in the show policy-map interface output does not seem to be getting parsed. The output I parsed was the following:
`
GigabitEthernet0/0/3.3001

  Service-policy output: policy1

    Class-map: class-default (match-any)
      3275598 packets, 362268259 bytes
      1 minute offered rate 0000 bps, drop rate 0000 bps
      Match: any
      Queueing
      queue limit 208 p

[2020-05-23 20:28] devroute11 opened #159 "ip_extended_interarea referenced before assignment"
https://github.com/CiscoTestAutomation/genieparser/blob/9d4583ea7a8e084cc1bc42af9991a4fe79d9aafb/src/genie/libs/parser/iosxr/show_isis.py#L3937

Getting error hear when trying to learn isis on fresh install:

`Issue while building the feature

Traceback (most recent call last):
  File "src/genie/cli/commands/learn.py", line 343, in genie.cli.commands.learn.LearnCommand._retrieve_ops
  File "/usr/l

[2020-05-23 20:50] devroute11 commented on #159
Looks like this is happening because it's a IPv6 unicast deployment only, there is no IPv4 unicast so variable isn't set on r15 match.

[code]

[2020-05-25 13:21] lubnarasheed commented on #158
Hi @MikeJames15,

Thanks for reporting this issue, genie.libs.parser has a newer version of the package (20.4)

Would it be possible for you to upgrade to version 20.4 and check if the issue is still seen?

Regards,
Lubna

[2020-05-25 19:30] #124 closed

[2020-05-25 19:33] xiaoxinz-cisco commented on #133
Hi @alurmtr ,

We're closing this issue since not having heard from you for some time, would you mind create a new issue if needed?

Thanks,
Irene

[2020-05-25 19:33] #133 closed

[2020-05-26 10:56] network-dave opened #160 "ImportError: cannot import name IndexMarker (version 20.4.1)"
Hi, there seems to be an issue with the dq module that is called when parsing a device, since upgrading Genie to 20.4.1 :

ImportError: cannot import name IndexMarker

Traceback (most recent call last):
  File "./parse_show_interface_status.py", line 7, in <module>
    from genie.conf.base import Device
  File "/mnt/c/Users/id865890/Documents/Python/venvs/genie-parsers/lib/python3.8/site-packages/

[2020-05-26 11:05] network-dave commented on #160
Relevant code snippet :

    device = Device(name=device_name, os=args.os)
    device.custom.abstraction = {"order": ["os"]}
    parsed_objects = device.parse(parser, output=data)

[2020-05-26 14:23] alurmtr commented on #133
Hi Irene.
Ok, i do have some code for a pull request. I will create a new issue to keep track of it.
Al

[2020-05-26 14:32] alurmtr opened #161 "Add fields to NXOS show running-config interface {interface}"
Feature request to add fields:

trunk native vlan
vpc x
switchport_mode: access

Also the description field must handle string with spaces.

    interface port-channel5
      description Port Channel Config Tst
      switchport mode trunk
      switchport trunk native vlan 2253
      switchport trunk allowed vlan 2253
      speed 10000
      vpc 5

[2020-05-26 14:38] alurmtr commented on #161
pull request #162  created

[2020-05-26 14:40] LenzDong commented on #159
Hi,
Could you provide the device's sample output to check?
Thanks

[2020-05-26 19:00] MikeJames15 commented on #158
Lubna,
               Hi how are you? Yesterday was a holiday in Argentina where I’m from so I wasn’t working. I have updated genie to version 20.4 and see the same output for the command.
Best regards,

__

Michael James
Principal, Network Architecture

Rethink Possible®

AT&T Business Solutions – Systems Integrator Solutions
mj550x@intl.att.com<mailto:mj550x@intl.att.com>
(470) 277-6950

From: L

[2020-05-26 19:16] MikeJames15 commented on #158
Lubna,
               I looked at the source code and I think there is a problem with regular expression p27. I tried it on the output of the command and it didn’t match, but if I do the following modification:

579c579
<         p27 = re.compile(r'^ +(?P<class>(\w+)) +(?P<value1>([\d\/]+)) +(?P<value2>([\d\/]+)) +'
---

Meaning allowing spaces at the beginning of the line, it does match the entri

[2020-05-26 20:41] devroute11 commented on #159
Here is console output section with some routes removed to keep it short.

[code]

[2020-05-26 22:47] LenzDong commented on #159
Thanks for the sample output, I will fix it and let you know when it's ready

[2020-05-26 22:48] lubnarasheed commented on #158
Hi Mike,

Not a problem, thanks for sending me this output, I will fix the parser and update you

[2020-05-26 23:33] karmoham commented on #161
This request has been already acknowledged by the user in https://github.com/CiscoTestAutomation/genieparser/pull/162

Closing the case!

[2020-05-26 23:33] #161 closed

[2020-05-27 15:04] tahigash commented on #136
@salvapinyol We've fixed the issue and released v20.5 yesterday.
please upgrade to v20.5 and check.

upgrade:
[code]

[2020-05-27 15:35] salvapinyol commented on #136
@tahigash great!. I've tested and now it works as expected!. Thanks!

[2020-05-27 15:35] #136 closed

[2020-05-28 13:41] xiaoxinz-cisco commented on #160
Hi @network-dave ,

Could you please check the version you're using? The latest version is `v20.5`, below command would upgrade the package:
- `pip install --upgrade pyats[full]`

Let me know if it works.

Thanks,
Irene

[2020-06-02 11:28] network-dave commented on #160
Hello Irene, will upgrade to 20.5 and report back to you asap. Thank you !

[2020-06-02 11:38] network-dave commented on #160
Everything seems good so far with upgrading to 20.5

Thanks again !

[2020-06-02 11:38] #160 closed

[2020-06-04 06:31] filippohronsky opened #163 "IOS XR Parser for ISIS (ShowIsis)"
Genie generate error due a missing keys.

[code]

[2020-06-04 11:14] filippohronsky commented on #163
There is nothing abour vrf in show isis command on ios xr.
But in the class ShowIsis there is mention about [vrf](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxr/show_isis.py)

from IOX-XR device:
 in RP/0/RSP0/CPU0:A910#show isis | i VRF
Thu Jun  4 13:10:37.981 CEST
RP/0/RSP0/CPU0:A910#show isis | i vrf
Thu Jun  4 13:10:40.931 CEST
RP/0/RSP0/CPU0:A910#

[2020-06-04 12:34] Lawliet2012 opened #164 "IOS-XE Parser for show ip interfaces"
I've got error while tried parse "show ip interfaces" on Cisco 891 with c890-universalk9-mz.157-3.M3.bin firmware.
Error:
[code]

I did a small research why it happend and discover some things:

[code]

Here I found that parser can't parse router's output like:

[code]

After changing
`p2_2 = re.compile(r'^Internet +[A|a]ddress +will +be +negotiated +using +DHCP$')`
to
`p2_2 = re.compile(r'^Intern

[2020-06-04 17:12] Neiby opened #165 "IOS XR parser for show controllers optics does not support QSFP28 100G LR4"
I get correctly parsed JSON for our QSFP+ 4x10G optics, but just one long unparsed string for QSFP28 100G LR4. Here is an example for reference:

"Thu Jun  4 17:08:21.749 UTC\n\n Controller State: Up \n\n Transport Admin State: In Service \n\n Laser State: On \n\n LED State: Green \n \n Optics Status \n\n\t Optics Type:  QSFP28 100G LR4\n\t Wavelength = 1302.00 nm \n\n\t Alarm Status:\n\t --------

[2020-06-05 09:31] network-dave opened #166 "genie.metaparser.util.exceptions.SchemaMissingKeyError: Missing keys"
Hi, I get the following error when trying to parse show cdp and show lldp neighbors outputs (NXOS) :

[code]

Kind regards,

David

[2020-06-05 14:21] LenzDong commented on #165
Thanks for reporting the issue, we will fix it and let you know when it's ready

[2020-06-05 14:24] Neiby commented on #165
Thank you! Let me know if you need more example output.

[2020-06-05 20:16] ahersi2-cisco commented on #163
Hi @filippohronsky,

Thanks for reporting this issue. There is a new version of genie.libs.parser that is available. Can you try updating your version if you haven't already and give it a shot again if you don't mind?

Thank you,
Abdurahman

[2020-06-08 08:37] filippohronsky commented on #163
Hi Abdurahman, thank you for your effort.

I had already used the latest version of genie.libs.parser.

(fipo) [mpls@localhost fipo]$ pip install --upgrade genie.libs.parser
Requirement already up-to-date: genie.libs.parser in ./lib/python3.6/site-packages (20.5)
Requirement already satisfied, skipping upgrade: xmltodict in ./lib/python3.6/site-packages (from genie.libs.parser) (0.12.0)

Still res

[2020-06-08 14:33] ahersi2-cisco commented on #163
Hi @filippohronsky,

Thanks for the response. Can you please provide the CLI output?

Thank you,
Abdurahman

[2020-06-08 14:58] KamyarZiabari commented on #166
Hi David,
If you tried show cdp and show lldp neighbors. At this moment they are not supported for nxos.
The supported commands are, show cdp neighbors, and show cdp neighbors detail, same goes to show lldp neighbors. The show lldp neighbors is not supported but show lldp neighbors detail is supported.

You can use the existing commands and see if it helps you. We also highly encourage our custome

[2020-06-08 16:15] thaixuann commented on #164
Hi @Lawliet2012 ,
Thanks for contacting us regarding to the issue. I will take a look and update.

--Thai.

[2020-06-09 05:51] filippohronsky commented on #163
[code]

[2020-06-09 06:04] filippohronsky commented on #163
Hi @ahersi2-cisco,
here is also output of `show isis` command. In genieparser there is mention about vrf, but show isis command isn't include that information.

[code]

Parser: genieparser/src/genie/libs/parser/iosxr/show_isis.py

[code]

Hopefully, it was helpful.

[2020-06-09 08:14] network-dave commented on #166
Dear Kamyar,

Thank you for your reply! I actually meant "show cdp neighbors" and "show lldp neighbors", my bad. But I didn't realize the later was not supported.

I would be glad to look into contributing parsers, feel freel to send me those tutorials.

Kind regards,

David

[2020-06-11 17:44] KamyarZiabari commented on #166
Hi David,

Glad to hear that you will be helping us with parsers. Following links are necessary information for you to develop parsers:

https://developer.cisco.com/docs/pyats-development-guide/
Please do read this link first to be able to clone a genieparser repo in your local env.

https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html
Using this link you

[2020-06-11 20:43] network-dave commented on #166
Kamyar,

Thanks, I will look into this ASAP.

Kind regards.

[2020-06-16 16:52] ahersi2-cisco commented on #163
Hi @filippohronsky,

Sorry for the late reply, and thanks for providing the supporting information. A small tweak in the schema of this parser will fix your issue. The key called ;

Can be changed to be an optional key. You should see other keys with similar behavior in the code. It should be around line 496 of  show_isis.py file in the iosxr directory. Feel free to submit a PR if this change work

[2020-06-17 21:23] #163 closed

[2020-06-17 21:31] filippohronsky opened #170 "IOS XE show clns (isis.py) missing key adjacency, and mismatched adjacent routers"
Hello, there is an issue with genie parser for isis.
output file for ios xe device is damaged in a way that values are mixed.
![Snímka obrazovky 2020-06-17 o 23 18 13](https://user-images.githubusercontent.com/24731316/84952240-0030e500-b0f2-11ea-9727-3b79eefefaf5.png)

sh isis neighbors

[code]

How can I find the parser error, and what should damage parser input to show this error?
Thank you.
Fi

[2020-06-17 22:36] lubnarasheed commented on #170
Hi Filip,

Thanks for reporting this issue. @thaixuann will investigate and update this thread.

Regards,
Lubna Rasheed

[2020-06-18 01:52] thaixuann commented on #170
Hello @filippohronsky ,
Per the output that you provided, the parser parsed correctly what given in the output. If you ran this parser and it error out, then we will fix it.
You may need to use different commands to parse the adjacency that you said missing?
This is the list of all parsers currently available to use: https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers

Please

[2020-06-18 14:06] filippohronsky commented on #170
Hello Thai,
The output from CLI console shows four adjacent neighbors on four interfaces.
The parser output in JSON shows three adjacent neighbors on four interfaces.

Somehow there is incorrect JSON output from accurate CLI data.

CLI Ouput.
+++ DS_A903: executing command 'show clns neighbors detail' +++
show clns neighbors detail
Tag core:
System Id       Interface     SNPA                State

[2020-06-18 15:20] thaixuann commented on #170
Hi @filippohronsky ,
Thanks for the output. I am looking into it and will get back to you.

Thanks,
--Thai.

[2020-06-19 15:42] urskog84 opened #171 "Linux parser - ip route show table all"
Nice one @urskog84

Do you think perhaps using the traditional network device schema as base and use route tables as "VRF"?

Example:
[code]

Cheers

_Originally posted by @lookbeat in https://github.com/CiscoTestAutomation/genieparser/pull/114#issuecomment-623112472_

[2020-06-19 15:45] urskog84 commented on #171
I think i go for a smaller table in the test.

[code]

[2020-06-19 15:49] lookbeat commented on #171
great stuff. cheers

[2020-06-20 19:53] JasonMongroo opened #173 "parse_genie not found"
I have been getting this error when trying to run a playbook:

ERROR! the role 'parse_genie' was not found in /etc/ansible/roles:/root/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/etc/ansible

The error appears to be in '/etc/ansible/genie-test.yml': line 6, column 7, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

  roles:

[2020-06-24 21:16] oianson opened #174 "iosxe 'show policy-map interface <int> input/output' - top_level_dict' referenced before assignment"
I'm using an iosxe device and trying to parse the following command: show policy-map interface CUST123-PIN-T5/0/0.20 input using Robot Framework Genie (20.5) library `parse "show policy-map interface CUST123-PIN-T5/0/0.20 input" on device "Router"`

I am getting the following error :
[code]

The 'output' version of the command also gives the same error.

[2020-06-25 07:29] #166 closed

[2020-06-25 15:44] LenzDong commented on #174
Hi,
Thank you for reporting the issue.
We will provide a fix and let you know when it's ready.

Thanks

[2020-06-25 16:35] rara08 opened #175 "iosxe - show ip interface missing parse for Helper addresses."
https://github.com/CiscoTestAutomation/genieparser/blob/c73ce4718fc50e8c3772dd68c9626c96c3af3665/src/genie/libs/parser/ios/show_interface.py#L76

It would be nice to have helper addresses added to data structure.

_Vlan10 is up, line protocol is up
  Internet address is 1.1.1.1/24
  Broadcast address is 255.255.255.255
  Address determined by non-volatile memory
  MTU is 9154 bytes
  Helper addres

[2020-06-25 17:03] thaixuann commented on #175
Thanks for reporting the issue.
including @ahersi2-cisco to support.

Thanks,
--Thai.

[2020-06-25 20:30] ahersi2-cisco commented on #175
Hi rara08,

Thanks for catching this issue. If you don't mind, could you please send me a log of the parsed output? If you provide the CLI output followed by the parsed output, that would be best. Thank you!

[2020-06-26 07:14] thaixuann commented on #171
Thanks for reporting the issue. Including @bastell to take a look.

--Thai.

[2020-06-26 13:09] rara08 commented on #175
**Raw CLI output (truncated):**

Vlan1 is administratively down, line protocol is down
  Internet protocol processing disabled
Vlan10 is up, line protocol is up
  Internet address is 1.1.1.1/24
  Broadcast address is 255.255.255.255
  Address determined by non-volatile memory
  MTU is 9154 bytes
  Helper addresses are 10.1.1.1
                       10.2.2.2
                       10.3.3.3

[2020-06-29 16:18] salvapinyol opened #177 "ios, iosxe: show mac address-table output not parsed"
Hi, I've some ios & ios-xe devices that produces this kind of output for show mac address-table command:

Unicast Entries
 vlan   mac address     type        protocols               port
-------+---------------+--------+---------------------+--------------------
   2    0000.0c07.ac23   dynamic ip                    Port-channel1
   2    0002.b3ec.e8e7   dynamic ip                    Port-channel1

[2020-06-29 16:50] karmoham commented on #177
Including @danielgraziano to support!

[2020-06-29 23:10] ahersi2-cisco commented on #175
Hi rara08,

Thanks for providing the data required. I should have an answer for you very shorty. Talk to you soon!

Abdurahman

[2020-06-30 22:04] ahersi2-cisco commented on #175
Hi rara08,

It seems capturing Helper addresses weren't added in the regex portion of the parsers. An adjustment can be made to add them to the parsed output. I can make the changes and let you know when the beta version would be released, which shouldn't be too long, or if you feel you can make the fix yourself you are free to submit a PR which can be reviewed and accepted. I can also let you kno

[2020-07-01 12:21] rara08 commented on #175
I can give it a try.  Let me know what fix needs to be made.
Thanks,
R

[2020-07-02 17:28] ahersi2-cisco commented on #175
Hi rara08,

The fix that needs to be made is the following; There currently isn't a regex that captures the line `Helper addresses are 10.1.1.1` followed by the addresses in subsequent lines. What you'll need to do is create a regex pattern in the function `ShowIpInterface` and capture that necessary data. Adding that captured data to the dictionary called `interface_dict` should work. There are m

[2020-07-02 21:29] rara08 commented on #175
I took a look, but I think this is a bit above my capabilities.
I did get a working regex:
`^( +Helper +addresses +are|\s+) (?P<address>[0-9\.]+)$`

That seems to do the trick, but the real problem is that the schema defines "helper_address" as a "str", and we need a "list".
I think the right solution is to change helper_address to list and re-factor the current function (line 2066) to accommodate

[2020-07-03 04:57] richyim opened #178 "My pyATS has problem on show ip sla summary."
I had tested 'show ip int brief'. It worked. However, it did not work for 'show ip sla summary'. My program is as follow:
---
import pprint
from genie.testbed import load
tb = load('my_testbed.yaml')
dev = tb.devices['LISP-HOME-1941']
dev.connect()
#p1 = dev.parse('show ip int brief')
p1 = dev.parse('show ip sla summary')
print('out is ')
pp = pprint.PrettyPrinter(indent=4)
pp.pprint (p1)
---

It

[2020-07-03 14:22] karmoham commented on #178
Hi Rich,

Thanks for reaching out! @ahersi2-cisco will help ou shortly.

Thanks,
Karim

[2020-07-03 14:23] karmoham commented on #178
Including @Abdurahman Hersi -X (abhersi - ALBANY SERVICES  INC at Cisco)<mailto:abhersi@cisco.com> to support!

Thanks,
Karim Mohamed
2018 Pioneer Award Winner
Core Software Group(CSG) SSR | XPRESSO<https://apps.na.collabserv.com/communities/service/html/communitystart?communityUuid=c1ac02c3-4a58-4653-8baf-b8c3014c371d> | pyATS | Genie<https://apps.na.collabserv.com/communities/service/html/commun

[2020-07-03 14:56] ahersi2-cisco commented on #178
Hi Rich,

It doesn't appear we have that command as part of our parser list. Can you provide the CLI and parsed output for the command 'show ip int brief' if you don't mind. I know we have a command that uses 'interface' instead of int, but I haven't seen one that uses 'int'.

Thank you,
Abdurahman

[2020-07-03 15:30] ahersi2-cisco commented on #175
Hi rara08,

You're absolutely right, a list would be more appropriate so I will change the schema. When a beta is released I will update you right away. Talk to you soon.

Abdurahman

[2020-07-04 03:50] richyim commented on #178
Dear Abdurahman,

This is the test.py:

import pprint

from genie.testbed import load

tb = load('my_testbed.yaml')

dev = tb.devices['LISP-HOME-1941']

dev.connect()

p1 = dev.parse('show ip sla summary')

print('out is ')

pp = pprint.PrettyPrinter(indent=4)

pp.pprint (p1)

This is the my_testbed.yaml:

devices:

  LISP-HOME-1941:

    connections:

      cli:

        ip: 192.168.113.254

[2020-07-04 17:38] ahersi2-cisco commented on #178
Hi Rich,

If I'm not mistaken you provided the output for 'show ip sla summary' not 'show ip int brief'. Also if everything below `This is the test output:` what came out of parsing 'show ip sla summary'? If so, I was expecting an error similar to what you showed on the first post. I would like to see something similar to the first post but the entire log. Can you please provide output for 'show i

[2020-07-04 19:27] richyim commented on #178
Dear Abdurahman,

Here is the genie CLI:

root@NM44:~/yaml# genie parse "show ip int brief" --testbed-file my_testbed.yaml --device LISP-HOME-1941

  0%|                                                                                                                                                                          | 0/1 [00:00<?, ?it/s]{

  "interface": {

    "Dialer1": {

      "interface

[2020-07-04 19:31] ahersi2-cisco commented on #178
Hi,

Do you mind telling me what version of genie and pyATS you have? If they are outdated please update and try running again and provide that output as well.

Thank you,
Abdurahman

[2020-07-04 19:35] richyim commented on #178
Dear Adburahman,

root@NM44:~/yaml# pyats version check

You are currently running pyATS version: 20.5

Python: 3.8.2 [64bit]

  Package                      Version

  ---------------------------- -------

  genie                        20.5

  genie.libs.clean             20.5

  genie.libs.conf              20.5

  genie.libs.filetransferutils 20.5

  genie.libs.ops               20.5

  genie.

[2020-07-05 06:56] ogruca opened #179 "Genie ASA Learn Error - Could not find the API under asa, and common"
Hi

First of all thank you all for all your work in this wonderful tool, this has opened my eyes to network automation and started my curiosity in programming.  I wasnt sure if this is the correct place to post this issue so apologies in advance.

I am having an issue when learning all genie modules fo Cisco ASA (physical and virtual) version 9.12(3)205.  The script runs upto 97% then generates th

[2020-07-06 21:35] danielgraziano commented on #177
Hi @salvapinyol, I have found the issue and fixed it. We are releasing v20.6 tomorrow (July 7th) and this fix will be in that.

[2020-07-07 21:07] ahersi2-cisco commented on #178
Hi richyim,

I just want to confirm which command you want to use. Is 'show ip sla summary' a short version of a command you want to use? Can you find the command you want to use or something related in the following;

https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers

Thank you,
Abdurahman

[2020-07-07 23:25] richyim commented on #178
Thanks Abdurahman,

I cannot find the show IP SLA command in the list. Therefore, I think this is the reason. Can I ask for a feature request?

Second question I would like to ask if there is a way to have pyATS on Raspberry Pi?

Regards,

Rich Yim
Systems Engineer
Cisco Systems (HK)
Mobile: 96422596
31/F Great Eagle Center, 23 Harbour Road, Wan Chai, HK
[A picture containing game, food  Descripti

[2020-07-08 13:48] LenzDong commented on #179
Hi,
Genie learn is based on the ops model and currently we don't have any api and ops model for ASA device
but we do have some parsers for ASA.

Here is the available ops models, mainly support IOSXE/IOSXR/NXOS devices
https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/models

Here is the available parsers for ASA
https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/par

[2020-07-08 13:49] ahersi2-cisco commented on #178
Hi Rich,

By feature are you referring to a new parser? If not what kind of feature are you referring to?

Thank you,
Abdurahman

[2020-07-08 15:18] rara08 commented on #175
FYI - I took a stab at it and submitted a Pull request (#180).
Thanks,
Raul

[2020-07-08 17:07] salvapinyol commented on #177
hi @danielgraziano. Thanks for the fix. I'll check if all my output is correctly parsed now.

[2020-07-08 17:32] ahersi2-cisco commented on #175
Hi rara08,

I'll take a look at the PR. I also completed it, so in case the PR isn't immediately approved or doesn't cover your issue entirely, a beta should be released soon.

Thank you,
Abdurahman

[2020-07-08 17:58] ahersi2-cisco commented on #178
Hi Rich,

In regards to your question about Raspberry Pi, you can have pyATS on it. The steps are the same as other devices. Just make sure you have the correct specifications in your testbed file.

Thank you,
Abdurahman

[2020-07-08 18:05] rara08 commented on #175
Cool.. no worries. It was an educational exercise for me.

[2020-07-09 13:45] salvapinyol commented on #177
It looks Ok. Thanks!

[2020-07-09 13:45] #177 closed

[2020-07-09 14:35] LenzDong commented on #159
Hi,

The parser fix is released. Please upgrade genieparser to the latest v20.6

Thanks

[2020-07-09 14:37] LenzDong commented on #165
Hi,

The parser fix is released. Please upgrade genie.libs.parser to the latest v20.6

Thanks

[2020-07-09 14:38] LenzDong commented on #174
Hi,

The parser fix is released. Please upgrade genie.libs.parser to the latest v20.6

Thanks

[2020-07-09 14:55] thaixuann commented on #170
Hello @filippohronsky ,
We released v20.6 yesterday, which included your fix.

`pip install --upgrade ats[full]`

Please try and let's know.

Thanks,
--Thai.

[2020-07-09 15:26] oianson commented on #174
Thank you @LenzDong !

[2020-07-13 21:36] ahersi2-cisco commented on #175
Hi rara08,

We have released a beta package with the fix included (v20.6.1b0). You can upgrade to the latest release as per the following command;

pip install --upgrade --pre genie.libs.parser

Thank you,
Abdurahman

[2020-07-14 02:10] itdependsnetworks opened #181 "Update Testing Strategy"
The testing framework requires a lot of boilerplate code and is much of the raw values collected are actually incorrect. Take for example: https://github.com/CiscoTestAutomation/genieparser/blob/b0603c1456dea15160b2a19312d8675e7a450b2d/src/genie/libs/parser/ios/tests/test_show_acl.py#L170-L177 this evaluates to:

[code]
instead of
[code]
This difference, may be subtle but can be crucial in buildin

[2020-07-15 15:14] clay584 opened #183 ""show isis" parse failure"
An issue was opened on my ansible filter plugin, but it is raising an exception on Device.parse(). Can you all take a look?

https://github.com/clay584/parse_genie/issues/11

Here is the line where it is crashing.
https://github.com/clay584/parse_genie/blob/master/filter_plugins/genie.py#L123

[2020-07-15 18:30] rara08 commented on #175
Seems to work fine now.  Thanks.

[2020-07-15 18:30] #175 closed

[2020-07-15 20:07] tahigash commented on #183
asked the person who opened Issue on parse_genie. now waiting for the output.

[2020-07-16 12:46] tahigash commented on #183
confirmed with @arynair over emails. The issue was in Ansible playbook. and now works after updating Ansible playbook. Closing.

[2020-07-16 12:46] #183 closed

[2020-07-28 03:29] thaixuann commented on #170
Hello @filippohronsky ,
Please let us know if there is anything else by open a new case. I will close this for now.

Thanks,
--Thai.

[2020-07-28 03:29] #170 closed

[2020-07-28 17:50] itdependsnetworks commented on #181
@danielgraziano @xiaoxinz-cisco not sure what is going on with the assignments. This is work I may be willing to take on, as it likely makes it easier for me in the long run, just need to understand if this is a consideration or not.

[2020-07-29 14:26] itdependsnetworks opened #190 "Change Log Merge Conflict"
The process for adding change-logs leads to a high likelihood of merge conflicts. Is there room to re-evaluate this method?

Perhaps something like

[code]
and then the build artifact concatenates this information?

[2020-07-29 14:43] jeaubin commented on #181
@itdependsnetworks What you are proposing is:

Have a directory structure

```<parser-cmd>/<type>/<any name>/<return.raw|expected.json>```

Depending on the type, it will use different boiler plate code.

Few types idea

* Equal, raw parsed must equal expected.json
* Raise a type of exception
* ....

For this we need a small infrastructure that go reads these file and generates testcases automatic

[2020-07-29 14:46] #159 closed

[2020-07-29 14:47] #165 closed

[2020-07-29 14:49] Neiby commented on #165
Thanks, that works. I appreciate the help!

[2020-07-29 14:50] #171 closed

[2020-07-29 14:52] #174 closed

[2020-07-29 14:54] jeaubin commented on #179
Adding models for ASA has been added to our backlog, but current as @LenzDong mentioned, we dont have some for ASA.

Though we have many parsers!

[2020-07-29 14:54] #179 closed

[2020-07-29 14:56] itdependsnetworks commented on #181
This is exactly what I had in mind. We will be contributing a bunch, and I think the effort to update this will be worth it. Let me get back to you next week with timeline expectations (if I think we can take on)

[2020-07-29 14:56] thaixuann commented on #164
Hello @Lawliet2012 ,
This has been fixed and we just released version 20.7.

`pip install pyats[fulll]`

Please let's know if there is any issue.

Thanks,
--Thai.

[2020-07-29 14:56] jeaubin commented on #190
We are actually changing our merge/build artifact this month.

Let me add this to the backlog. We had discussion to change it in the past, so this month would be a good time.

Thanks,

[2020-07-29 15:00] jeaubin commented on #181
Perfect,  Thanks.

Thanks for contributing.

[2020-07-29 15:06] clay584 commented on #173
If you are using Ansible 2.9 or greater, install this...

`ansible-galaxy collection install clay584.genie`

If you are using an older Ansible version, use this...

`ansible-galaxy install clay584.parse_genie`

Then it should be properly installed on your system.

There are differences on how you have to use the parse_genie filter plugin depending on whether it is for Ansible 2.9 or a lesser versi

[2020-07-30 14:31] Maxiturne opened #191 "[Parser][ios/iosxe][ShowIpInterface] helper_address crash when only one"
On interfaces where where we only have one ip-helper address, showIpInterface parser is crashing because the template is expecting a list and the script return a string

Output of show ip interface :
VlanXXX is up, line protocol is up
  Internet address is XXX.XXX.XXXX.XXXX/YY
  Broadcast address is 255.255.255.255
  Address determined by configuration file
  MTU is 1500 bytes
  Helper address is

[2020-07-31 19:34] bastell commented on #191
Hi,

You are correct, there is a mismatch between the schema and the parsed output. I'll make sure this is fixed, and update you here when it's available next week.

Thanks,
Ben

[2020-08-02 11:40] mgdransfield commented on #191
I fixed this as I also saw the same issue and have a pull request with a couple of other updates

[2020-08-08 15:16] jmcgill298 opened #194 "Incorrect instantiation of `SchemaTypeError` class"
I looked through the code for some Schema Validation examples. I emulated the examples of using the `SchemaTypeError` to generate errors when the data type was an invalid type, however, when testing the code, the raising of this error generated another exception. I looked into it and the SchemaTypeError constructor requires `path`, `schema`, and `data` args, and optionally takes a `detail` argumen

[2020-08-11 16:55] karmoham commented on #194
Hi Jacob,

Thanks for narrowing down to the misuse of the `SchemaTypeError` in the Junos parsers. We will fix it and it should be part of the next official release v20.8.

Thanks,
Karim

[2020-08-12 12:42] wimdepauw opened #201 "Issue with pyats "show policy-map interface" on Cat9K"
wim@ubuntu:~/pyats/pyats-ios-sample/cat9k$ more cat9k_sho-policy-map-interface_exception.txt
Issue with the parser sho policy-map interface

Traceback (most recent call last):
Hi,
When I perform the following command pyats parse "sho policy-map interface" --testbed testbed.yaml --output cat9k I'm receiving the following error message.
I'm running pyats v20.6

 File "src/genie/cli/commands/parser.p

[2020-08-12 15:41] sogloarcadius opened #202 "iosxe "show ip bgp vpnv4 all summary" unable to parse dynamically created BGP neighbors"
Hello,

is it intentional that the genie parser ignore the BGP dynamically created neighbors when parsing the BGP neighbbors ?

My device return the output below but the parser will ignore dynamically created neighbors,  neighbors stating with a star (*100.65.2.7).

Output from device
[code]

Thanks,

Best regards,

Arcadius.

[2020-08-12 15:45] tahigash commented on #201
Hi @wimdepauw , could you please upgrade pyats by below command to see if there is still issue with latest package?

[code]

if the same issue exists, please send the actual output from the show command with the error to pyats-support-ext@cisco.com

[2020-08-14 13:22] oianson opened #205 "IOSXE: 'show switch' parser issue"
Hi,

On the IOSXE 'show switch' parser, it is not detecting switch number 1 here, suspect it is due to the hyphen in the state (V-Mismatch).

[code]

[2020-08-14 22:21] ahersi2-cisco commented on #202
Hi Arcadius,

Thanks for the question. Dynamically created neighbors shouldn't be ignored, I can have a look to see if it's a bug in the parser. Also, can you please provide the parsed output for this command?

Thank you,
Abdurahman

[2020-08-17 08:04] sogloarcadius commented on #202
Hello,

Find below the parsed output,

[code]

Regards,

Arcadius

[2020-08-17 14:47] ahersi2-cisco commented on #205
Hi oianson,

Thanks for the question. Can you please provide the parser output for the CLI output you provided?

Thank you,
Abdurahman

[2020-08-17 15:03] oianson commented on #205
[code]

[2020-08-17 19:37] ahersi2-cisco commented on #202
Hi Arcadius,

This error is due to a regex issue. It didn't capture the '*' value at the start of the line, so the whole line doesn't get capture. The fix requires the '*' value to be captured, which can be made in the 'show_bgp.py' file, where the 'p9' value is defined, approximately line 1966.  I put the following at the beginning of the regex which fixed the issue.

` *(?P<our_entry>\*)?'`

Not

[2020-08-17 19:47] ahersi2-cisco commented on #205
Hi Oianson,

You suspected correctly. The regular expression wasn't correctly capturing the hypen. We encourage users to submit PR's, so if you'd like you can make the change in the regex pattern and submit a PR, which will be reviewed and merged when accepted. The change will have to be made in the 'show_platform.py' file, specifically on the 'p3_1' variable on the captured group called 'state'.

[2020-08-18 09:15] oianson commented on #205
Thanks Abdurahman
I've submitted a PR on the bitbucker, will close this issue. THanks

[2020-08-18 09:15] #205 closed

[2020-08-24 15:03] sogloarcadius commented on #202
Hello,

Thanks for finding a workaround to solve the issue. Please make the changes on your side and i will wait the next official release that integrate the fix.

Best regards,

Arcadius.

[2020-08-25 13:29] ahersi2-cisco commented on #202
Hi Arcadius,

I will update you when the release is available.

Thank you,
Abdurahman

[2020-09-01 14:52] jeaubin commented on #190
Something similar has been rolled out for last release;

Create a new file under that directory for every PR named - changelog_<feature>_<unique number>.rst

Then for each release we have a script that merge them all within our release note.

[2020-09-01 14:52] #190 closed

[2020-09-01 14:54] #173 closed

[2020-09-01 14:55] #164 closed

[2020-09-01 14:55] jeaubin commented on #164
Closing this as no answer and fix was provided - If any other issue please let us know

[2020-09-01 14:55] #194 closed

[2020-09-01 14:56] #178 closed

[2020-09-01 15:21] tahigash commented on #201
No response for a while. so closing the issue. please feel free to reopen when needed again.

[2020-09-01 15:26] #181 closed

[2020-09-01 16:07] ahersi2-cisco commented on #202
Hi Arcadius,

The update was added on my side. I can release a beta for you this week if you would like. Sorry for the delay.

Thank you,
Abdurahman

[2020-09-02 09:15] wimdepauw commented on #201
Hi,
Sorry for the late response but  I was on holiday. I've upgraded the pyats to version 20.8 but I'm still getting the same error message.
(pyats) wim@ubuntu:~/pyats/pyats-ios-sample$ pyats parse "show policy-map" --testbed testbed_devnet.yaml
  0%|

[2020-09-02 10:12] tahigash commented on #201
thanks for the update and sending the log via email. Reopened the issue. and I will be looking into the log and get back to you.

[2020-09-04 17:42] alurmtr opened #228 "iosxe "show access-lists" renumbers the sequence numbers and also misses statements over 10 entries"
A couple of issues here.

1.- Parse genie "show access-list" parser renumbers the sequences for a standard list. This works Ok when the actual output of the cisco command "show access-list" is ordered as 10, 20, 30, 40..etc. But there are cases when the output from the cisco command is out of order, and parse genie reorders it.

It has been documented here that unordered access-list behavior is po

[2020-09-04 21:06] Network748 opened #229 "unable to find parser for command 'show version'"
I am receiving the following error:
  {"changed": false, "msg": "Unable to find parser for command 'show version' (invalid syntax (show_cts.py, line 133))"}

Thanks

[2020-09-05 01:57] jeaubin commented on #229
Can you share

1) On what OS you are trying
2) Are you running with pyats parse command line? If so can you paste the whole log,  or send us the whole output to pyats-support-ext@cisco.com

We would need more information to understand what is going on.

[2020-09-08 13:24] berishap opened #230 "Not parsing "show inventory""
Hi,

it is not possible to parse the ouput of "show inventory" on a WS-C4507R+E with IOS-XE Version 03.07.02.E

Error:

[code]

[2020-09-08 13:29] karmoham commented on #230
Hi Berishap,

Can you please send the device `show inventory` output to `pyats-support-ext@cisco.com` so we can check the parser and place any fix if needed?

Thanks,
Karim

[2020-09-08 13:35] berishap commented on #230
Hi Karim,

Thank you. I did send the output.

Thank you.
Regards,
Petrit

[2020-09-08 14:51] tahigash commented on #201
provided beta package with fix via email. closing this issue

[2020-09-08 14:51] #201 closed

[2020-09-08 16:47] ahersi2-cisco commented on #230
Hi Petrit,

Thank you for providing the output. I'll take a look into it and update you shortly.

Thank you,
Abdurahman

[2020-09-09 04:19] lukeod opened #231 "NXOS 9.3(5) - C9332C "show spanning-tree detail" parser error"
Hi,

Getting this error:

[code]
here's a sample of "show spanning-tree detail" on that host:

[code]
This host is a Secondary host in a VPC. Perhaps negative timer values are to blame?

It's still occurring after i ran a "pyats version update".

[code]

[2020-09-09 04:26] lukeod commented on #231
I've sent a complete copy of "show spanning-tree detail" to pyats-support-ext@cisco.com.

[2020-09-09 13:36] karmoham commented on #231
Hi,

Thank you for sending us the output, we will check it and get back to you.

Thanks,
Karim

[2020-09-09 13:45] ahersi2-cisco commented on #228
Hi A,

Thank you for the detailed message. In regards to your first query, would you be able to provide the complete CLI and parsed output? As for the second query, it could be possible that the parser didn't anticipate that specific scenario, but I understand the issue here. We encourage users to submit pull requests, and you are more than welcome to submit one which will get reviewed and merged

[2020-09-09 16:28] Network748 commented on #229
OS:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

running the following code:
gather_facts: False
  collections:
    - clay584.genie
  vars:
    ansible_python_interpreter: /usr/bin/python

  tasks:
    - name: Get Data From Device
      ios_command:
        commands: show interfaces status
      register: arp_output

    - name: Print Stru

[2020-09-09 16:49] Network748 commented on #229
Additional error:

TASK [pyats_parse_command] ********************************************************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named genie.libs.parser.utils
fatal: [IP address]: FAILED! => {"changed": false,

[2020-09-09 17:03] Network748 commented on #229
ok, I now added it the following vars:
    **ansible_python_interpreter: /usr/bin/python3**
directly onto the playbook and now I keep  getting the following error:

FAILED! => {"changed": false, "msg": "Unable to find parser for command 'show interface status' (invalid syntax (show_cts.py, line 133))"}

[2020-09-09 17:56] tahigash commented on #229
Hi @Network748, I confirmed below line in the error.

[code]

It says `python2.7`, but pyATS support python3.5+. Could you please check if you are running on python3.5+? if not, please create python virtualenv with python3.5+ and check there.

[2020-09-09 18:03] Network748 commented on #229
Yes, I created a virtualenv and hardcoded the following on the playbook ansible_python_interpreter: /usr/bin/python3.

Getting the following error now:
FAILED! => {"changed": false, "msg": "Unable to find parser for command 'show interface status' (invalid syntax (show_cts.py, line 133))"}

[2020-09-09 21:05] ahersi2-cisco commented on #202
Hi Arcadius,

Sorry for the late update, the fix has been included in the most recent version of genie parser. Can you upgrade and try again to see if the error persists. Thanks for your patience.

Abdurahman

[2020-09-09 21:08] ahersi2-cisco commented on #202
Just in case, here is how you upgrade;

pip install --upgrade pyats[full]

Thanks again

[2020-09-10 15:23] sogloarcadius commented on #202
Hello,

Just installed the latest version from pypi but not working as expected.

pyats  20.8
genie 20.8

Thanks,

Best regards,

[2020-09-10 16:36] ahersi2-cisco commented on #230
Hi Petrit,

A fix was made for your issue, and it is currently under review. As soon as it's approved, I can get it merged and release a beta for you. I will you keep you updated once that's done.

Thank you,
Abdurahman

[2020-09-10 16:38] ahersi2-cisco commented on #231
Hi,

Thank you for providing the output data. I am currently looking into this issue for you, and will update you shortly.

Thank you,
Abdurahman

[2020-09-10 20:42] MikeJames15 opened #232 "show bgp vpnv4 unicast vrf {vrf} detail not parsing output. Found problem, sharing it."
I was trying to parse the following output for command show bgp vpnv4 unicast vrf vrf1 detail

`Route Distinguisher: 9.1.1.1:3014 (default for vrf vrf1)
BGP routing table entry for 9.1.1.1:3014:0.0.0.0/0, version 74438
BGP Bestpath: deterministic-med
  Paths: (2 available, best #1, table vrf1)
Multipath: eBGP iBGP
  Advertised to update-groups:
     304        13
  Refresh Epoch 2
  64624
    9.2.

[2020-09-10 20:42] MikeJames15 opened #233 "show bgp vpnv4 unicast vrf {vrf} detail not parsing output. Found problem, sharing it."
I was trying to parse the following output for command show bgp vpnv4 unicast vrf vrf1 detail

`Route Distinguisher: 9.1.1.1:3014 (default for vrf vrf1)
BGP routing table entry for 9.1.1.1:3014:0.0.0.0/0, version 74438
BGP Bestpath: deterministic-med
  Paths: (2 available, best #1, table vrf1)
Multipath: eBGP iBGP
  Advertised to update-groups:
     304        13
  Refresh Epoch 2
  64624
    9.2.

[2020-09-11 00:24] thaixuann commented on #232
Hello @MikeJames15 ,
Thanks for let's know the issue.
Can you please 1) confirm if this is a duplicate of https://github.com/CiscoTestAutomation/genieparser/issues/233?; 2) please email the output to pyats-support-ext@cisco.com.

Thanks,
--Thai.

[2020-09-11 00:37] MikeJames15 commented on #232
Yes, don't know how this happened. It is the same issue. What output is it that you want me to email? The raw output of the command to be parsed or the structured output after parsing with my fix?

[2020-09-11 00:59] thaixuann commented on #233
close this as a duplicate of https://github.com/CiscoTestAutomation/genieparser/issues/232

[2020-09-11 00:59] #233 closed

[2020-09-11 01:01] thaixuann commented on #232
Hello @MikeJames15
Please email the raw output of the command to be parsed.

Thanks,
--Thai.

[2020-09-11 16:50] sogloarcadius commented on #202
Hello,

The latest release still ignore the dynamic neighbors starting with a star as described before.

Below the current content of the file genie/libs/parser/iosxe/show_bgp.py line 1966 which does not include your fix.

[code]

One way to catch the dynamic neighbors is to escape the star character `\*`

[code]

Thanks,

Arcadius.

[2020-09-11 17:35] routetonull opened #234 "NXOS show hsrp all genie.metaparser.util.exceptions.SchemaEmptyParserError: Parser Output is empty"
Hi,
the parser for **show hsrp all** on **NXOS** returns an error when HSRP is not enabled on the switch (empty output):

[code]
Command on the switch:

[code]

Versions:
[code]

Workaround:
[code]

Thank you.

[2020-09-11 17:59] ahersi2-cisco commented on #202
Hi Arcadius,

A beta is being released today, and it should include my fix. Expect a release today, thank you for your patience. I will double how my fix wasn't included, but it should be included in todays version. I will update you shortly.

Thank you,
Abdurahman

[2020-09-11 18:02] alurmtr commented on #228
Hello Abdurahman,

I actually added the parsed output in the second case.

You can see it goes 10, 100, 20, 30

I wont be able to get to this for a bit so if you are able to fix, go for it. Then again, i think the fix that would take care of both issues would be to replace
seq = int(sorted(acl_dict.get('aces', {'0': 'dummy'}).keys())[-1]) + 10
 with
seq = group['seq']

However, this doesn't addres

[2020-09-11 18:03] karmoham commented on #234
Hi Gian,

Please fully upgrade your tree; `pip install --upgrade pyats[full]` and retry. If the issue persists, send us the device output at pyats-support-ext@cisco.com and we will debug and provide a fix.

Thanks,
Karim

[2020-09-12 21:16] ahersi2-cisco commented on #231
Hi lukeod,

The issue is actually related to the negative timers, good catch. The regex patterns weren't considering them so only a small fix is needed. The regex saved as p14 on line 632 in the file `nxos/show_spanning_tree.py` can be updated for the `message_age` captured group. Simply adding a `\-?` before `\d+` will consider the scenario where the timer is negative. I made the fix on my end an

[2020-09-14 04:29] lukeod commented on #231
I'm pretty weak on git / github fundamentals. I think i've raised a PR with the suggested fix - does that look right?

https://github.com/CiscoTestAutomation/genieparser/pull/235

Thanks for looking into it.

[2020-09-14 16:14] ahersi2-cisco commented on #231
Hi Lukeod,

Thanks for the PR, I also submitted the fix on my end, I will update you as soon as the changes are released.

Thank you,
Abdurahman

[2020-09-14 23:43] lukeod opened #239 "NXOS 9.3(5) - C9332C "show interface" parser error"
The parser for "show interface" is only picking up a subset of interfaces on my 9332C.

At a glance, it seems to be skipping interfaces that have this:
`Ethernet1/3 is down (XCVR not inserted)`

Example interface that is missing from the parser response:
[code]

It might be related, but the interface model appears to be wrong for these interfaces too - "enabled" is true even though the interface a

[2020-09-14 23:48] lukeod commented on #239
I've sent a complete "show interfaces" through to pyats-support-ext@cisco.com

[2020-09-15 00:18] lukeod commented on #239
It seems to be the "(XCVR not inserted)" text. I've submitted a PR (i think) for a change that seems to have fixed the problem for me.

[2020-09-15 13:17] jamiecaesar opened #242 "NXOS 'show interface status' parsing error when NVE interfaces exist"
The `show interface status` parser for NXOS works fine unless there is an NVE interface in the output, and then a SchemaMissingKeyError exception is thrown.  If I manually remove the line from the output that contains the `nve1` interface, then the output is successfully parsed, but when the `nve1` interface is in the output, the full traceback is:

[code]

Below is the full content of the `test_p

[2020-09-15 15:38] ahersi2-cisco commented on #231
Hi Lukeod,

You can now see the changes in the updated beta. You can upgrade using the following;

pip install --pre genie.libs.parser

Thank you,
Abdurahman

[2020-09-15 15:38] ahersi2-cisco commented on #230
Hi Petrit,

Sorry for the delay, the changes can now be seen if you upgrade using the following;

pip install --pre genie.libs.parser

Let me know if this helps.

Thank you,
Abdurahman

[2020-09-15 15:41] ahersi2-cisco commented on #202
Hi Arcadius,

If you upgrade to the newest beta, you should see the updated code for your fix;

`pip install --pre genie.libs.parser`

Let me know if this helps.

Thank you,
Abdurahman

[2020-09-16 01:46] thaixuann commented on #232
Hello @MikeJames15 ,
We just released a beta package which contains the fix. Please run the following command upgrade the beta package.

`pip install genie.libs.parser --upgrade --pre`

Please let's know if any issue.

Thanks,
--Thai.

[2020-09-16 02:34] itdependsnetworks opened #244 "Pushing directly to Master"
Is this practice to be expected?

I see the following issues with this practice
* People watching the repo will not be notified
* No "proof" that tests passed before being updated
  * Seems to be likely the alternate workflow is causing tests to not be ran in the same way, as I have seen cases where tests should have failed, but yet were in master. (starting to make sense now)
  * The tests that h

[2020-09-16 14:49] jeaubin commented on #244
To give you a better understanding of the internal workflow -

Internally we are using Github enterprise; following same guidelines as here - make sure unittest pass, etc. (Github enterprise doesnt support workflow yet, so we are using jenkins). Once a month at the release time - or close by, we take all that was worked during that month and merge it here.

* We should be creating a new PR for our

[2020-09-16 14:55] itdependsnetworks commented on #244
Thanks.

Is it possible you are not pulling down from the open source project? There seems to be a gap and that is my only guess.

[2020-09-16 15:05] jeaubin commented on #244
Can you explain what you mean by this ? What is the gap ?

[2020-09-16 15:16] itdependsnetworks commented on #244
Tests are not passing when as an open source contributor I rebase from master.

[2020-09-16 16:01] itdependsnetworks opened #245 "Failed tests not working"
There are seemingly conditions where the tests actually fail, but github actions succeeds.

You can see an example by going to this link and clicking on unit tests. https://github.com/CiscoTestAutomation/genieparser/runs/1113089533?check_suite_focus=true

It is confirmed that pyats returns a none-0 on errors.

![image](https://user-images.githubusercontent.com/9260483/93362704-4b9f8000-f814-11ea-8

[2020-09-16 16:31] jeaubin commented on #245
Found the issue,  we will fix and release a package for it

[2020-09-17 15:18] karmoham commented on #234
Hi Gian,

We will be closing that issue and will handle it through the provided email support.

Thanks,
Karim

[2020-09-17 15:18] #234 closed

[2020-09-17 16:27] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:27] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:27] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:27] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:27] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:28] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:28] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 16:28] MikeJames15 commented on #232
Thai,
       I tried it and as far as I can tell, it works as expected. Please let me know when the final release is out to incorporate it into our release.
Best regards and thanks for the quick responses.

[2020-09-17 21:35] tahigash commented on #242
We've identified the bug and fixed.
Please install beta package by below command. `genie.libs.parser` 20.8.1b3 has the fix.

[code]

Closing this issue, but if you still see the issue, please reopen.

[2020-09-17 21:35] #242 closed

[2020-09-18 18:35] jamiecaesar commented on #242
Looks fixed to me.  Thanks for the quick response!

[2020-09-22 00:10] ahersi2-cisco commented on #228
Hello alumtr,

Sorry for the delay, a fix has been made for this and is currently in code review. Once it is approved I will merge it and can release a beta for you to use. Thank you for the patience.

Abdurahman

[2020-09-22 08:09] Altagot opened #260 "show interface nxos"
Not a big issue but still:
When show interfaces on nxos you can get for flapping : Last link flapped 15week(s) 5day(s)
Checking the parsing :
[code]
Parenthesis and space are not taken into account:

`#Last link flapped 00:07:28
        p18 = re.compile(r'^Last *link *flapped'
                            ' *(?P<last_link_flapped>[a-z0-9\:\s\(\)]+)$')
`

Trying with this is working. Didn't check ot

[2020-09-22 08:31] lzuzcak opened #261 "IOS XE: show isis neighbors broken when no tag is present"
Hello team

The "show isis neighbors" parser is broken for platforms, which do not include tag in first line of output like CSR1000v.

System Id       Type Interface     IP Address      State Holdtime Circuit Id
XXXX           L2   GiX           X.X.X.X     UP    7        XXXX.01

In case that there is no "Tag" line included in output like on ASR920, parser will crash due to "local variable 'isis_

[2020-09-23 16:43] ahersi2-cisco commented on #228
Hello alumtr,

Beta package v20.8.1b6 has been released with the fix, you can install it using the following command;

pip install --upgrade genie.libs.parser --pre

https://pypi.org/project/genie.libs.parser/20.8.1b6/

Thank you,
Abdurahman

[2020-09-25 15:23] thaixuann commented on #232
Thanks @MikeJames15 for your updates. We'll release the official package at the end of this month v20.9.

I will close this ticket. Please let's know if there is anything else.

Thanks,

--Thai.

[2020-09-25 15:23] #232 closed

[2020-09-28 10:00] dan-md opened #268 "[IOS] [interface - learn] broken _IP helper parsing issue"
Hello team,

While I;m tring to learn feture 'interface', I'm getting the following error.

CODE:
ios01 = testbed.devices['tdit01']
ios01.connect()

interfaces = ios01.learn('interface')

===========================
ios int cfg:
interface Vlan65
 bandwidth 1000
 ip address 10.2.2.1 255.255.255.0
 ip helper-address 10.1.100.1
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 standby 65 ip 10.2

[2020-09-28 13:35] Altagot opened #269 "ios xe - Show interface"
When using show interfaces (again :)) got :
`fatal: [switch_test]: FAILED! => {"msg": "parse_genie: '' - Failed to parse command output."}`

checking the interfaces :
`switch_test# sh int eth2/12
Ethernet2/12 is down (SFP checksum error)
 Dedicated Interface
`

SFP checksum error is not taken into account in the script :
`p1 = re.compile(r'^(?P<interface>\S+)\s*is\s*(?P<link_state>(down|up))?'

[2020-09-28 14:25] badalsoyantar commented on #260
Hi,
Can you share sample output with me?

[2020-09-28 15:09] thaixuann commented on #268
Hi @dan-md ,
Thanks reporting the issue.
Could you please send the full device output pyats-support-ext@cisco.com?

Thanks,
--Thai.

[2020-09-28 15:43] KamyarZiabari commented on #261
I will open up PR for this soon.

[2020-09-29 08:40] dan-md commented on #268
Thank you Thai!
Data was sent... let me know if anything else is required.

Kind regards,
Dan

On Mon, Sep 28, 2020 at 5:10 PM THAI NGUYEN <notifications@github.com> wrote:

[2020-09-29 20:32] thaixuann commented on #268
Thanks @dan-md for the outputs. I will work on it and let you know once the issue is fixed.

--Thai.

[2020-09-30 17:47] qduk opened #272 "Github Actions tests failing"
It look like the Actions tests are failing due to the new version of pyats. Import error is pictured below. I was able to get the test to run successfully using pyats version 20.8
![image](https://user-images.githubusercontent.com/38091261/94721176-19fddd00-031b-11eb-83c4-0dd00eb6aec4.png)

[2020-09-30 22:05] tahigash commented on #272
Hi @qduk thanks for reporting. We've already pushed new package `pyats.aetest` v20.9.1 and rerun the GitHub actions and confirmed no issue after the fix.
https://github.com/CiscoTestAutomation/genieparser/pull/236/checks

Closing this issue.

[2020-09-30 22:05] #272 closed

[2020-09-30 22:17] thaixuann commented on #268
Hello @dan-md ,
Could you please check to see what version of parser do you have?

`pip list | egrep "ats|genie"`

I ran interface vlan65 on my parser. It parsed as epxected. I am running with parser v20.9.

[code]

Thanks,
--Thai.

[2020-10-01 07:18] dan-md commented on #268
Hi Thai,

I was running 20.8 ...
Yes, with 20.9 it's working!.

The most interesting I did Update before opening issues and 20.8 was
installed, not 20.9..

Thank you!

Kind regards,
Dan Gaviuc

On Thu, Oct 1, 2020 at 12:18 AM THAI NGUYEN <notifications@github.com>
wrote:

[2020-10-01 07:35] dan-md opened #274 "[IOS] Genie Learn STP - Platform PVST Simulation"
Hello team,

While trying to learn feature STP on IOS, I'm getting an exception: KeyError: 'Platform PVST Simulation'

 pyats version check
You are currently running pyATS version: 20.9
Python: 3.6.9 [64bit]

  Package                      Version
  ---------------------------- -------
  genie                        20.9
  genie.libs.clean             20.9
  genie.libs.conf              20.9
  gen

[2020-10-01 15:03] thaixuann commented on #268
Thanks @dan-md for the updates.
I will close this issue for now.

--Thai.

[2020-10-01 15:03] #268 closed

[2020-10-02 18:57] #202 closed

[2020-10-02 18:57] jeaubin commented on #202
this has been released part of the official released

[2020-10-02 18:57] jeaubin commented on #228
This has been released part of the official release

[2020-10-02 18:57] #228 closed

[2020-10-02 18:58] jeaubin commented on #230
Part of the latest release 20.9

[2020-10-02 18:58] #230 closed

[2020-10-02 18:59] jeaubin commented on #231
Part of our official release 20.9

[2020-10-02 18:59] #231 closed

[2020-10-02 23:45] tahigash commented on #37
@urskog84 sorry for late update.
We've updated schema of `show logging` parser for meta data in 20.9 which is already released this week.
https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers/show%2520logging

And not released yet, but `show logging | exclude <keyword>` will be coming in 20.10 release (end of Oct).

I'm closing this issue now. but please feel free to reopen if

[2020-10-02 23:45] #37 closed

[2020-10-03 00:41] tahigash commented on #229
Hi @Network748
sorry for delayed response.
[code]
for above message, it says `unable to find parser`. It seems correct command is `show interfaces status`. (in your log, `s` was missing after `interface`)

please try with `show interfaces status`.

[2020-10-04 10:22] sogloarcadius commented on #202
Thanks,

Regards

[2020-10-05 14:55] LenzDong commented on #274
Hi,

Thanks for sharing the device output.
The fix will be in the next release v20.10.
If you want to test it in advance, let me know I will release a beta for you

Thanks,

[2020-10-05 15:34] badalsoyantar commented on #260
Added this fix.

[2020-10-05 15:41] #260 closed

[2020-10-05 16:50] erickavila888 opened #284 "Show module returns Parser Output is empty"
I get the Parser Output is empty when I attempt to parse show module on my 4k switch. I made sure both pyats and genie libraries are updated.

Switch version:
[code]

testbed object excerpt:
[code]

IPython output:
[code]

[2020-10-05 17:28] danielgraziano commented on #239
Fixed in PR #285

[2020-10-05 17:28] #239 closed

[2020-10-06 13:58] nniehoff opened #287 "show lldp neighbors detail capitalizing neighboring interface name for Junos devices"
When using genie to parse the output of `show lldp neighbors detail` on a Cisco IOS XR device when the connected device is a Junos device, the Junos interface name is being capitalized:

[code]

In this case interface `TenGigE0/0/0/28/0` is connected to interface `xe-0/1/2` on "switch1" but the interface name being returned is `Xe-0/1/2'`.  I believe this is from [here](https://github.com/CiscoTes

[2020-10-08 01:15] lubnarasheed commented on #158
Hi Mike,

Apologies for the delay in getting back to you on this. We've identified the issue and working to release a fix by the end of this week.

Regards,
Lubna Rasheed

[2020-10-08 09:50] tahigash commented on #284
I've identified the issue. Now working on the fix.

[2020-10-09 15:15] nathantabailey opened #291 "Show vtp status parser fails when vlan mode set to transparent."
On cisco 2960CX, 2960X, and 2960S models.  Using ansible and ansible-galaxy role clay584-parse_genie.

Output from switch(es):
switch-2960CX#show vtp status
VTP Version capable             : 1 to 3
VTP version running             : 3
VTP Domain Name                 : testing
VTP Pruning Mode                : Disabled
VTP Traps Generation            : Disabled
Device ID                       : a488

[2020-10-09 16:52] tahigash commented on #284
This is fixed and fix will be coming with next release v20.10 (end of October).

The problem was, parser was missing for `ios`, but exists for `iosxe`.
as workaround now, below updated yaml should work.

[code]
After v20.10, you can change back the os to `ios`. but keep `platform` and `custom`.

Closing the issue, but please feel free to reopen if any issue with above.

[2020-10-09 16:52] #284 closed

[2020-10-13 19:27] #229 closed

[2020-10-13 19:28] jeaubin commented on #229
Closing as no update and wrong command sent. Feel free to re-open if seen again

[2020-10-13 20:04] LenzDong commented on #287
Hi,

Thanks for sharing the device output.
The fix will be in the next release v20.10.

Thanks,

[2020-10-13 20:51] LenzDong commented on #274
Hi,

We just released a beta package for this issue.
Please upgrade the genie parser package by the following
[code]
Thanks,

[2020-10-13 20:51] LenzDong commented on #287
Hi,

We just released a beta package for this issue.
Please upgrade the genie parser package by the following
[code]
Thanks,

[2020-10-13 21:08] lubnarasheed commented on #158
Hi @MikeJames15,

Could your please try the following beta package for genie.libs.parser and let us know if it resolves your issue?

https://pypi.org/project/genie.libs.parser/20.9.1b0/

This beta includes a fix for the regex that was not being parsed correctly.

I will go ahead and close this issue now. If the issue is still seen, please feel free to raise another issue on GitHub or email us at p

[2020-10-13 21:09] #158 closed

[2020-10-14 11:49] mgdransfield commented on #244
Is this causing make json to fail as iosxe/show_wireless.py has multiple errors in it?

[2020-10-14 13:35] dan-md commented on #274
Hi Team,

I've upgraded the genie lib, looks previous issue was fixed, but I'm
getting new issue:
Full logs are attached.

Traceback (most recent call last):
  File "pyats_examples.py", line 12, in <module>
    interfaces = ios01.learn('stp')
  File "src/genie/conf/base/device.py", line 626, in
genie.conf.base.device.Device.learn
  File
"/srv/netDevOps/py3-venv2/lib/python3.6/site-packages/genie/l

[2020-10-14 13:54] bastell commented on #269
Hi,
Sorry about the delay. This issue has not been forgotten. I will have a proper status update for you later today.

[2020-10-14 14:59] Altagot commented on #269
No problem, thanks by the way for taking this into account.

[2020-10-14 17:53] LenzDong commented on #274
Hi

Seems your device output for command ```show spanning-tree mst detail``` is incomplete.
Can you send the output to this email ```pyats-support-ext@cisco.com```

Thanks,

[2020-10-14 23:18] zkzqzk opened #296 "learn bgp fail on iox xr 5.2.4"
run device.learn('bgp') on iox xr 5.2.4, but it fails with below error.  could you please help?

Issue while parsing: <class 'genie.libs.parser.iosxr.show_bgp.ShowBgpInstanceAllAll'>

Traceback (most recent call last):
  File "src/genie/cli/commands/learn.py", line 365, in genie.cli.commands.learn.LearnCommand._retrieve_ops
  File "/home/zuok/venvs/netdevops1/lib/python3.8/site-packages/genie/libs

[2020-10-15 04:36] bastell commented on #269
Hi, I've implemented the required changes to the parser. Once they have been accepted I will let you know when a patch is available.

[2020-10-15 08:22] k01ek opened #297 "NXOS show port-channel summary, second line members does not parsed"
Trying to parse port-channel summary for nexus 3048 with 6.0(2)U6(10).

Device output:
[code]

Result:
[code]

[2020-10-15 11:12] mgdransfield commented on #297
added a fix in mgdransfield/genieparser nxos branch but waiting for PR192 to be completed to generate new PR

[2020-10-15 13:15] k01ek commented on #297
@mgdransfield it was rapidly! nice

[2020-10-15 19:50] ThomasJRyan commented on #296
Hi there, this looks to be a parsing error. There's a good chance whatever the device output was didn't match what was expected. Are you able to provide the device output that would have been given right before this error occurred?

[2020-10-16 01:36] zkzqzk commented on #296
Hi, how can I PM you the additional output?  or would you run learn BGP against a IOS-XR?  I think the issue can be replicated. I tried on a couple of different version, all give me the error.

[2020-10-16 11:27] mgdransfield opened #299 "pull request 275 issue"
PR275 seems to have added an incomplete schema in iosxe/show_wireless.py so that make json fails

[2020-10-16 13:04] tahigash commented on #299
@mgdransfield thanks for reporting. I'm now looking into this.

[2020-10-16 14:27] tahigash commented on #299
thanks for reporting again. fixed on `master` branch.
Please pull latest code on `master` branch and check.

closing this issue. please feel free to reopen if you see the same.

[2020-10-16 14:27] #299 closed

[2020-10-19 13:37] xiaoxinz-cisco commented on #297
As @mgdransfield  comments, PR is https://github.com/CiscoTestAutomation/genieparser/pull/192

[2020-10-19 14:46] ThomasJRyan commented on #296
You can email me the output directly at `thomryan@cisco.com`

[2020-10-20 14:11] bpastravanu commented on #296
When tried to learn BGP on IOS XR 6.5.3 I also got bellow:

Issue while parsing: <class 'genie.libs.parser.iosxr.show_bgp.ShowBgpInstances'>

Traceback (most recent call last):
  File "src/genie/cli/commands/learn.py", line 365, in genie.cli.commands.learn.LearnCommand._retrieve_ops
  File "/usr/local/lib/python3.6/site-packages/genie/libs/ops/bgp/iosxr/bgp.py", line 546, in learn
    self.make()

[2020-10-20 21:22] zkzqzk commented on #296
Yes, this is the exact problem I am facing,  looks like something related to the parser as you said.   It would be great if it can be fixed in the coming updates.

Regards,

Ken
________________________________
发件人: bpastravanu <notifications@github.com>
发送时间: 2020年10月20日 14:11
收件人: CiscoTestAutomation/genieparser <genieparser@noreply.github.com>
抄送: zkzqzk <zkzqzk@hotmail.com>; Author <author@nor

[2020-10-21 19:41] rick-allen-206 opened #308 "NXOS vlan_dict referenced before assignment"
`Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserCommand.parse
  File "src/genie/conf/base/device.py", line 551, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 578, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metaparser/_metaparser.py", line 272, in genie.metapa

[2020-10-21 20:52] ThomasJRyan commented on #296
Hm... Alright, it's almost certainly due to the parser being developed for a newer/older version of IOSXR. I can get this fixed up for the next release for you!

[2020-10-22 15:03] bpastravanu commented on #296
Sounds great, thanks Thomas!

[2020-10-22 21:37] brandomando opened #313 "parse_genie show interface ios_xe parser not capturing media_type on Fa1 of Cat4507 switches"
media_type is 100BaseTX/FX, but it is not being captured by the parser:

Raw input:
[code]

Parsed Output:
[code]

[2020-10-22 23:08] zkzqzk commented on #296
Thank you very much! Thomas.

Regards,

Ken
________________________________
发件人: bpastravanu <notifications@github.com>
发送时间: 2020年10月22日 15:04
收件人: CiscoTestAutomation/genieparser <genieparser@noreply.github.com>
抄送: zkzqzk <zkzqzk@hotmail.com>; Author <author@noreply.github.com>
主题: Re: [CiscoTestAutomation/genieparser] learn bgp fail on iox xr 5.2.4 (#296)

Sounds great, thanks Thomas!

―
You

[2020-10-23 16:33] KamyarZiabari commented on #308
Hi @rick-allen-206
Can you please provide a sample CLI output of what is causing this error?
Thanks!

[2020-10-26 19:40] rick-allen-206 commented on #308
This is the command being run: `pyats parse 'show interface brief' --testbed-file sample_testbed.yaml --devices hq-core-n9k-02`
This is the output:
[code]

[2020-10-26 19:42] rick-allen-206 commented on #308
So far I have only tested this on NXOS

[2020-10-26 19:47] KamyarZiabari commented on #308
Hi @rick-allen-206,

I meant if possible share the "show interface brief" output from that nxos device. Without having the device output I am not able to generate the error on my end. Is sharing that possible?

[2020-10-26 21:01] rick-allen-206 commented on #308
Yeah, sorry I didn't understand. Here is the output of that command.
[ShowInterfaceBrief.txt](https://github.com/CiscoTestAutomation/genieparser/files/5441506/ShowInterfaceBrief.txt)

[2020-10-26 21:03] KamyarZiabari commented on #308
Perfect thanks. Let me look into it and get back to you

[2020-10-27 19:15] ThomasJRyan commented on #296
I'm going to need the output for the commands
[code]
To fix these parsers. Would you mind emailing them to pyats-support-ext@cisco.com and including my name in them please? Thank you

[2020-10-28 14:46] KamyarZiabari commented on #261
Hi @lzuzcak
The fix is released with the latest changes of pyats
please update using
```pip install --upgrade pyats[full]```

[2020-10-29 08:08] lzuzcak commented on #261
Hello @KamyarZiabari

I have tested the fix, it works fine !

Thank you

Lubos Zuzcak

[2020-10-29 08:08] #261 closed

[2020-10-29 13:43] #287 closed

[2020-10-29 13:46] LenzDong commented on #274
Hi,

We have released version v20.10 which including the fix.
Please upgrade the packages and try
[code]
Thanks,

[2020-10-29 17:58] ThomasJRyan commented on #291
This has been fixed in the latest beta release. You can install it like so:
`pip install --pre genie.libs.parser`

[2020-10-29 17:58] #291 closed

[2020-11-02 09:16] dan-md commented on #274
Hi team,

still have it's not working:

Traceback (most recent call last):
  File "/srv/netDevOps/networking/network_profile/corp/pyats_examples.py",
line 12, in <module>
    interfaces = ios01.learn('stp')
  File "src/genie/conf/base/device.py", line 626, in
genie.conf.base.device.Device.learn
  File
"/srv/netDevOps/py3-venv2/lib/python3.6/site-packages/genie/libs/ops/stp/iosxe/stp.py",
line 128,

[2020-11-02 09:44] dan-md commented on #274
just to let you know, I was able to solve the issue with  -
pkg_resources.VersionConflict: (genie.libs.parser 20.10
(/srv/netDevOps/py3-venv2/lib/python3.6/site-packages),
Requirement.parse('genie.libs.parser<20.10.0,>=20.9.0'))

But still getting the same error while trying to learn feature STP. Error
log in previous email.
Let me know if you need any additional information.

Kind regards,
Dan

O

[2020-11-02 17:53] KamyarZiabari commented on #313
Hi @brandomando , this issue is resolved and released. Please update your pyats using pyats install --upgrade ats[full], and changes will reflect in your environment.

Regards,
Kamyar

[2020-11-02 18:06] ThomasJRyan commented on #296
I've gotten an unreleased fix made for `show bgp instance all all all`. I still need the output from @bpastravanu's commands to fix those up though

[2020-11-02 18:14] LenzDong commented on #274
Hi,

This is another parser issue in ```show spanning-tree detail```,  the issue from ```show spanning-tree mst detail``` is fixed,
Could you please send the output of ```show spanning-tree detail``` to ```pyats-support-ext@cisco.com```.
I will fix it and give you a beta package.

Thanks,

[2020-11-02 18:27] LenzDong commented on #244
Hi,

We have released latest v20.10 last week. And I don't see the issue with latest release.
I will close this thread. Please update with the latest version. Let us know if any other issue with latest.

Thanks,

[2020-11-02 18:27] #244 closed

[2020-11-02 20:54] zkzqzk commented on #296
Thank you very much for the update.

Let me know if you need anything else from me for resolving the issue.

Thanks,

Ken

Sent from my iPhone

[2020-11-03 00:08] KamyarZiabari commented on #308
Hi @rick-allen-206  The fix is in place, and about to be merged. As soon as it is merged we release a beta for you and I will update you about how to have access to latest changes.

Regards,
Kamyar

[2020-11-03 16:41] bpastravanu commented on #296
Submitted Thomas, thank you.

[2020-11-03 17:37] KamyarZiabari commented on #308
Hi @rick-allen-206  A beta is released. You can have access to the latest changes by running this command.

pip install --upgrade -pre genie.libs.parser which update your genieparser code and it will reflect the changes.

Let me know if anything
Regards,
Kamyar