[2020-11-04 11:56] #191 closed

[2020-11-04 20:19] #297 closed

[2020-11-04 22:11] ThomasJRyan commented on #296
Alright. Thank you both for being so patient with this. I've released a beta package that will fix your issues up. You can install it like so:

`pip install --pre genie.libs.parser`

If there are any other issues feel free to open up another post!

[2020-11-04 22:11] #296 closed

[2020-11-05 15:59] vishnuo-lab opened #332 "IOS-XR Error when Parsing "Show interfaces GigabitEthernet100/0/0/8""
I'm getting error when parsing interfaces that being with 100/x/x/x (both for TE and GI interfaces). I am running the latest pyats 20.10 and Genie 20.10.

Error:

2020-11-05 10:44:56,083: %UNICON-INFO: +++ LABASR9912: executing command 'show interfaces GigabitEthernet100/0/0/8' +++
show interfaces GigabitEthernet100/0/0/8
Thu Nov  5 10:46:57.002 EST
GigabitEthernet100/0/0/8 is administratively dow

[2020-11-05 21:06] rick-allen-206 commented on #308
Thanks, I'll give it a go!

[2020-11-06 11:43] wilbeacham85 opened #334 "show route-map all SchemaUnsupportedKeyError"
I get the following error when parsing show route-map all command

SchemaUnsupportedKeyError: RM-FILTER-REDISTRIBUTED-DMVPN-ROUTES-IN.statements.10.conditions: Unsupported keys: ['match_tag_list']

command output

[code]

[2020-11-06 15:20] jamiecaesar opened #335 "Can't "offline" parse IOS OSPF commands because parser makes additional calls to the device"
The IOS/IOSXE parsers for OSPF commands make additional calls to the device (via `self.device.execute()`) to gather additional data for the returned output.

This causes problems with "offline" parsing (i.e. You want to use the Genie parsers on a command output gathered by some other means, NOT using pyATS to connect to the device).  The parse_genie filter for Ansible is an example of this:  Ansib

[2020-11-06 18:58] LenzDong commented on #274
Hi Dan,

Could you share the device output for `show spanning-tree detail` command.

Thanks,

[2020-11-07 11:24] #308 closed

[2020-11-09 02:55] #313 closed

[2020-11-09 02:58] brandomando commented on #313
Thanks very much!

On Sun, Nov 8, 2020, 20:55 KamyarZiabari <notifications@github.com> wrote:

[2020-11-09 08:07] dan-md commented on #274
Hi team,

Sure find it attached!

kr,
Dan

On Fri, Nov 6, 2020 at 7:58 PM LenzDong <notifications@github.com> wrote:

show spanning-tree detail

 MST0 is executing the mstp compatible Spanning Tree protocol
  Bridge Identifier has priority 8192, sysid 0, address 5897.bd79.c1c0
  Configured hello time 2, max age 20, forward delay 15, transmit hold-count 6
  We are the root of the spanning tree
  To

[2020-11-09 09:19] mgdransfield opened #336 "show_cloudexpress_applications error"
There is an unexpected indent on line 122 in viptela/show_cloudexpress_applications.py recently added.

[2020-11-09 20:23] ahersi2-cisco commented on #332
Hi vishnuo,

It appears the schema for this parser was requiring the key 'type' to be included, which your device output didn't include. Simply putting 'Optional' in front of the key 'type' will fix this issue. You could find it in the class 'ShowInterfacesSchema', in the file 'show_interface.py' under iosxr. I made the changes on my end and tested it, and it works fine. It will be included in the

[2020-11-09 21:35] vishnuo-lab commented on #332
Hey Abdurahman,

I made the changes and it fixed the problem. Thanks for all your help.

[2020-11-09 21:35] #332 closed

[2020-11-09 21:36] ahersi2-cisco commented on #332
Glad to help

[2020-11-10 14:35] LenzDong commented on #274
Confirmed the fix is working fine with latest beta package

[2020-11-10 14:35] #274 closed

[2020-11-10 15:04] ahersi2-cisco commented on #336
Hi,

I see the issue, and will push the fix. Thanks for catching that.

Thank you,
Abdurahman

[2020-11-10 19:20] tahigash commented on #334
The issue in parser have been identified and fixed internally. The fix will come with next release 20.12 (middle of Dec).

Let me know if you want to try a beta package in advance.

[2020-11-10 19:20] #334 closed

[2020-11-20 15:34] KamyarZiabari commented on #335
@jamiecaesar We are addressing the issue, and the adjustments are in Pull requests. Will let you know how to update as soon as the code is merged.

[2020-11-20 15:47] jamiecaesar commented on #335
Thank you for the update!

[2020-11-20 16:03] Tristou27 commented on #336
Hello,

I've add this modification in a recent PR, else the code was in error. It has been merged with #340

Rgds
Tristan

[2020-11-23 06:29] mgdransfield commented on #336
looks fixed, thanks

[2020-11-23 06:29] #336 closed

[2020-11-25 22:25] beatsbears opened #344 "Regex Denial of Service risk in asa show_inventory"
The regex on this line https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/asa/show_inventory.py#L53 is susceptible to reDOS.

An example payload like
[code]
will cause the function execution to stall for an extremely long time.

I believe this can be fixed by updating the pattern to
[code]

[2020-11-26 20:45] ahersi2-cisco commented on #344
Hi beatsbears,

Thank you for sharing the suggestion! Just to let you know genieparser is open-sourced, and we encourage users to create pull requests with their fixes. If it gets approved we will merge it into our code base. Let me know if this is something that interests you.

Also, the doc below gives instructions on creating pull requests if you need it, thank you!
https://docs.github.com/en/f

[2020-12-08 03:47] KamyarZiabari commented on #335
Hi @jamiecaesar
I released a beta package for you. Command to install the patch
pip install --upgrade --pre genie.libs.parser
Also If you install the pyats version 20.12 on Wednesday 16th (), you will have these changes as we officially release pyats this month on 15th.

[2020-12-08 03:47] #335 closed

[2020-12-08 09:03] Altagot opened #352 "ios - show interfaces"
When using show interfaces on a port-channel only ( parse | show interface <interface>) the script is adding some informations on the interfaces :
[code]
Problem is with that is the mandatory field of the schema does not exist and error is prompt : ansible task failed.
So when using parsing only on dedicated interface, it should not go into that loop.

[2020-12-08 13:54] wilbeacham85 opened #353 "SchemaMissingKeyError: Missing keys: Error with show switch parser"
Hey,

When running show switch parser I get the following error

SchemaMissingKeyError: Missing keys: [['switch', 'mac_persistency_wait_time']]

The device is an 2960X and is running code version 15.2(7)E2. The following output is given when by the cli

[code]

[2020-12-08 15:17] KamyarZiabari commented on #335
@jamiecaesar
For the command to work, and parser to pick it up, you need to run it like below
```parsed_output = device.parse(show ip ospf neighbour detail__, output=raw_cli_output)```
Those double under score at the end of the command, is give you the ability to run this command ```show ip ospf neighbour detail``` in offline mode. We added this only for a few commands as the original ones needed

[2020-12-09 16:30] Altagot opened #356 "nxos - show interfaces"
Hello,
Message that are not taken into account :
Ethernet1/11 is down (inactive)
Ethernet1/12 is down (Transceiver validation failed)
Ethernet1/13 is down (SFP validation failed)
Ethernet1/13 is down (Channel admin down)

Needs to be add :
r'(\(inactive\))?'
r'(\(Transceiver\s+validation\s+failed\))?'
r'(\(SFP\s+validation\s+failed\))?'
r'(\(Channel\s+admin\s+down\))?')

[2020-12-09 20:54] ThomasJRyan commented on #353
This has been fixed and will be available for the next release (next week). Thank you very much for bringing this to our attention

[2020-12-09 20:54] #353 closed

[2020-12-09 22:08] ahersi2-cisco commented on #352
Hi Altagot,

Can you provide the full device output you used to get this error?

Thank you,
Abdurahman

[2020-12-10 18:31] ahersi2-cisco commented on #344
Hi beatsbears,

Just following up on your earlier suggestion. I don't believe you submitted a PR so I went ahead to look to make the change myself. However, I don't really see this suggestion as a fix. The regex pattern you provided and the one we currently have won't match the sample output you showed. This would be a failed match. Did you come across a sample output like the one you provided or

[2020-12-12 03:52] itdependsnetworks opened #357 "Tests are failing"
@ahersi2-cisco as per https://github.com/CiscoTestAutomation/genieparser/pull/348#issuecomment-736011102 the constant is in the incorrect location, and the tests are not passing.

![image](https://user-images.githubusercontent.com/9260483/101973077-5004ea80-3c03-11eb-9b0c-cf1be4ed63e4.png)

[2020-12-14 11:03] RomainGuilloux opened #358 "[IOSXR] show mpls ldp discovery"
Hello,

   I get the error "genie: Parser Output is empty - Failed to parse command output." when trying to use this parser on an IOSXR device.

- Ansible output:

[code]

- OS version:

[code]

- Genie version:

[code]

- Ansible playbook:

[code]

Thanks.

[2020-12-14 15:38] ahersi2-cisco commented on #357
I need to modify the github action to use pyats run instead of just running the script, which is why the unit tests are failing here

[2020-12-15 18:28] ThomasJRyan commented on #358
Hi there! This is a common issue due to the many different versions of IOS and its output. It just means that the parser built for the command doesn't exactly match it. With that said however, it doesn't look like a parser exists for that command on IOSXR, and your Ansible playbook says you're using IOS, rather than IOSXR.

If you're looking to use this parser on IOSXR then, if you're willing, I h

[2020-12-16 12:48] RomainGuilloux commented on #358
Hello @ThomasJRyan , thanks for you detailed answer 👍
I think the best way is to create a parser for iosxr for 'show mpls ldp discovery'.
I will try to create it by myself.

[2020-12-16 12:48] #358 closed

[2020-12-18 13:51] nickrusso42518 opened #362 ""show bgp {afi} all" is not a command"
The word "all" should be removed from the source code and documentation. The correct command is simply
`show bgp {afi}`:

Incorrect:
[code]

Correct:
[code]

https://github.com/CiscoTestAutomation/genieparser/blob/d115590cbcd0ccade6bc0fbaa0995810304be98a/src/genie/libs/parser/iosxe/show_bgp.py#L580

[2020-12-18 16:23] thaixuann commented on #362
Thanks @nickrusso42518 for pointing out the issue. I will take a look and update.

--Thai.

[2020-12-31 01:56] itdependsnetworks opened #370 "Multiple ShowSystemInternalL2fwderMac"
There are two ShowSystemInternalL2fwderMac parsers in NXOS route. It is not clear to me which is the intended version.

https://github.com/CiscoTestAutomation/genieparser/blob/31f634272b09d7d74ec1f40fe6f94120b1225eee/src/genie/libs/parser/nxos/show_system.py#L248
https://github.com/CiscoTestAutomation/genieparser/blob/31f634272b09d7d74ec1f40fe6f94120b1225eee/src/genie/libs/parser/nxos/show_fdb.py#

[2020-12-31 06:50] klbnet opened #371 "junos "show interface" is missing the description field"
junos "show interface" is missing the description field from the physical interfaces. Thank you.

Sample Raw:
    "stdout_lines": [
        [
            "Physical interface: em0, Enabled, Physical link is Up",
            "  Interface index: 8, SNMP ifIndex: 17",
            "  Description: ADMIN|MGMT|DEVICE",
            "  Type: Ethernet, Link-level type: Ethernet, MTU: 1514, Speed: 1000mbps",

[2021-01-01 10:25] tahigash commented on #371
@klbnet I checked the regex for description, but it seems fine. could you please send the whole show output from device to pyats-support-ext@cisco.com?

[2021-01-04 15:42] klbnet commented on #371
@tahigash thank you for replying and apologies for my late reply. I found the regex for description and they rely on \S+ . When I smoothed over my description to paste, I removed some white space from the middle.
After testing, it seems the whitespace is causing the description not to show in the pyats output.
Is this something fixable in pyats?

Example:
et-0/1/0        up    down TEST-DESC:1|TES

[2021-01-04 16:01] thaixuann commented on #370
Hi @itdependsnetworks ,
Could you please let me know what issue do you have when you are using these 2 parsers?

Thanks,
--Thai.

[2021-01-04 16:47] tahigash commented on #371
@klbnet thanks for sharing the cause due to space in description. I internally fixed the parser. The fix will be ready at end of Jan as official package.

Let me know if you need the fix in advance. I will release beta package for you.

[2021-01-04 16:49] klbnet commented on #371
I would love in advance, but as a newbie I am not sure how to switch between beta and prod releases?
Thank you for the quick turn around and Happy new year!

[2021-01-04 17:17] klbnet opened #372 "junos "show chassis hardware" :: local variable 'chassis_inventory_dict' referenced before assignment"
junos "show chassis hardware" command is not parsing. Error is:
parse_genie: local variable 'chassis_inventory_dict' referenced before assignment

Looked at previous issues and saw genie.libs.parser are usually updated for this issue?
I have this version currently installed:
genie.libs.parser (20.12.1b0)

TASK [Get Chassis/Inventory From Device] ****************************************************

[2021-01-04 19:00] LenzDong commented on #372
Hi,

Can you please store the device output in a file and send the file to pyats-support-ext@cisco.com
We will take a look and fix the issue.

Thanks,

[2021-01-04 21:12] tahigash commented on #371
@klbnet yeah, happy new year! beta package can be upgraded by `--upgrade` and `--pre` options.

Please upgrade parser library like below.
[code]
if your pyATS is not 20.12 yet, please upgrade to 20.12 first by below command.
[code]

beta package is released, so closing this issue. feel free to reopen if same issue.

[2021-01-04 21:12] #371 closed

[2021-01-04 22:10] LenzDong commented on #372
update to latest beta package resolve the issue

[2021-01-04 22:10] #372 closed

[2021-01-05 22:38] jamiecaesar opened #374 "IOS 'show cdp neighbor detail' parser fails when double-quote is in platform name"
Some devices use `"` in the platform name, which causes the IOS parser for `show cdp neighbor detail` to throw `SchemaMissingKeyError`.   An example of the output is:
[code]

Adding `"` to the `platform` capture group that is a part of the regex under the `platf_cap_re` (line 213 of show_cdp.py) variable should resolve this problem.

[2021-01-06 15:50] badalsoyantar commented on #356
Added support for this output.

[2021-01-06 15:50] #356 closed

[2021-01-06 19:10] jamiecaesar commented on #374
@xiaoxinz-cisco I see you are assigned to this.   I was considering trying to figure out how to work with this repository and submit a PR to fix this parser.   I wanted to check with you, though, so we don't duplicate work.   Are you OK with me taking a shot at fixing this?

[2021-01-06 23:25] jamesditrapani commented on #374
@jamiecaesar I had already fixed this & had the branch ready to PR. However, for the sake of learning I'm happy to trash that and let you go ahead :)

[2021-01-07 14:31] jamiecaesar commented on #374
@jamesditrapani If you already have it all written up, I'd say just go ahead and do it.  I'm still fumbling around with figuring out how all the unit tests work (I was planning on going the TDD route -- write a new test that fails, fix it, make sure all tests run, then submit), and I can fumble through that regardless of if this is fixed or not.  I should be able to review your PR to see if what y

[2021-01-08 00:43] jamiecaesar commented on #374
@jamesditrapani I didn't see any pull requests from you yet, and I think I have everything figured out, so I went ahead and submitted one just now.

[2021-01-08 03:40] jamesditrapani commented on #374
All good! 👍

[2021-01-08 17:54] jamiecaesar commented on #374
This should be fixed with the merge of PR376.

[2021-01-08 17:54] #374 closed

[2021-01-13 13:51] k01ek opened #377 "nxos - show ip prefix list"
Parser does not work.

[code]

genie version

[code]

[2021-01-13 20:15] TwistByrn opened #378 "ios/iosxe "show ip protocols" failing to parse"
parse_genie: ''Device'' object has no attribute ''execute'' - Failed to parse command output.'

    Python 3.8.5
    pyATS/Genie 20.12
    Ansible 2.10.4
    iosv Version 15.6(2)T

[2021-01-14 10:15] nouse4it opened #379 "ios/iosxe "sh access-lists" fails to parse ACL-Type"
Genie Parser only detects if ACL is IPv4 or IPv6 Type ACL.
Unfortunately, there is no parsing for if it´s a Standard or Extended ACL.

Parsing result of a bunch of ACLs:

Standard ACL:
[code]

Extended ACL:

[code]

[2021-01-14 16:19] ThomasJRyan commented on #378
Hello,

This error could be caused by any number of issues. One of the more likely ones is a misconfigured testbed yaml file or you having not connected to your device. Can you give me the process you took that caused this please

[2021-01-14 17:23] TwistByrn commented on #378
Thanks for the reply Ryan.

https://github.com/clay584/genie_collection for ansible
Here is the playbook that is being used

---

- name: testing out parse genie
  hosts: ISP-PE2
  gather_facts: False
  connection: local
  collections:
    - clay584.parse_genie
  tasks:
  # - name: Define Provider
  #   set_fact:
  #     provider:
  #       host: "{{ inventory_hostname }}"
  #       username: "{{

[2021-01-15 05:24] TwistByrn commented on #378
Looks like the Playbook is missing

---

- name: testing out parse genie
  hosts: ISP-PE2
  gather_facts: False
  connection: local
  collections:
    - clay584.genie
  tasks:
  - name: Get Data From Device
    ios_command:
      commands:
        - "show ip protocol"
    register: ios_output

  - name: Print Structured Data
    debug:
      msg: "{{ ios_output['stdout'][0] | clay584.genie.parse_g

[2021-01-18 14:13] rohit04saluja opened #380 "Nexus system version should be set of integer values rather than string"
[code]

According to schema, ```system_version``` is a string value.

This should be provided as a set of integer values rather than since

## Actual Output
```'system_version': '10.1(1) [build 10.1(0.256)]'```

## Expected Output
```'version': (10, 1, 1)```

[2021-01-18 22:04] BenoitLarouche27 opened #381 "iosxr ShowIpInterfaceBrief: parser too strict for vrf_name"
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxr/show_interface.py#L81

the vrf_name can (at least) have dashed and underscore in their names, but the current regex parser doesn't accept them, causing non-parsed lines, and raising an exception:
`genie.metaparser.util.exceptions.SchemaEmptyParserError: Parser Output is empty`

Example of a more complex line

[2021-01-19 18:59] LenzDong commented on #381
Thank you for reporting the issue.
The fix will be included in v20.1 release on Jan 26

[2021-01-21 05:10] rohit04saluja commented on #380
I am talking about ```['platform']['software']['system_version']```

[2021-01-25 06:35] rohit04saluja opened #383 "show eigrp neighbor should be type ipaddress and not string"
```ShowIpv4EigrpNeighbors``` returns ```eigrp_nbr``` as ```str```. Need the nbr address as ```ipaddress.IPv4Address``` or ```ipaddress.IPv6Address```

## Actual Output
[code]

## Expected Output
[code]

[2021-01-25 17:58] tahigash commented on #383
@rohit04saluja what's the matter with string? The change will break someone's script which uses the parser.

[2021-01-25 18:21] rohit04saluja commented on #383
Since it's an ip address to perform any ip address operations the string needs to be converted to ```ipaddress.ip_address```. Wouldn't it be better to have it in a standard class?

Similar thoughts for other parameters like time

[2021-01-25 18:56] tahigash commented on #383
sorry, currently we prefer to return string instead of object like `IPv4Address` in parsed_output.
if you need something like above, please do after getting string from parsed output.

[code]

[2021-01-27 17:48] ecchong commented on #129
Hi,

Just stumbled upon this old post with the similar error message when running via Ansible.  How can I specify the `platform = 'c9300'`?  As a host variables?

Thanks

[2021-01-28 18:40] #383 closed

[2021-01-28 19:43] xiaoxinz-cisco commented on #379
Hi @nouse4it

Can you please share a sample output or error message you saw?

[2021-01-28 19:52] #380 closed

[2021-01-29 08:34] nouse4it opened #389 "Parsing fails for Port-Channel"
`r = task.run(task=netmiko_send_command, command_string="sh interfaces gi1/0/1", use_genie=True)`
results in parsing the interface correcty for all Devices the task was ran against:

[code]

But when you try this against a Port-Channel Interface with
`r = task.run(task=netmiko_send_command, command_string="sh interfaces po1", use_genie=True)`
only the port-channel of the last device that the task

[2021-01-29 08:35] nouse4it commented on #379
You can see a sample output in my initial message.
That was the output of the parsing of the ACL.
I just removed some specific informations like ip addresses

[2021-01-29 11:43] somebody78 opened #390 "Parser for show bgp summary failed"
Hello,

specifically I tested the command "show bgp instance <instance> vrf <vrf> <address_family> summary" and I got this error message:

2021-01-29 12:33:37,902: %UNICON-INFO: +++ router1 with alias 'mgmt': executing command 'show bgp instance default vrf admmp ipv4 unicast summary' +++
show bgp instance default vrf admmp ipv4 unicast summary
Fri Jan 29 12:33:38.069 MEZ
BGP VRF admmp, state: Act

[2021-02-01 15:16] ahersi2-cisco commented on #352
Please reopen issue if can provide output.

[2021-02-01 15:16] #352 closed

[2021-02-01 15:22] ahersi2-cisco commented on #357
issue fixed

[2021-02-01 15:22] #357 closed

[2021-02-01 21:23] #381 closed

[2021-02-02 19:27] ahersi2-cisco commented on #389
Hi nouse-4it,

I just want to clarify some things and ask a few questions. You mentioned when you try this against a Port-Channel Interface only the port-channel of the last device that the task ran against is correctly parsed. Are you saying for the task you have, there are multiple devices that should be parsed, but you are only seeing the parsed output for the last device defined in your task?

[2021-02-03 13:52] nouse4it commented on #389
Hello ahersi2-cisco,
thanks for taking care of the issue.
Yes there are mulitple devices that should be parsed, but I´m only seeing the parsed output for the last device definded in the task.
As I posted the output above, there is a output for the commad 'sh interfaces po1' but it´s not parsed. The only output that is parsed is the last device in the hosts file. I´ll put the hosts file below.

[co

[2021-02-03 22:33] badalsoyantar commented on #390
Hi @somebody78 Issue if fixed. Will ping you here once released.

[2021-02-04 16:19] xiaoxinz-cisco commented on #379
Hi @nouse4it ,

The above ones are parsed output, we need original output to fix the parser, for example:

golden_output_output.txt: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/tests/ShowAccessLists/cli/equal/golden_output_output.txt

[2021-02-04 17:58] ahersi2-cisco commented on #389
Hi,

Thanks for the update. It looks like I found the source of the issue, and will make the update on my end. I will then release a beta so those changes can be accessible to you. Before doing so however, do you mind confirming what os you are using? Thank you.

Abdurahman

[2021-02-05 06:21] ThomasJRyan commented on #378
If I'm understanding this, it almost looks as if you aren't using a device at all? In which case you need to manually supply the output through the `output` parameter

[2021-02-06 02:19] tahigash commented on #379
@nouse4it as @xiaoxinz-cisco asked, could you please send the actual show command outputs to pyats-support-ext@cisco.com?

[2021-02-08 21:16] #378 closed

[2021-02-09 18:12] urskog84 opened #394 "show ip nbar version active"
I missing the parser for `show ip nbar version active`

[2021-02-09 22:12] danielgraziano commented on #394
Hi @urskog84 this is correct, we do not have this parser developed. We encourage the community to develop and contribute apis/parsers/etc. If you are willing to do this we have a guide that explains how to here.

How to write a parser: https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

Contribution Guidelines: https://pubhub.devnetcloud.com/media/pyats-

[2021-02-10 04:40] mdeng10 opened #395 "Genie fails to parse show inventory for stacked devices"
Attempting to use genie to parse `show inventory` for an IOSXE device results in

[code]

The device in question is a stacked device, I've done some testing and found that this error occurs when a module in the inventory has a name that genie doesn't like

i.e.

[code]

will result in the error mentioned above, however if the stackports are renamed to the following, no error is returned

[code]

a

[2021-02-10 06:37] nouse4it commented on #389
Hi Abdurahman,

thank you for the good news. I´m did the test with a CentOS7 and a Ubuntu 20.04 Machine

Regards
Ben

[2021-02-10 06:55] nouse4it commented on #379
@xiaoxinz-cisco @tahigash I´m sorry I misunderstood. There is the actual output of the command `show access-lists`:
[code]

I hope this is the output you meant?

[2021-02-11 07:31] ogruca opened #396 "iosxe - show ip bgp neighbors {neighbor} received-routes- failed to parse command output"
Hi All
Thank you for this great contribution, apologies if this is a simple one but i am using this parser above to parse through received routes and getting the error:
"parse_genie: cli() missing 1 required positional argument: 'neighbor' - Failed to parse command output"

This is the parser that i am using in the task.
varx: "{{ yyy.stdout[0] | parse_genie(command='show ip bgp neighbors {neighbo

[2021-02-11 10:26] pcorpx opened #397 "show interface parser doesn't represent units of speed measurement"
Hello! We faced with problem of using data from 'show interface' parser. We'd like to see current speed and bandwidth. But unfortunetly the object we retrieve represents only numerical value and as follows mess up us with the lack of measurement units.
Would you mind to change regexp and add key/value pair to result object?

[2021-02-11 14:56] RichardAtkin opened #398 "show ap cdp neighbor - parse fail"
**As tested:**
9800-40 WLC running IOS-XE 17.3.2
Ansible-Playbook v2.9.6
Python v3.8.5
clay584/parse_genie ansible plugin

**Ansible Playbook:**
- hosts: WLC
  gather_facts: no
  connection: network_cli
  roles:
    - clay584.parse_genie
  tasks:
    - name: Run the command 'show ap cdp neighbor'
      ios_command:
        commands:
          - show ap cdp neighbor
      register: cdpneigh

    -

[2021-02-11 16:28] ahersi2-cisco commented on #344
This issue will be closed, feel free to open it up again if you see any issues

[2021-02-11 16:28] #344 closed

[2021-02-11 18:30] ahersi2-cisco commented on #389
Hi Nouse4it,

The fix has been merged into our code base, I will update you once there is a release that has the changes.

Thank you,
Abdurahman

[2021-02-11 18:47] danielgraziano commented on #396
@ogruca you need to parse the actual command. An example could be:
`show ip bgp neighbors 192.168.0.1 received-routes`

[2021-02-11 18:51] danielgraziano commented on #397
@pcorpx we encourage contribution from the community. Would you be interested in making this enhancement and contributing back? If so please let me know and you can find the information required below:

How to write a parser: https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html
Contribution Guidelines: https://pubhub.devnetcloud.com/media/pyats-development

[2021-02-14 11:00] tahigash commented on #379
@nouse4it thank you for the output. yes, that's what we wanted to see.

Based on my understanding, parsing itself is no issue, but you want to have something like below if the ACL is standard or extended?
[code]

[2021-02-14 16:32] nouse4it commented on #379
@tahigash yes, that would ge great if this type of information could be there.

[2021-02-14 17:55] urskog84 commented on #394
No Problem @danielgraziano, i will add the parser my self.

Hmm, insetting when i looking true the source code. I can see that you have update the structure of the tests. putting the return object and the cli_output in separate files..

[2021-02-16 18:18] ThomasJRyan commented on #398
Hello @RichardAtkin

This error is caused when the parser is unable to parse anything. Usually due to the cli command itself not producing anything. It seems likely that your `show ap cdp neighbor` command isn't returning anything due to there being no cdp neighbors to be found

[2021-02-16 21:57] #389 closed

[2021-02-16 22:02] tahigash commented on #379
@nouse4it we will add above `acl_type` in 21.2 (end of Feb) release. Closing this issue. Please feel free to update on this or reopen the issue if you have any questions.

[2021-02-16 22:02] #379 closed

[2021-02-16 22:07] #396 closed

[2021-02-17 17:18] thaixuann commented on #370
Hi @itdependsnetworks,
I removed the duplicated. It will be in the coming release 21.2.
I will resolve this issue.
Thanks,
--Thai.

[2021-02-17 17:18] #370 closed

[2021-02-23 15:21] RichardAtkin commented on #398
Hi Thomas,

The CLI command produces tonnes of output.

If I debug cdpneigh, I can see that stdout and stdout_lines both contain tonnes of useful, accurate looking information.

Here is a more complete extract, give or take ~600 APs snipped out of the middle.

[code]

...snip...

[code]

Furthermore, and I'm not sure if this is a related problem or not, but if you go to the Genie Parser documents

[2021-02-24 14:36] ThomasJRyan commented on #398
Looks like a mistake was made in the development of the `show wlan summary` parser. I've made a fix and will see if I can get it out for the next release

[2021-02-24 19:04] #269 closed

[2021-02-25 14:36] #398 closed

[2021-02-25 22:36] smitsialis opened #401 "missing VLANs in show interface switchport"
From IOS command 'show interfaces switchport' (Catalyst C6800 switch)

[code]
If you look at the output for "Trunk VLANs Enabled", there are one or more lines of VLANs.  In this example there are 2 lines.  The parser missed the 2nd line.   Look at 'trunk_vlans' below in the parsed output.  Its missing VLANs from 2nd line.

[code]

[2021-02-27 17:10] urskog84 commented on #394
i have open pull request now!

https://github.com/CiscoTestAutomation/genieparser/pull/403

[2021-03-03 14:49] amrit-ma-siu opened #404 "show cdp neighbors detail - parsing error"
Hi,

Error:
genie.metaparser.util.exceptions.SchemaMissingKeyError: Missing keys: [['index', 4, 'platform'], ['index', 4, 'capabilities']

When looking at the parsing of "show cdp neighbors detail" for IOS-XR, I found that when the Platform has "/" in the detail, it would not parse the Platform and Capabilities.

example:
Platform: cisco ISR4431/K9,  Capabilities: Router Switch IGMP

Upon further

[2021-03-03 15:56] amrit-ma-siu opened #405 "IOSXR - show interfaces description - not parsing correctly"
The parser output does not include interfaces which have description containing spaces.

Example:
Gi0/1/1/8          up          up          Link to XYZ

[2021-03-08 12:47] RomainGuilloux commented on #405
Hello,

The "show interfaces descriptions" parser for junos also does not match the following data:

[code]

File identified:
https://github.com/CiscoTestAutomation/genieparser/blob/afbffe28f69c12d198b4852dabc906afccab212d/src/genie/libs/parser/junos/show_interface.py#L255

https://github.com/CiscoTestAutomation/genieparser/blob/afbffe28f69c12d198b4852dabc906afccab212d/src/genie/libs/parser/iosxr/

[2021-03-09 05:39] seanblundy opened #406 "NXOS show routing does not match VRFs with non-alphanumeric characters"
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_routing.py#L217

VRF Names such as test-lab will not match against this regex, and as a result, Genie will not catch the routing table.

Example Device Output:
[code]

In my limited testing on the Cisco DevNet Sandbox, the following VRF names were valid:
vrf context test!name
vrf context test#name
vrf co

[2021-03-10 01:27] jeaubin commented on #397
@pcorpx  would that be something you are interested?

Otherwise please provide the device output and more information. You can send it to pyats-support-ext@cisco.com

[2021-03-10 14:03] tahigash commented on #390
v21.2 was already released with the fix. closing.

[2021-03-10 14:03] #390 closed

[2021-03-10 15:42] LukasMcClelland commented on #406
Hi Sean, thanks for bringing this to our attention. I'm working to fix this issue

[2021-03-10 20:00] LukasMcClelland commented on #404
Hi Amrit, thanks for reaching out and letting us know about this issue. I will be working to fix this

[2021-03-10 23:28] kazemy commented on #404
Hi Lukas - Sounds good. thnx!

[2021-03-11 16:41] LukasMcClelland commented on #404
A pull request for this fix has been approved and merged. The fix will be included in the next release

[2021-03-11 16:42] LukasMcClelland commented on #406
A pull request for this fix has been approved and merged. The fix will be included in the next release

[2021-03-12 15:48] amrit-ma-siu commented on #404
Thank you.

[2021-03-13 02:06] LukasMcClelland commented on #404
Happy to help!

[2021-03-13 16:43] wilbeacham85 opened #407 "show interface does not show err-disabled state"
It would be good to parse back the line protocol err-disabled state as its missing

{
   "Te2/0/48": {
      "TenGigabitEthernet2/0/48": {
         "port_channel": {
            "port_channel_member": false
         },
         "enabled": false,
         "line_protocol": "down",
         "oper_status": "down",

9300-stack#show interfaces tenGigabitEthernet 2/0/48
TenGigabitEthernet2/0/48 is down,

[2021-03-16 17:39] c-m-a commented on #394
Hi @danielgraziano, how do I know which parsers are missing?

[2021-03-16 19:08] c-m-a commented on #394
what about this command? It gives a XML output!

[code]

[2021-03-16 19:54] amrit-ma-siu opened #410 "IOSXR - show bgp instance all all all summary - Not parsing for IPv6 neighbor"
It is not parsing the neighbors details output that is being split into separate lines as in example below

The parser throws error for missing key.
  File "src/genie/conf/base/device.py", line 543, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 570, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metaparser/_metaparser.py", line 303, in g

[2021-03-16 20:09] amrit-ma-siu commented on #410
Found it. It is not working because of **remote_as** being dotted notation. and it is missing in regex p17_2. :)

[2021-03-17 14:13] kazemy commented on #404
Thank you @LukasMcClelland  - I will close this issue

[2021-03-17 14:13] #404 closed

[2021-03-17 14:17] kazemy commented on #405
Hi Amrit and thank you for reaching out. The issue has been resolved and is being reviewed and will be merged after the review process.

[2021-03-17 18:16] kazemy commented on #362
Hi Nicholas - A pull request for this fix has been approved and merged. The fix will be included in the next release

[2021-03-17 18:16] #362 closed

[2021-03-17 18:18] amrit-ma-siu opened #411 "IOSXR-show bfd session- Exception: Parser ShowBfdSession schema checking failed"
Traceback (most recent call last):
  File "src/genie/metaparser/_metaparser.py", line 285, in genie.metaparser._metaparser.MetaParser.parse
  File "src/genie/metaparser/util/schemaengine.py", line 305, in genie.metaparser.util.schemaengine.Schema.validate
  File "src/genie/metaparser/util/schemaengine.py", line 276, in genie.metaparser.util.schemaengine.Schema.validate
  File "src/genie/metaparser

[2021-03-17 19:07] LukasMcClelland commented on #406
Closing the issue for now, I will still notify when fix is released

[2021-03-17 19:07] #406 closed

[2021-03-17 19:41] LukasMcClelland commented on #411
Hi Amrit, thank you for bringing this to our attention. I'll be working to fix this

[2021-03-17 20:12] LukasMcClelland commented on #411
Could you please supply the device output that caused this error to happen?

[2021-03-18 15:37] kazemy commented on #410
Hi Amrit and thank you for reaching out. The issue has been resolved and is being reviewed and will be merged after the review process.

[2021-03-18 16:42] amrit-ma-siu commented on #411
This should be the one causing it as the values are n/a. And schema has it as <class 'int'>.

`#BE300               172.16.253.53   n/a              n/a              UP
        p3 = re.compile(
            r'^(?P<intf>\S+) +(?P<dest>\d+\.\d+\.\d+\.\d+) +(?P<echo_total_msec>\w+\/\w+) +(?P<async_total_msec>\w+\/\w+) +(?P<state>\S+) ?(?P<damp>\S+)?')`

[2021-03-18 22:02] kazemy commented on #410
A pull request for this fix has been approved and merged. The fix will be included in the next release.
Closing the issue. Thank you!

[2021-03-18 22:02] #410 closed

[2021-03-19 05:37] saparikh opened #413 "lldp details parser needs to handle spaces in chassis_id and system_name"
The following output of `show lldp neighbors detail` results in a parser error:

Parser error:
[code]

output of `show lldp neighbors detail`:
[code]

Patching the regex for `Chassis id` and `System Name` to match anything till the end of the line fixes this issue.

Given that each field is on a newline, not sure why the parser is not setup to be more greedy.

[2021-03-19 05:38] saparikh commented on #413
I was able to use this patch locally to address the issue.

[code]

[2021-03-19 14:06] LukasMcClelland commented on #411
Hello again Amrit, a pull request for this bug has been merged and the fix will be included in the next release. Thanks again

[2021-03-19 14:10] #411 closed

[2021-03-19 16:57] kazemy commented on #413
Hi Samir and thank you for reaching out.
A pull request for this bug has been pushed and the fix is being reviewed.
I will let you know when the fix is merged.
Thank you!

[2021-03-22 23:35] saparikh commented on #413
👍🏽

[2021-03-23 01:20] bronitskiy opened #414 "Pyats.utils.exception : Missing keys when a test playbook ran against sbx"
Having issues running a test playbook (with genie learn arp module) and the following exception returned:
[code]
As it was advised by clay584/genie_collection here: https://github.com/clay584/genie_collection/issues/6#issuecomment-804088289 this seems to be an issues with the parser.

The full output can be found below:
[code]

[code]

[code]

[code]

[code]

[2021-03-24 19:25] danielgraziano commented on #414
@bronitskiy this looks to be a schema issue with your testbed yaml file. The device `sbx-nxos-mgmt.cisco.com` is missing two mandatory keys, `type` and `connections`.

Without seeing your testbed file it would be hard for me to point out the exact location but it should look something like below:
[code]

For the full schema you can look here: https://pubhub.devnetcloud.com/media/pyats/docs/topolog

[2021-03-24 19:57] danielgraziano commented on #394
@urskog84 I see you have the pull request open now so I will close this issue as we can track it there. Thanks again!

@c-m-a  you can see all of the available parsers here: https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers
Since I am closing this issue, if you have more questions about contributing, please email pyats-support-ext@cisco.com

[2021-03-24 19:57] #394 closed

[2021-03-24 20:18] amrit-ma-siu opened #415 "IOSXR - Genie Diff - not populating correctly - show bgp"
while running Genie Diff for bgp summary, it did not populate the diff result correctly.
It is only showing the first neighbor address and adds all other neighbors' prefix changes diff under it.

Incorrect output:
-------------------------------------
` instance:`
`  default:`
`   vrf:`
`    default:`
`     neighbor:`
`      1111:2222:3333::4444:`
`       address_family:`
`        ipv6 unicast:`
`

[2021-03-25 07:51] bronitskiy commented on #414
Thanks for getting back to me @danielgraziano.
Since I am using ansible collection (https://github.com/clay584/genie_collection) and a playbook that is calling "learn_genie" module,  I am not too sure if I still need to have a testbed file created manually?
I was hopping that a standard "ansible inventory yaml file" would be sufficient.
Eg. this is what it looks like at the moment on my ansible ho

[2021-03-25 10:43] oianson opened #416 "IOSXE - 'show wlan all' - Unsupported keys: ['dual_neighbor_list']"
Hi,

On IOSXE with the 'show wlan all' parser I am getting the following error message

[code]

The output for reference..

[code]

[2021-03-25 10:45] oianson opened #417 "IOSXE - 'show wireless mobility summary' - Parser output is empty"
Hi

On IOSXE with the 'show wireless mobility summary' parser, I am getting the following error:

[code]

The output for reference..
[code]

[2021-03-26 15:23] kazemy commented on #405
Hi Amrit - The review is completed and the PR is merged and it will be available in our next release.
Thank you for bringing this issue to our attentions.
I will close this issue.

[2021-03-26 15:23] #405 closed

[2021-03-26 21:21] kazemy commented on #413
Hi Samir,
the PR completed review and is merged.
the fix will be available on our next general release.
I will close this issue.
Thank you!

[2021-03-26 21:21] #413 closed

[2021-03-26 21:40] renatoalmeidaoliveira opened #419 "[Feature Request] - Parser not found Exception"
When the genie/libs/parser/utils/common.get_parser didn't find the correct parser it raises a simple Exception.
It would be great to have an ParserNotFound Exception.
I could create it on genie/libs/parser/utils/common.py file but don't know if it's the best option.

[2021-03-26 21:46] saparikh commented on #413
cool, thanks.

[2021-03-29 20:06] kazemy commented on #395
https://wwwin-github.cisco.com/pyATS/support/issues/236

[2021-03-29 20:14] TestingBytes opened #420 "IOS - show spanning tree parser fails when backbone_fast or uplink_fast do not appear in output"
Example failure from switch running 12.2(50)SE3:

[code]

[2021-03-29 20:16] TestingBytes commented on #420
This parser uses the IOSXE parser `genieparser/src/genie/libs/parser/iosxe/show_spanning_tree.py`

Those two keys are current required (see below). I believe this parser would work if those keys were made optional.

[code]

[2021-03-30 13:20] KamyarZiabari commented on #420
@LukasMcClelland  this PR is created for this issue. Can you please work on reviewing this. Thank you
https://github.com/CiscoTestAutomation/genieparser/pull/421

[2021-03-31 06:32] qduk opened #423 "Custom parser not taking precedence over standard parser"
The `ping` parser was recently added to IOSXE parsers. Before, parsing would use my custom ping parser but now it uses the newly added parser even though I add my parser to genie via the `add_parser` function. Both my class and the class in genie are called `Ping`. How does genie decide which parser to use as this could be an issue with how I'm implementing my class.

[2021-03-31 15:33] clay584 commented on #414
Looks like there was a breaking change in going from pyATS 21.1 to 21.2.

Version 21.1
-------------
[code]
@bronitskiy code works as expected.

[code]

With Version 21.2 it breaks.

[code]

[code]

[2021-03-31 16:57] tahigash commented on #397
no update for a while. so closing. please feel free to reopen if this still needs to be fixed.

[2021-03-31 16:57] #397 closed

[2021-03-31 20:02] danielgraziano commented on #414
@clay584 Prior to `21.2` we never did any schema validation if you create the testbed by passing a dictionary to `genie.testbed.load`. By accident this was overlooked and was fixed in `21.2` to prevent invalid testbeds from being created. Testbeds must follow the schema defined here: https://pubhub.devnetcloud.com/media/pyats/docs/topology/schema.html#production-yaml-schema

Here is a snippet from

[2021-03-31 20:13] danielgraziano commented on #414
@clay584 Sorry I deleted my previous comment as this seems to be an issue on our side. Looking into it further.

[2021-03-31 20:34] LukasMcClelland commented on #420
Reviewed and left comments

[2021-03-31 21:31] bronitskiy commented on #414
@danielgraziano @clay584 thanks for looking into this guys, really appreciate it! :)

[2021-04-01 14:22] LukasMcClelland commented on #417
Thank you for bringing this to our attention. I'm working to fix this issue

[2021-04-01 14:32] LukasMcClelland commented on #416
Thank you for bringing this issue to our attention. I'm currently working on a fix for it

[2021-04-01 15:02] kazemy commented on #407
Hi @wilbeacham85 and thank you for reaching out.
Which OS is this issue for?
Thank you!

[2021-04-01 18:25] LukasMcClelland commented on #423
Hi Adam, thanks for reaching out.

Here's the definition of the `add_parser` function.  https://github.com/CiscoTestAutomation/genieparser/blob/a882779aa2e54ad58d6f963eed9bc322895d9ac5/src/genie/libs/parser/utils/entry_points.py#L47-L80

The command will check if your parser exists and create an entry if it doesn't.

Then it will overwrite whatever exists in the parser data structure based upon th

[2021-04-02 00:08] sesazhin opened #424 "show route parser doesn't work for new releases of ASA"
The following parser has an issue working with ASA on the newest releases (i.e. ASA 9.14):
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/asa/show_route.py

**asa.parse('show route')**
It fails for the following output:

[code]

The error generated is:
[code]

Seems that new releases has "SI - Static InterVRF" string that starts from "S" (previously 'S' in the

[2021-04-05 21:33] LukasMcClelland commented on #416
A pull request with a fix for this issue has been merged and the fix will be included in our next release.

[2021-04-05 21:33] #416 closed

[2021-04-05 21:37] LukasMcClelland commented on #406
Fix should be released now 👍

[2021-04-05 21:41] LukasMcClelland commented on #411
Hi Amrit, just letting you know that this fix has been released

[2021-04-06 08:33] wilbeacham85 commented on #407
This was on IOS-XE 16.12.4 and i have seen this on IOS as well

[2021-04-06 14:38] LukasMcClelland commented on #424
Thank you for bringing this to our attention Sergey! I'll be working to fix this issue

[2021-04-06 15:58] danielgraziano commented on #415
Thanks for reporting, I am looking into this.

[2021-04-08 17:11] danielgraziano commented on #414
@bronitskiy just an update, I should be releasing a new package today with the fix.

[2021-04-08 21:43] amrit-ma-siu opened #428 "IOSXR - show bgp instance all all all summary - Not parsing for IPv6 with dotted ASN"
v21.3

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserCommand.parse
  File "src/genie/conf/base/device.py", line 522, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 549, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metaparser/_metaparser.py", line 272, in genie.

[2021-04-08 23:29] kazemy commented on #395
@mdeng10 - Thank you for reaching out. A correction has been implemented and is under review. I will let you know when the review is complete.

[2021-04-09 14:07] danielgraziano commented on #414
@bronitskiy can you please upgrade the genie package to `21.3.1` you can do this by running `pip install --upgrade pyats[full]`

[2021-04-10 01:10] kazemy commented on #395
@mdeng10
After more investigation it appears you are not triggering the dedicated parser; in this case the 'show inventory' parser for c9300 platform.
Could you please update your testbed like this in order to use the right parser.
Please make sure
**platform:c9300 is added under os:'iosxe'
add custom fields
   abstraction:
      order:[os,platform]**

[code]

[2021-04-10 06:42] bronitskiy commented on #414
@danielgraziano Yes, seems to be working now with the new release of pyats! Thank you and @clay584 for getting this resolved that quick and have a wonderful weekend!

[2021-04-12 03:14] mdeng10 commented on #395
hi @kazemy, appreciate the response, we're currently using nornir to manage our inventory and we'd prefer to not manually add platforms based on model numbers as we'd need to maintain this list and update it per device, is it possible to just use the overarching os: `iosxe`/`ios`/`nxos` and trigger the correct parser?

[2021-04-12 14:54] LukasMcClelland commented on #428
Hi @amrit-ma-siu, thank you for bringing this to our attention. I'll start working on a fix for this soon

[2021-04-12 16:40] LukasMcClelland commented on #417
Hi @oianson, just letting you know that a pull request that contains a fix for this issue has been merged and will be included in the next release

[2021-04-12 16:40] #417 closed

[2021-04-12 17:08] danielgraziano commented on #414
Thanks for verifying, closing this issue.

[2021-04-12 17:08] #414 closed

[2021-04-12 17:13] kazemy commented on #395
Hi @mdeng10
That is not possible since the c9300 output is different than the basic iosxe output. I am not familiar with nornir framework but it appears the issue is adding the c9300 platform in to it.

Our script abstraction requires the platform and the abstraction order to hit the dedicated parser and without those the script won't know which implementation to use and it defaults to the base OS

[2021-04-12 17:24] danielgraziano commented on #415
I've got a fix ready. It's being reviewed at the moment. The fix will be released in version 21.4 (unless you would like a beta package before that). Please let me know @amrit-ma-siu

[2021-04-12 17:32] jeaubin commented on #419
Thanks @renatoalmeidaoliveira  for the feedback.

We will consider it.

[2021-04-13 04:04] LukasMcClelland commented on #428
Hello @amrit-ma-siu, I believe your suggestion of how to change the code will work well. Would you be willing to provide the full output from the device when the command is issued? It would be helpful to use as a test. Thank you

[2021-04-13 07:21] oianson commented on #417
Thanks @LukasMcClelland  :) !

[2021-04-13 14:24] kazemy commented on #419
Hi @renatoalmeidaoliveira  - A pull request has been submitted for this change and is in review. I will let you know when the review is complete and it is merged. Thank you!

[2021-04-13 14:34] kazemy commented on #395
closing this issue. Thank you!

[2021-04-13 15:27] LukasMcClelland commented on #424
Hi @sesazhin, a pull request that has a fix for this issue has been merged and the fix will be included in the next release. Thank you again

[2021-04-13 15:27] #424 closed

[2021-04-13 20:56] MikeJames15 opened #429 "Feature request for show access-list on ASA"
This is not an bug but a feature request.

I would like to request the implementation of the "show access-list" command on ASAs if that were possible.
Thanks

[2021-04-13 21:14] LukasMcClelland commented on #423
Closing issue due to inactivity.

Please let us know if you have any other issues!

[2021-04-13 21:14] #423 closed

[2021-04-14 15:00] rodguerr opened #430 "genieparser / iosxr / show_platform.py - hardcoded values for state filter results"
Hi team,

I was playing with the iosxr parser for the 'show platform' command and it seems to have 2 errors:

**1. Hardcoded values filter expected result**
The parser for iosxr command "show platform" has some hardcoded values.
This will prevent some nodes from appearing in the results (e.g. SW_INACTIVE, DISABLED, UNPOWERED).

[code]

**2. Multi-chassis systems**
It also came to my attention that

[2021-04-14 15:02] amrit-ma-siu commented on #415
thank you @danielgraziano . I have found the issue with diff with other output (like for interfaces) too. So if you have beta package then i can give it a try before the 21.4 release.

[2021-04-14 23:00] kazemy commented on #407
Hi @wilbeacham85 - A pull request has been submitted to resolve this issue and is being reviewed. I will let you know when the review process if completed.
Thank you!

[2021-04-15 00:09] kazemy commented on #419
Hi @renatoalmeidaoliveira - The pull requested has been merged and the fix will be available after our general release.
Thank you again for bring this into our attention.
I will close this issue!

[2021-04-15 00:09] #419 closed

[2021-04-16 16:24] #420 closed

[2021-04-16 21:16] LukasMcClelland commented on #428
A pull request containing a fix for this issue has been merged and the fix for this issue will be included in the next release.

Thank you again

[2021-04-16 21:16] #428 closed

[2021-04-16 21:59] danielgraziano commented on #415
@amrit-ma-siu I've released a beta package for genie (version 21.3.2b1). To install it please run `pip install --upgrade --pre genie`

[2021-04-17 19:44] kazemy commented on #430
Hi @rodguerr - Thank you for bringing this to our attention. I'll start working on a fix for this soon.

[2021-04-18 23:00] kazemy commented on #429
Hi @MikeJames15,

Thank you for bringing this to our attention.
As you are aware Genie is open source and many users are contributing to it constantly.

Our team has created following guides to help users with parser development.
contribute
https://github.com/CiscoTestAutomation/genieparser

Write a parser
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.ht

[2021-04-18 23:00] #429 closed

[2021-04-19 01:55] mdeng10 commented on #395
Hi @kazemy

I've investigated this issue a bit further, as the exception states: `failed to parse data with genie, genie raised exception: 'local variable 'rp_dict' referenced before assignment'`

I read through the logic of the [parser](https://github.com/CiscoTestAutomation/genieparser/blob/31dd8309346e2e31d5c37a7934aa1265290d2e43/src/genie/libs/parser/iosxe/show_platform.py) and as it's referri

[2021-04-19 13:33] wilbeacham85 opened #431 "Show inventory IOSXE, "SchemaEmptyParserError: Parser Output is empty""
Hi I get a "SchemaEmptyParserError: Parser Output is empty" when running the Show inventory command on IOSXE device

INFO
[code]
I get the following traceback
DEBUG
[code]

[2021-04-19 22:35] bronitskiy opened #432 "Parsing Issues while using "genie learn OSPF" feature on NXOX device (7.0(3)I4(7))"
Getting the following parsing error:

`SchemaUnsupportedKeyError: vrf.default.address_family.ipv4.instance.10.areas.0.1.1.1.interfaces.Vlan10.authentication.auth_trailer_key_chain: Unsupported keys: ['key']`

 while using genie learn OSPF feature and parsing the following config:

[code]
The error that's generated:
[code]

[2021-04-19 23:15] mdeng10 commented on #395
Hi @kazemy

as earlier mentioned, specifying the platform to use the platform specific parser isn't an option available to us at the moment, if you're worried about breaking existing functionality with other parsers then you can do the following:

Check if `rp_dict` has already been initialised (so as not to re-create it) before doing anything within the `if ('STACK' in pid) or asr900_rp:` decisio

[2021-04-20 03:01] LukasMcClelland commented on #431
Hi @wilbeacham85, thank you for bringing this to our attention.

A fix for this have been found and is currently under code review

[2021-04-20 15:10] kazemy commented on #430
Hi @rodguerr - The PR is in review and I will let you know when it is merged. Thank you!

[2021-04-20 18:21] kazemy commented on #395
Hi @mdeng10
Thank you again for the new solution.
I tried your suggested solution but it didn't produce the expected output.

As you are aware Genie is open source and many users are contributing to it constantly.
Our team has created following guides to help users with parser development.
Following are guides  on how to contribute and how to write a parser:

https://github.com/CiscoTestAutomation

[2021-04-20 19:26] LukasMcClelland commented on #431
Fix has been merged and will be included in next release. Thanks again!

[2021-04-20 19:26] #431 closed

[2021-04-21 14:07] kazemy commented on #407
Hi @wilbeacham85,
The pull request is merged and the fix will be available in our next general release.
Thank you again for bringing this issue to our attention.
I will close this issue!

[2021-04-21 14:07] #407 closed

[2021-04-21 14:50] loukut opened #433 "SchemaEmptyParserError: Parser Output is empty"
Having an issue with the Parser show ap dot11 5ghz summary it provides and output of SchemaEmptyParserError: Parser Output is empty.  I'm running this on the WLC 9800 controller.   I think it may have an extra column at the end if I look at the source parser it doesn't seem to search for the channel column?

2021-04-21 09:17:44,056: %UNICON-INFO: +++ DO_MC_WLC_9800 with alias 'cli': executing comm

[2021-04-21 15:03] kazemy commented on #430
Hi @rodguerr,
The pull request is merged and the fix will be available in our next general release.
Thank you again for bringing this issue to our attention.
I will close this issue!

[2021-04-21 15:03] #430 closed

[2021-04-22 15:18] kazemy commented on #433
Hi @loukut - Thank you for reaching out.
Just to confirm - This is on IOSXE. Right?
Also could you please forward the exact cli command input and the output.

[2021-04-22 19:44] danielgraziano commented on #415
Closing - If there are still issues please raise a new issue

[2021-04-22 19:44] #415 closed

[2021-04-22 20:22] kazemy commented on #433
Yes... this is sufficient.
Thank you for sending it.
I will look into it and will reply back.

[2021-04-22 21:19] dteycheney commented on #395
Hi @kazemy,

Can you please not close this issue? Also, there is a bug with the existing code and we don't need to create a new parser. We will issue a PR with the lines of code that need adding and reference this issue

You've given no context or outputs on the expected output not working. We've replicated in our environment. So if you'd like to be specific and what was not working, we can unders

[2021-04-22 23:08] dteycheney commented on #395
The fix has been provided for you in #434 for you to try @kazemy.

[2021-04-23 18:51] ThomasJRyan commented on #432
Hello,

I notice you're using Python 3.9. Currently we only support Python 3.6 to 3.8. If you can downgrade to Python 3.8 and verify if this is still occurring that would be appreciated

[2021-04-23 21:03] bronitskiy commented on #432
Sure thing 👍 Will give it a try and report back.
Thanks for looking into this for me!

[2021-04-23 21:30] kazemy commented on #395
@dteycheney
Please include unit test.
Current fix doesn't break the code but doesn't produce the correct results.

Thank you!

[2021-04-24 17:50] alalinaci commented on #433
I'm having a similar issue with `show environment power` on iosxr C8000.
CLI Output:
[code]

Error:
[code]

[2021-04-26 02:12] mdeng10 commented on #395
Can you please be more specific with the expected outputs and what inputs are being passed in? At the moment the current code is throwing an exception during runtime and returns nothing, the fix proposed (from what I can see) successfully parses the input and returns it in a dictionary structure as expected

[2021-04-26 03:25] bronitskiy commented on #432
Hiving python 3.8.9 installed:
[code]

I am still getting the same error generated:
[code]
Let me know if you need more info collected or tests done.
Thanks

[2021-04-26 13:20] kazemy commented on #433
Hi @alalinaci,
Please open a separate ticket for your issue.
Thank you!

[2021-04-26 13:22] kazemy commented on #433
Hi @loukut - A PR for the fix is submitted and is being reviewed.
I will let you know when review is complete.

Thank you!

[2021-04-26 16:48] kazemy commented on #395
Hi @mdeng10

Thanks for your reply.
Sure; here are more specific explanations of why your suggested solution isn't the correct solution for c9300 platforms.

Correct; adding try/expect block would resolve producing 'UnboundLocalError' error and prevents the code to crash; however as I mentioned earlier this suggested solution doe not produce the expected results.

Considering the original input pr

[2021-04-26 19:50] amrit-ma-siu opened #435 "IOS/IOSXE-show ip route summary- parser error"
https://github.com/CiscoTestAutomation/genieparser/blob/0fb5df813b67fa8eb8a029d55f3bed759bc0f578/src/genie/libs/parser/iosxe/show_routing.py#L1878

The regex was not capturing the command output as there was no **space** after _Default-IP-Routing-Table_ on first line itself

`IP routing table name is Default-IP-Routing-Table(0)`

Below looks to help, replacing + with * to count for **_zero space o

[2021-04-27 12:38] kazemy commented on #435
Hi @amrit-ma-siu - Thank you for reaching out and detailing the issue.
A pull request has been submitted and it is in review.
I will let you know when it is ready for general release.
Amir

[2021-04-27 22:26] amrit-ma-siu opened #436 "IOS/IOSXE - show interfaces - parser error"
https://github.com/CiscoTestAutomation/genieparser/blob/0fb5df813b67fa8eb8a029d55f3bed759bc0f578/src/genie/libs/parser/iosxe/show_interface.py#L225

Came across old chassis with Serial interface module and the regex was not parsing because of **colon** :

**_Serial1/0/2:0 is administratively down, line protocol is down_**

Adding colon into regex helped.

`p1 = re.compile(r'^(?P<interface>[\w\/\.\

[2021-04-28 15:06] kazemy commented on #436
Hi @amrit-ma-siu - Thanks for letting us know.
I will be working on this issue.

-Amir

[2021-04-28 16:08] kazemy commented on #436
Hi @amrit-ma-siu - I submitted a pull request and it is in reviews.
I will let you know when the review is complete and it is ready for general release.

Thank you,
Amir

[2021-04-28 18:12] jeparra2010 opened #438 "ios parser show route-map all"
When the name includes "_" in a prefix-list a route-map uses, the parser doesn't write the key/value:
         "conditions": {
                        "match_prefix_list": "XXXX"
                    },

example:
sh route-map CON2OSPF220
route-map CON2OSPF220, permit, sequence 10
  Match clauses:
    ip address prefix-lists: CON2OSPF220_300
  Set clauses:
    metric 10
    tag 300
  Policy routing

[2021-04-28 18:21] jeparra2010 opened #439 "show standby all IOS"
If the name of the interface includes a subinterfaces the parser doesn't seem to work correctly:

GigabitEthernet1/39.760 - Group 32
  State is Active
    13 state changes, last state change 11w5d
  Virtual IP address is 10.95.201.1
  Active virtual MAC address is 0000.0c07.ac20
    Local virtual MAC address is 0000.0c07.ac20 (v1 default)
  Hello time 300 msec, hold time 1 sec
    Next hello sent

[2021-04-29 18:21] kazemy commented on #435
Hi @amrit-ma-siu - The PR is merged and will be available in our next general release. Thank you again for letting us know about it.
-Amir

[2021-04-29 18:21] #435 closed

[2021-04-30 22:19] kazemy commented on #433
Hi @loukut - Pull request review is complete and it is merged.
The fix will be available in our next general release.
Thank you!

[2021-04-30 22:19] #433 closed

[2021-05-05 18:42] saparikh opened #442 "LLDP Parser: Abbreviated interface name expansion platform differences"
LLDP Neighbor detail output from an IOS-XR box, connecting to an NX-OS box:

[code]

The matching entry from the NX-OS device:

[code]

Using the Genie parsers, the parsed output from the IOS-XR device looks like this (I mapped the fields I cared about to these keys in my code):
[code]

The parsed output from the NXOS device
[code]

The NX-OS LLDP parser is converting the abbreviated interface nam

[2021-05-06 15:04] oianson opened #444 "NXOS: Show interface status - SchemaMissingKeyError"
The 'show interface status' parser for NXOS isn't working with the following output.

[code]

[code]

[2021-05-06 15:05] oianson opened #445 "NXOS: Show interface brief 'UnboundLocalError'"
The 'show interface brief' parser for NXOS isn't working with the following output.

[code]

[code]

[2021-05-06 15:57] danielgraziano commented on #442
Both of these should be expanded to the full interface name. Assigning @kazemy to look into

[2021-05-06 16:00] saparikh commented on #442
@danielgraziano `TenGigabitEthernet0/1/0/4/0` is actually not a valid interface name in IOS-XR. So it should just be expanded to `TenGigE0/1/0/4/0`. If `TenGigE0/1/0/4/0` is also the correct interface name for IOS/IOS-XE and NXOS then the fix would be simple. But if not, the expansion will have to be aware of the other platforms OS.

[2021-05-07 03:07] tahigash commented on #444
Hi @oianson thanks for reporting this issue. I've identified the issue. The fix for the issue will be ready for next release 21.5 (end of May).

And for this kind of parser issue, we are encouraging users to contribute fixes.
Please consider fixing and contribute from next time if possible.

Some references:
Write a parser
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writepars

[2021-05-10 19:11] tahigash commented on #444
The fix is already merged internally. and the fix will be in pyATS `21.5` (end of May). Closing this issue.

[2021-05-10 19:19] fordan opened #446 "IOS-XR "ping [ip]" parser fails on ping failure"
Executing from the shell: ```pyats parse "ping 204.145.227.1" --testbed-file ping-tb.yml```

I receive the following:
[code]

The command succeeds with a pingable address generating the appropriate json.

[code]
Example of the commands run manually on box using CLI:

[code]

System is an ASR 9912 running IOS-XR 6.2.3

[2021-05-11 21:11] #445 closed

[2021-05-12 21:57] ThomasJRyan commented on #432
Can you please supply the output of `show ip ospf interface`

[2021-05-12 23:29] bronitskiy commented on #432
@ThomasJRyan  sure thing, please find it below:
[code]
Let me know if you need anything else.

[2021-05-12 23:30] bronitskiy commented on #432
Lo0 interface config:
[code]

[2021-05-13 14:07] ThomasJRyan commented on #432
Thank you. I've been able to make a push a fix for this internally. It will be released externally at the end of the month

[2021-05-13 14:07] #432 closed

[2021-05-13 14:08] daniMaarouf commented on #439
Thanks for reporting this. The fix has been merged internally and will appear in PyATS 21.5 (end of May).

[2021-05-13 14:08] #439 closed

[2021-05-13 19:01] daniMaarouf commented on #438
Hi, thanks for reporting this issue. A fix has been merged internally and will appear in Release 21.5 (end of the month).

[2021-05-13 19:01] #438 closed

[2021-05-19 16:42] domachad commented on #446
Hi @fordan, thank you for bringing this matter to our attention.
A fix has been added to the code and will be available in the next release.

[2021-05-19 16:42] #446 closed

[2021-05-21 15:27] strattner opened #449 "Link to list of Genie parsers is broken"
The link is referenced on a number of blog and how-to posts around the web, but also within the documentation here. One example: https://github.com/CiscoTestAutomation/genieparser/blob/master/CODING.md#available-parsers

Link goes to: https://pubhub.devnetcloud.com/media/pyats-packages/docs/genie/genie_libs/#/parsers

And returns 404. With some additional information:
Code: NoSuchKey
Message: The

[2021-05-25 13:08] urskog84 opened #451 "error in parser | show interface transceiver details"
find error int show interface transceiver details parser for nexus 9000 device

[code]

[code]

[2021-05-25 17:47] urskog84 commented on #451
thanks @LukasMcClelland

[2021-05-25 20:14] amrit-ma-siu opened #453 "NXOS - Show Interface - parsing error"
Few issues, i have come across

**### 1.  Interface not being captured for following down states**

https://github.com/CiscoTestAutomation/genieparser/blob/5dd0f88aa69745c63d439bf8d886fdc22a6ab80e/src/genie/libs/parser/nxos/show_interface.py#L223

we need to add/modify above RegEx to capture following examples

r'(\(VLAN\/BD\s+does\s+not\s+exist\))
r'(\(inactive\))?'
r'(\(Transceiver\s+validation\

[2021-05-25 20:27] bjonn opened #454 "IOSXE "show vrf detail" parser missing import/export route-map"
Parsing ouput of "show vrf detail"  such as :

[code]
the parser miss the Import and Export route-map (import-test-map & export-test-map in example) :

[code]

Looking at the parser code, the regexes only match for global import map (p7_1) and global export map (p8_1) but not standard import & export route-map.

[https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/

[2021-05-26 20:02] #449 closed

[2021-05-26 20:05] domachad commented on #449
Hi @strattner,
Thank you for reporting this issue.
The broken link was fixed.
Please let us know if you encounter any other issues.

[2021-05-27 17:56] ahlara-devcore opened #457 "IOSXE "show authentication sessions interface details" parser issues"
Hi,

When I run the parser in the following output:

[code]
I get this error:

[code]
I was able to track the problem to `p1.match(line)` section in show_authentication_sessions.py.
The line `Session-Timeout: 64800 sec` from the output is being passed to the schema as a value of the key `session_timeout`.

[code]

However, it should be assigned to `server_policies`
[code]
I think they problem is c

[2021-05-27 20:07] domachad commented on #457
Hi @ahlara-devcore.
I could not reproduce your problem. Which version are you using?

Parsing the output you provided, I got the following:

{
    "interfaces": {
        "GigabitEthernet4/0/18": {
            "mac_address": {
                "1062.e519.072e": {
                    "ipv6_address": "Unknown",
                    "iif_id": "0x273804C8",
                    "ipv4_address": "10.15.1.1

[2021-05-27 22:01] domachad commented on #453
Hi @amrit-ma-siu, thank you for reporting this issue.

We are working on fixing this parser.
Could you provide a complete example of an output containing "(VLAN/BD does not exist)"?

Thanks in advance.

[2021-05-27 23:06] LukasMcClelland commented on #451
Hi @urskog84!

You're welcome :) I made a fix for this issue and it's pending code review. I'll let you know when the fix has been merged

[2021-05-28 12:52] ahlara-devcore commented on #457
Hi @domachad,

I was using 21.4 and upgrad it to 21.5 with the same result.

The complete command output is:

[code]
When I applied the change I described in my first post. I got this, which it should be the response.

[code]

[2021-05-28 15:22] domachad commented on #457
Hi @ahlara-devcore, thank you for the additional information.
Your solution seems to work for this output, but we will have to assess the impact of this change in the schema.

[2021-05-28 16:10] oianson opened #458 "IOSXE: "show users" - SchemaMissingKeyError: Missing keys: [['line', '', 'host']]"
The IOSXE "show users" parser is coming back empty with the following data, I assume its because the location (foo-bar.cisco.com) is on a different line.

[code]

When I use the Parser in Robot i get the following error

[code]

[2021-05-31 17:47] domachad commented on #457
Hi @ahlara-devcore, your suggestion was accepted and will be incorporated in the next release (version 21.6).
I am closing the issue, but please let us know if you encounter any other problems in the future.

[2021-05-31 17:47] #457 closed

[2021-05-31 18:21] domachad commented on #453
Hi @amrit-ma-siu, the issue was solved and a fix will be available in the next release (version 21.6).
I am closing the issue.
Please let us know if the problem persists or if you encounter any other issues.

[2021-05-31 18:21] #453 closed

[2021-06-01 08:39] oianson commented on #458
Seems like the output is only on the 2nd line because when unicon connects to the device it  changes the terminal width to 0 and that seems to be causing this... As a quick win I'll just make unicon change it to 254 width

[code]

[2021-06-01 13:34] LukasMcClelland commented on #454
Hi @bjonn

A fix for this issue has been merged and will be included in the next release of `genie.libs.parser`, Thank your bringing this to our attention

[2021-06-01 13:34] #454 closed

[2021-06-01 13:55] domachad commented on #458
Hi @oianson , thank you for the additional information.
We are investigating the issue and we will get back to you as soon as possible.

[2021-06-01 14:28] oianson opened #459 "NXOS: 'show interfaces' not parsing in_jumbo_packets"
Using an nxos device and 'show interfaces', it is not parsing the jumbo packets in (in_jumbo_packets according to the schema)

[code]

[code]

genie.libs.parser              21.5

[2021-06-01 22:27] dkhenderson2 opened #460 "Show Access Session Interface Details Error with Session timeout:"
Seeing an issue on iosxe devices parsing the "show access-session interface GigabitEthernetX/X/X details"

If there is a session timeout defined, the parser errors out.

Sample output:

[code]
When the Session timeout is anything other then N/A I receive the following error:

[code]

[2021-06-02 17:51] domachad commented on #458
Hi @oianson, it seems like this is a problem with IOSXE.
Since you find a workaround, do you still want us to update the parser?
In this case, we would change it to work with the default width (80 columns).

[2021-06-03 08:07] apieters-odisee opened #461 "KeyError: 'vrf' due to missing key in sum_dict when parsing content from "show bgp ipv6 unicast sumary" on IOS-XE"
2021-06-03 10:01:38,579: %UNICON-INFO: +++ 02str.pe0 with alias 'cli': executing command 'show bgp ipv6 unicast summary' +++
show bgp ipv6 unicast summary
BGP router identifier 94.140.160.20, local AS number 8368
BGP table version is 2615, main routing table version 2615
33 network entries using 5544 bytes of memory
134 path entries using 13936 bytes of memory
11/11 BGP path/bestpath attribute ent

[2021-06-03 08:15] oianson commented on #458
Hi @domachad
I think it could be beneficial for the parser to be updated despite the IOSXE issue, there's no urgency at least.

[2021-06-03 22:08] LukasMcClelland commented on #451
A fix for this issue has been merged and will be included in the next release :)

Thanks again

[2021-06-03 22:08] #451 closed

[2021-06-04 08:45] rmbhub commented on #377
works fines,

{'prefix_set_name': {'Test_prefix_list': {'prefix_set_name': 'Test_prefix_list',
   'protocol': 'ipv4',
   'entries': 1,
   'prefixes': {'0.0.0.0/0 32..32 permit': {'prefix': '0.0.0.0/0',
     'masklength_range': '32..32',
     'action': 'permit',
     'sequence': 10}}}}}

[2021-06-04 14:25] jeparra2010 opened #462 "IOS-XR parser show rpl route-policy"
Route-policy:
!
route-policy OSPF2202BGP
  if tag eq 300 then
    set community DCBQ_VOZ
    set next-hop 10.20.96.53
    set local-preference 330
  elseif tag eq 30 then
    set community DCBQ_VOZ
    set next-hop 10.20.96.53
    set local-preference 310
  endif
end-policy
!
Parser's output:
   "OSPF2202BGP": {
            "statements": {
                "10": {
                    "actions": {

[2021-06-07 15:39] GerriorL commented on #442
https://wwwin-github.cisco.com/pyATS/genieparser/pull/499

[2021-06-07 15:39] #442 closed

[2021-06-08 20:05] GerriorL commented on #459
Merged internally

[2021-06-08 20:05] #459 closed

[2021-06-09 13:51] smitsialis commented on #401
Looked at a new version and this has been fixed.  Dont know which version this was fixed in.

[2021-06-09 13:51] #401 closed

[2021-06-11 00:49] dgoodenberger opened #466 "nxos: show interface parser output does not include MAC address for SVI interfaces"
I'm using the NX-OS "show interface" parser to build a mapping of IP to MAC addresses for SVI interfaces on my device.

Code:
[code]

The command output displayed in the terminal while running the script shows the MAC address e.g.,:

[code]

But the parsed output omits the MAC address:

[code]

[2021-06-11 08:18] ryanpjbyrne opened #467 "Show environment parser (IOS) not compatible with all devices."
`show environment` & `show environment | include {include}` parsers for IOS appear to be not compatible with **some** IOS devices.

Currently testing against a C2960 Switch where the only options avaliable are:

[code]
A normal `show environment` isn't usable.
[code]

I found this post which may help to illustrate the difference in command between devices : https://shrubbery.net/pipermail/rancid-d

[2021-06-11 16:59] LukasMcClelland commented on #467
Hi @ryanpjbyrne,

Agreed! It would be great to have both options 👍

Are you interested in make the parser and contributing to the project? Or would you prefer if we tackle it?

[2021-06-11 18:26] domachad commented on #458
Hi @oianson , thank you again for reporting the issue.
A fix was developed and it will be available in the next release.

[2021-06-11 18:26] #458 closed

[2021-06-13 20:04] akaevgen opened #469 "[iosxr] Issue with the parser show l2vpn bridge-domain detail"
Issue with the parser show l2vpn bridge-domain detail

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserCommand.parse
  File "src/genie/conf/base/device.py", line 523, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 550, in genie.conf.base.device.Device._get_parser_output
  File "src/genie

[2021-06-13 20:10] akaevgen commented on #469
[show_l2vpn_bridge-domain_detail.console.txt](https://github.com/CiscoTestAutomation/genieparser/files/6644561/show_l2vpn_bridge-domain_detail.console.txt)

[2021-06-14 08:22] ryanpjbyrne commented on #467
@LukasMcClelland, more than happy to have a go! Is there a getting started guide/exemplar that I should be following?

[2021-06-14 13:39] GerriorL commented on #469
Thank you for catching this and providing an example output to work with

[2021-06-14 14:33] LukasMcClelland commented on #467
Yes we do, we have a guide https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

There are some videos linked on that page as well. Please let me know if you have any questions

[2021-06-14 16:04] #467 closed

[2021-06-14 16:29] domachad commented on #460
Hi @dkhenderson2,
thank you for reporting this issue.

Which version are you using? Did you try updating pyats to its latest version?

[2021-06-14 17:00] #460 closed

[2021-06-14 19:14] akaevgen opened #470 "Issue with the parser show l2vpn bridge-domain"
Issue with the parser show l2vpn bridge-domain

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserCommand.parse
  File "src/genie/conf/base/device.py", line 523, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 550, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metapa

[2021-06-15 14:24] oianson opened #471 "IOSXE - show wireless client mac detail parser"
Hello,

I am having difficulties with the following parser, I believe this line of code
https://github.com/CiscoTestAutomation/genieparser/blob/2fdf4c1278d72123a120c6f0cfca879e4f51f059/src/genie/libs/parser/iosxe/show_wireless.py#L2382 should be changed to `cli_command = 'show wireless client mac {mac_address} detail'`

After I make this change I'm able to get the parser running but get the follow

[2021-06-15 15:05] lsheikal commented on #466
Hi @dgoodenberger,

Thank you bringing this up, the support for MAC address and Hardware type for VLAN have been added.
It will be available in the next release 21.6.

[2021-06-15 15:05] #466 closed

[2021-06-16 00:09] mupchu opened #472 "show bgp all neighbors <neighbor> advertised-routes not working"
When trying to parse the command 'show bgp all neighbors <neighbor> advertised routes, I get the following error:

fatal: [192.168.86.201]: FAILED! => {"msg": "Unable to parse output for command 'show bgp all neighbors 192.168.100.5 advertised-routes' ('Device' object has no attribute 'execute')"}
fatal: [192.168.86.202]: FAILED! => {"msg": "Unable to parse output for command 'show bgp all neighbo

[2021-06-17 21:18] ThomasJRyan commented on #471
This parser looks like it needs some work. As pyATS and Genie are open sourced projects, we like to encourage community members to contribute to it. If you are willing to look into fixing this parser that would be a huge help to the project. If not I can take a look into it, however I am unable to guarantee a timeline for it to be completed.

[2021-06-18 13:48] bilalel opened #473 "C881 - Not parsing "show inventory""
Hi,

It is not possible to parse the ouput of "show inventory" on a CISCO881G-K9 with IOS Version 15.1(4)M1.

[code]

Best regards,
Bilal

[2021-06-18 18:29] danielgraziano commented on #472
@mupchu did you connect to the device first? The execute attribute is added once connected

[2021-06-18 18:35] danielgraziano commented on #473
Hi @bilalel I just tried with the latest version and it seems to work:
[code]

Can you please verify if you are running the latest version with `pyats version check`. It should be 21.5, if not, please upgrade with `pyats version update`

[2021-06-18 19:23] mupchu commented on #472
yes, I ran this via ansible, and ran the command, error was when it was parsed.

this was the script:
---
- name: Sh BGP Advertised-Routes direct filter
  hosts: ios-router
  connection: network_cli
  gather_facts: no
  roles:
    - ansible-pyats
  tasks:
    - name: Run command
      cli_command:
        command: show ip bgp all neighbors 192.168.100.5 advertised-routes
      register: cli_output

[2021-06-18 20:15] domachad commented on #470
Hi @akaevgen,

This looks like a problem with a line in the output that is not correctly detected by the current patterns in the parser.

Please refer to the documentation on how to write a parser: https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

There, you will have access to all the information you need to solve this issue.

[2021-06-18 20:45] domachad commented on #472
Hi @mupchu,

It doesn't seem like there is a problem with the parser.
Could there be something missing in your script?
Did you try executing a different command?

[2021-06-18 21:29] mupchu commented on #472
I tried running similar command and it did work.  I tried running the command directly, and tried running the command and then calling the parser on the output.  Both failed for 'show ip bgp all neighbors <neighbor> advertised routes'.  I am attaching both the output from ansible when I tried running the plays, and the plays themselves (combined in a txt file).  I also ran similar command on nxos

[2021-06-21 17:27] #470 closed

[2021-06-21 18:07] domachad commented on #472
Hi mupchu, it seems like this is a problem with the ansible module.
You can report the issue here: https://github.com/CiscoDevNet/ansible-pyats/issues

[2021-06-21 18:07] #472 closed

[2021-06-22 15:02] GerriorL commented on #469
Merged a fix on the internal branch. It should come through on the next release

[2021-06-22 15:02] #469 closed

[2021-06-23 13:14] #473 closed

[2021-06-30 02:37] johnnynieves opened #475 "Issue with parser "show environment all ""
Hi Team,
i use python3.7.10 and i run my app in virtualenv using pipenv. I am having issues with only the above parser all other parsers I use via my app work great. I tried using the genie parse itself see below:
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
(pyATS_Networking) johnny@Automation-World:~/Projects/Automation/pyATS_Networking$ genie parse "show environment all" -

[2021-07-02 18:00] GerriorL commented on #462
Hi @jeparra2010,
Sorry for the delay. It seems like your device output is being parsed correctly as there is no field in the device output that would go into the conditions dictionary, so it being empty is expected.

[2021-07-05 19:54] LukasMcClelland commented on #475
Hi @johnnynieves

Apologies for the delay!

This looks like it might not be related to the actual parser, but could be caused from something like configuration.

If you visit https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers you're able to see which parsers we currently have.

![image](https://user-images.githubusercontent.com/33130026/124513479-e9b30580-dda8-11eb-9993-11e4

[2021-07-06 18:12] maqsshah opened #478 "IOSXR - show processes cpu parser"
Hello Team,
I am facing difficulties with "show processes cpu", it seems like broken in a special case `NoneType` when key is missing from `text`, I feel like it is here in [parser/iosxr/show_processes.py](https://github.com/CiscoTestAutomation/genieparser/blob/a882779aa2e54ad58d6f963eed9bc322895d9ac5/src/genie/libs/parser/iosxr/show_processes.py)
[code]
my script is:
[code]
If we delete `---- nod

[2021-07-06 20:57] LukasMcClelland commented on #478
This is expected behavior. Please see [this line of code in genieparser](https://wwwin-github.cisco.com/pyATS/genieparser/blob/d46d8d9566c4cdbd4ebbef0f891510f98f128075/src/genie/libs/parser/iosxr/show_processes.py#L429).
The parser needs to find output that will match the following regex pattern r'^----\s+(?P<location>\S+)\s+----$'

Parsers are written to be quite specific about the output they ex

[2021-07-07 07:47] oianson commented on #478
Hi @LukasMcClelland

I was sent output from 3 different xr devices and they all look the same as the one below. None of them had the line '---- node0_RP0_CPU0 ---'  for the p1 match.

Could the parser have a default value such as 'cpu' if there's no p1 match? Not sure if the device prompt can be read as the RP and cpu number is there. Though adding complexity, if even possible.

[code]

[2021-07-07 19:09] budhadityabanerjee opened #480 "IOSXE - Add parser for "show nve peers""
CL1-cat9400-5#sh nve peers
'M' - MAC entry download flag  'A' - Adjacency download flag
'4' - IPv4 flag  '6' - IPv6 flag

Interface  VNI      Type Peer-IP          RMAC/Num_RTs   eVNI     state flags UP time
nve1       3000101  L3CP 20.0.101.2       5c71.0dfe.fb60 3000101    UP  A/M/4 4d20h
nve1       3000101  L3CP 30.0.107.78      ac3a.6767.049f 3000101    UP  A/M/4 4d20h
nve1       200051   L2CP

[2021-07-07 19:19] #480 closed

[2021-07-08 01:04] LukasMcClelland commented on #478
Ah, perfect. That output was the missing piece 👍

Thank you for providing that @oianson. @domachad will look into this and fix if needed

[2021-07-08 12:13] oianson commented on #478
Thanks @LukasMcClelland
@domachad could you please share the PR URL once available, I will use it as a learning curve on how to fix such issues.

[2021-07-08 13:09] maqsshah commented on #478
@LukasMcClelland @oianson Thank you for taking time solve the issue.

[2021-07-08 17:46] LukasMcClelland commented on #478
No problem. Due to scheduling we'll remove @domachad, and we'll get @akhosrav to work on this instead.

We'll put a link to the PR here so you can both see the process :)

[2021-07-09 21:21] #478 closed

[2021-07-09 21:22] maqsshah commented on #478
@LukasMcClelland @akhosrav Thank you for solve the issue 🥇 👍

[2021-07-09 21:47] akhosrav commented on #478
you are welcome

[2021-07-12 14:30] johnnynieves commented on #475
Hello Thank you for your reply. I heavily use t https://pubhub.devnetcloud.com/media/genie-feature-browser/docs/#/parsers . I am using "show environment all" parser on IOSXE on 3850s. I can use all the other parsers just fine. I follow the traceback and it points to the below:
Traceback (most recent call last):
File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserC

[2021-07-13 22:25] LukasMcClelland commented on #475
Hello Johnny, thank you for providing that information. Would it be possible for you to share you testbed file? If not, then please ensure that you've specified the platform correctly within your testbed file (ie.`platform: c3850`)

[2021-07-15 16:44] eoprede opened #485 "NX-OS show interface parser can't handle "Hardware failure" state and parser logic"
Hello,

I have Nexus switch with one of the interfaces in Hardware error status, like this:
[code]

The parser can not parse it out and code execution fails with error:
[code]

Now, the solution to the problem is very basic - one just needs to add r'(\(Hardware\s+failure\))?' to p1 = re.compile statement.

There is, however, a much larger issue present: the only reason I was able to catch this err

[2021-07-16 00:27] mupchu opened #486 "show bgp all neighbors <neighbor> advertised-routes returns inaccurate number of prefixes"
The parser is returning advertised routes, but I am missing some of the routes.

 *>i 192.168.255.18/31
                       xx.xx.xx.xx1             768    300      0 xxxxx ?

Total number of prefixes 483
cr2-xxx-xxx-xxx#

In my script I am running:

response2 = Dq(response).contains('neighbor').get_values('advertised')

I am 50 or so routes short.  The missing routes are a little large ('10.10

[2021-07-16 02:27] ancker010 opened #487 ""ShowRouteReceiveProtocolPeerAddressExtensive" Doesn't support IPv6 Addresses with A-F characters."
https://github.com/CiscoTestAutomation/genieparser/blob/2e5a98699bb5457cf1777d7af38947124ae13bec/src/genie/libs/parser/junos/show_route.py#L3300

The regex for this parser (and probably others) only match IPv4 addresses, AND IPv6 addresses that do NOT have "a-f" characters.

It will match:
1.1.1.1/24
2001:123::/48

It will NOT match:
2001:123:a::/48

[2021-07-16 02:58] ancker010 commented on #487
This is fixed in the following PR: #488

[2021-07-19 13:45] LukasMcClelland commented on #485
Hello @eoprede, thank you for letting us know about this issue. Myself or another engineer will create a fix for this

[2021-07-19 14:13] lsheikal commented on #487
https://github.com/CiscoTestAutomation/genieparser/pull/488

[2021-07-19 14:13] #487 closed

[2021-07-19 14:34] akhosrav commented on #486
Hello @mupchu
could you please tell me which device/OS the problem occure?

[2021-07-19 15:03] mupchu commented on #486
This was on an ASR 1002, running 15.6(3)S6

[2021-07-20 13:19] akhosrav commented on #486
thanks for the reply, would you please update the pyats to the latest version if it's not (the current version is 21.6)

[2021-07-20 14:35] akhosrav commented on #486
@mupchu
There is no limit for the routers in the parser,
please provide a full log to insvistigate.

[2021-07-20 14:44] LukasMcClelland commented on #475
Quick update, we'll be adding in some new `show env` parsers for IOSXE in the near future. It's very likely that adding these parsers will provide a work around for this situation. I'll close this issue for now but you can still provide information here if you feel that it will help to identify the issue

Thank you,
Lukas

[2021-07-20 14:44] #475 closed

[2021-07-20 15:07] mupchu commented on #486
I am running the latest version of pyats.  I am missing routes in the results, there are 483 routes being advertised by the last router, and there are only 436 present in the dictionary.  I did notice that some of the routes missing had a longer character count, but that might just be a red herring.  I am also wondering if this might be caused by the fact I do not have write cred's to the devices,

[2021-07-20 17:05] akhosrav commented on #486
@mupchu
Can you please provide 'show command output' and the 'parsed output'

[2021-07-20 17:27] mupchu commented on #486
sure thing
[output_pyats.zip](https://github.com/CiscoTestAutomation/genieparser/files/6850169/output_pyats.zip)

[2021-07-20 17:30] akhosrav commented on #486
@mupchu
Thanks we will check it

[2021-07-20 18:39] amrit-ma-siu opened #489 "IOSXR- show route afi-all safi-all summary- Dotted ASN not captured"
https://github.com/CiscoTestAutomation/genieparser/blob/73bb15dc83ed90bc38c683e33098e987b843509d/src/genie/libs/parser/iosxr/show_routing.py#L1478

The instance RegEx does not account for dotted ASN.

bgp **65000.65000**                  6176       5          0           1532888

[2021-07-20 20:09] domachad commented on #489
Hi @amrit-ma-siu, thank you for reporting this issue.
We will look into it.
Can you provide a complete output that we can use to test the fix?

Thanks in advance

[2021-07-21 07:16] amrit-ma-siu commented on #489
here is the sample output

IPv4 Unicast:
-------------
Route Source                     Routes     Backup     Deleted     Memory(bytes)
connected                        7          1          0           1984
local                            8          0          0           1984
static                           0          0          0           0
ospf 65000                       5          0

[2021-07-21 17:04] domachad commented on #489
Hi @amrit-ma-siu thank you for sharing the output.
What error message do you get?
It seems like this parser is not detecting other rows as well

[2021-07-22 18:57] amrit-ma-siu commented on #489
Yes other rows are also missing.
I was more concerned with the  **"bgp 65000.65000"** . It appears that Dotted ASN number / instance value is not captured in other parsers like for BGP too. I will separate issue for it.

[2021-07-22 19:08] amrit-ma-siu opened #492 "IOSXR - show bgp instance all all all - dotted notation ASN not captured"
following ASN path RegEx needs to be modified to capture Dotted notation.

https://github.com/CiscoTestAutomation/genieparser/blob/73bb15dc83ed90bc38c683e33098e987b843509d/src/genie/libs/parser/iosxr/show_bgp.py#L5007

https://github.com/CiscoTestAutomation/genieparser/blob/73bb15dc83ed90bc38c683e33098e987b843509d/src/genie/libs/parser/iosxr/show_bgp.py#L5056

https://github.com/CiscoTestAutomatio

[2021-07-23 13:44] LukasMcClelland commented on #492
Hi @amrit-ma-siu, thank you for reaching out.

Do you have example device output that you can provide? That way tests can be made and changes can be justified and protected from future changes

[2021-07-23 14:45] yhayatou opened #493 "IOSXR - Issue while parsing ISIS data"
Hello,

I'm performing some tests with pyATS and I'm not able to learn ISIS feature.

Seems like it's a parsing issue. I'm attaching the exception file.

Can you please advise ?

**Envrionment :**
- Python 3.6
- Pyats & Genie 21.6
- IOSXR 6.5.3

Regards,
Hayatou.
[isis_iosxr_bpar830_exception.txt](https://github.com/CiscoTestAutomation/genieparser/files/6869481/isis_iosxr_bpar830_exception.txt)

[2021-07-23 17:04] LukasMcClelland commented on #485
Just letting you know that this has been fixed and will be in next week's release

[2021-07-23 17:04] #485 closed

[2021-07-23 18:07] akhosrav commented on #493
@yhayatou
Hi, can you please send me the expected output too

[2021-07-23 20:45] domachad commented on #489
Hi @amrit-ma-siu
A fix for this pattern was provided and should be available to you in the next release.
Version 21.7 is about to be released, so you won't have to wait too long.

Thank you once again for reporting the issue.
I will close it, but feel free to leave comments or to reopen it if you encounter any problems.

[2021-07-23 20:45] #489 closed

[2021-07-24 18:45] yhayatou commented on #493
Hello @akhosrav ,

Attached, the expected output.

Thanks,
Hayatou.
[Show_isis_interface.txt](https://github.com/CiscoTestAutomation/genieparser/files/6872931/Show_isis_interface.txt)

[2021-07-25 09:09] wellsgz opened #494 ""show ip route" parser not work with tenant vrf on Nexus in ACI mode"
The parser return error while trying to parse routing information of a user VRF on Nexus in ACI mode

[code]

However, it works well for overlay-1 VRF,

[code]

Please see cli output of the show command to parse:

[code]

[2021-07-25 13:38] wellsgz opened #495 "Issues in "show ip route" parser output as a valid JSON"
There seems to be some issues in the "show ip route" parser output to make it a valid JSON, take the example below:

1.  "Index" key (e.g. 1) in the 'next_hop_list' should be quoted
2. Value "True" should be true or "True" for 'active' & ''attached' keys
3. quote should be double quote

[code]

The valid JSON should be:
[code]

[2021-07-26 13:13] domachad commented on #495
Hi @wellsgz,

Thank you for contributing to pyATS.
The output of a parse command is a Python dictionary.
You can `import json` and use `json.dumps()` to convert it into JSON.

I hope it helps

[2021-07-26 14:34] zhangineer commented on #494
Can you post the output from the command that you run into issues with? The command that triggered the exception was: `show ip route vrf tn-L2-PBR:vrf-L2-PBR`, but the output you posted shows `show ip route vrf tn-frankie:msite-vrf-PBR`

I tested this with 2 different methods in a lab and it was working for me.
My first method was to use a testbed file with the genie parser module. My show command

[2021-07-26 14:44] wellsgz commented on #495
Hi @domachad , understand that the dict can be dumped into JSON, the question is actually come form Getting Started guide of pyATS Library: Genie document. [https://pubhub.devnetcloud.com/media/genie-docs/docs/cookbooks/explore.html#](url)

It mentioned there "Parsers allows you to parse show commands into structured output (Json/Dictionary)."

I am a bit curious why not just make the dictionary t

[2021-07-26 14:50] zhangineer commented on #494
Can you post the output from the command that you run into issues with? The command that triggered the exception was: `show ip route vrf tn-L2-PBR:vrf-L2-PBR`, but the output you posted shows `show ip route vrf tn-frankie:msite-vrf-PBR`

I tested this with 2 different methods in a lab and it was working for me.
My first method was to use a testbed file with the genie parser module. My show command

[2021-07-26 14:53] wellsgz commented on #494
Hi @zhangineer , here is the log of full procedures

[code]

Also the CLI output on leaf for your reference:
[code]

[2021-07-26 15:30] domachad commented on #495
Dictionary is a built-in data type of Python but JSON is not. When you run `json.dumps()`, for example, you are converting a dictionary into a string and when you load a JSON file into a variable (using `json.load()`) , you are converting it into a Python dictionary.
None of the features that a dictionary has would be available to us if it was interpreted as JSON.

[2021-07-26 15:36] wellsgz commented on #495
@domachad Noted and thank you for the explanation.

[2021-07-26 15:36] #495 closed

[2021-07-26 17:08] zhangineer commented on #494
The problem is that the Regex for route matching doesn't work in ACI
ACI adds additional properties such as "direct and pervasive" at the end which the current regex isn't able to capture

For example:
`192.168.1.0/24, ubest/mbest: 1/0, attached, direct, pervasive`

The previous examples actually did not work either, it successfully parsed but with incorrect information. The only reason that the t

[2021-07-26 17:19] akhosrav commented on #493
@yhayatou
Thanks will look in to it

[2021-07-26 17:22] lsheikal commented on #494
@zhangineer Thanks for looking into issue . As you mentioned it seems like a regex error. It would be better if we can create a new parser under ACI.

[2021-07-26 17:25] akhosrav commented on #493
I have checked the parser and it seems there is no error in it,
would you please confirm if your issue been solved or not?

[2021-07-26 22:19] zhangineer commented on #377
for some reason it's calling the IPv6 version of the `show ip prefix-list class` based on your output.
I tested this in a lab environment and did not get any errors, here is my prefix list

ip prefix-list TEST-GENIE: 2 entries
   seq 5 deny 10.10.10.0/24
   seq 10 permit 0.0.0.0/0 eq 32

can you post what your prefix list setup look like ?

[2021-07-27 00:09] zhangineer commented on #494
@lsheikal I noticed that there is an aci directory under nxos, and also a separate apic directory. What's the difference between nxos/aci and apic directory ? where would the new parser be created under ?

[2021-07-27 17:08] lsheikal commented on #494
apic is the controller and nxos/aci are the nodes. Its a simple regex fix, so i did'nt create a new a parser.

[2021-07-27 18:26] zhangineer commented on #494
@wellsgz I have a semi-working filter for the issues you encountered. However it'll take a while to get this pushed and a new parser needs to be built for aci-nxos. Meanwhile, you might want to use API to achieve what you are looking for.

Below is the syntax and, you can be execute it directly against an ACI leaf

moquery -c uribv4Route -x rsp-subtree=children -x 'query-target-filter=wcard(uribv4

[2021-07-27 21:13] akhosrav commented on #486
@mupchu
It seems the error comes from the output which values are not in the same line
![75365693-c165-4ad3-bc4b-7f75b3ab372b](https://user-images.githubusercontent.com/85900072/127228172-024077be-7468-4692-a173-fc972d556307.PNG)

[2021-07-27 21:13] akhosrav commented on #486
will you please check and match if the count of them are matched with short routes

[2021-07-28 00:29] mupchu commented on #486
I think i have what you need.  look at the attached documents.  The txt file called missing routes contains all the routes that were missing from the pyats output.  I think when you look at the output file (in a word doc) it will explain what is going on.  All the prefixes that push the character limit to a new line, are being tossed out and not not captured in the parser.
[missing routes2.zip](ht

[2021-07-28 13:16] akhosrav commented on #486
@mupchu
Thanks a lot for reply,
I will look to it

[2021-07-28 17:35] lsheikal commented on #461
@apieters-odisee can you clearly define the show command output which you are using? And attach tradelogs as well

[2021-07-28 17:58] akhosrav commented on #486
@mupchu
The new pyats have been released please update and check if the problem is solved.

[2021-07-28 20:54] lsheikal commented on #494
This parser have been fixed. It will be available in next release.

[2021-07-28 20:54] #494 closed

[2021-07-28 21:30] LukasMcClelland commented on #492
Would you be willing to make these changes yourself and make a contribution to the genieparser repo?

A guide for writing, testing, and contributing parser can be found here https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

[2021-07-28 22:27] mupchu commented on #486
I upgraded to the new version, but had the same results. Let me know if you want me to pull all the logs and doc's.

[2021-07-29 08:39] apieters-odisee commented on #461
hereby a log file that show how a script I use to collect stats with genie parser fails and what correction I added to the genie parse lib. The failure happens , as you will notice in the log below, when collecting "show bgp ipv6 unicast summary"  from a cisco IOS-XE device only
[devops_local.log](https://github.com/CiscoTestAutomation/genieparser/files/6899091/devops_local.log)

[2021-07-29 14:45] lsheikal commented on #461
@apieters-odisee did you add fix to this issue?

[2021-07-29 15:02] apieters-odisee commented on #461
yes indeed - similar thing is done on another parse match

[2021-07-29 15:04] lsheikal commented on #461
Can you rise PR for that if its fixed?

[2021-07-29 15:27] lsheikal commented on #461
[code]
This console output seems to work as expected. Can you pull the latest genieparser and test it.

[2021-07-30 08:34] apieters-odisee commented on #461
when upgrading to the latest release of pyats and genie, I now get a different python error when executing my script but once more, the error is caused when the BGP AFI ipv6 show  command routine in called. Error seems to be caused by an undeclared variable:
File "/home/apieters/pyats/pypi/genieparser/src/genie/libs/parser/iosxe/show_bgp.py", line 2601, in cli
    if 'address_family' not in nbr_di

[2021-07-30 14:44] lsheikal commented on #461
can you share the original "show bgp ipv6 unicast summary" command console output without <removed>. So that i can test it out.

[2021-08-04 13:37] domachad commented on #486
Hi @mupchu, have you changed the size of your terminal?
If not, can you try changing it to something greater than the default (80 chars)?

[2021-08-04 14:47] mupchu commented on #486
by default pyats changes the term len to 0 so that there is no pause in the output.  I have tried adjusting both the length and width of the terminal but there is still a wrap around:

![image](https://user-images.githubusercontent.com/43792509/128202109-c8a307c2-d92f-429f-9237-7f5cff987f09.png)

[2021-08-04 15:24] #493 closed

[2021-08-04 15:35] apieters-odisee commented on #461
![image](https://user-images.githubusercontent.com/68351611/128210038-d780af45-c87b-4998-9924-35c33d40c8d8.png)
fix I added to the genieparser code to get things working once more in my enviroment

[2021-08-04 17:46] domachad commented on #486
Hi @mupchu, thank you for the quick reply.

The parser will have to be modified to support this case.
Once ready, it will be available to you in the next release (version 21.8)

[2021-08-05 19:09] amrit-ma-siu commented on #492
Yes Lukas, I look forward to contributing to the repo in near future. Meanwhile I will be reporting issues as I encounter them.

[2021-08-06 00:56] LukasMcClelland commented on #492
Excellent, looking forward to your contribution! Thank you for letting us know about issues too.

Closing this issue as you'll be contributing the fix 👍

[2021-08-06 00:56] #492 closed

[2021-08-09 01:26] amrit-ma-siu commented on #492
Ok, my first PR#502 submitted for the fix  :)

[2021-08-11 18:01] kpriyas opened #504 "Show bfd neighbor detail parser - ld/rd values to be stored seperately and echo stats value needs to be added"
Show bfd neighbor detail parser - ld/rd values to be stored separately and echo stats value needs to be added

R3#show bfd ne det
IPv4 Sessions
NeighAddr                              LD/RD         RH/RS     State     Int
10.50.10.100                           23/14         Up        Up        Gi1/0/19
Session state is UP and using echo function with 2000 ms interval.
Session Host: Software
OurAddr

[2021-08-12 15:24] #504 closed, assigned to GerriorL

[2021-08-25 16:06] domachad commented on #486
Hi @mupchu
A fix has been approved and merged to genieparser.
It will be available to you once version 21.8 is released.
I will close the issue, but please feel free to leave any comments or reopen the issue if the problem persists.

Thank you

[2021-08-25 16:06] #486 closed

[2021-08-26 11:05] Kani999 opened #514 "NXOS - "show interface status" - wrong mapping output to json"
Hello,
I've run into an issue with the genie parser for `nxos` with the command `show interface status`.
The parsed output in JSON format is presented incorrectly for some of the interfaces.

See the output below:

Output of `genie.parse('show interface status')` for `nxos` platform

[code]

The interfaces Eth102/1/1, Eth102/1/2, Eth102/1/3 are parsed incorrectly.
[code]

[2021-08-26 11:15] Kani999 opened #515 "Junos - "show interfaces" - UnboundLocalError "address_family_dict""
Hello,

The parser `show interfaces` for my device with OS `junos`  fails with the following error

[code]

[2021-08-31 06:10] komurzak-cisco opened #521 "IOSXE - show cts role-based permissions fails parsing"
The following cli output gives an error when trying to parse it:
[code]

![image](https://user-images.githubusercontent.com/89828894/131451050-2dd1358a-52a5-4744-9444-155d0b3a537e.png)

looks like in file src/genie/libs/parser/iosxe/show_cts.py
lines 1933, 1944 tries to access nonexistent collection key cts_rb_permissions_dict['indexes']

[2021-08-31 13:08] tahigash commented on #515
@Kani999, thanks for reporting the issue. genie parser is open-sourced. so we are encouraging users to contribute fixes/enhancement like above. can you consider contributing above fix?

references:
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/contribute/contribute.html#contribute

[2021-08-31 16:25] danielgraziano commented on #521
@tahigash since you are assigned to review the PR I assigned you here. This will close once the PR is merged

[2021-09-02 20:16] urskog84 opened #525 "IOSXE - show running-config interface {interface} - missing keys"
I'm hunting down the "mac-address sticky" in our access switch infra

[code]

i hope ther parser "show running-config interface {interface}" can find the "sticy mac" and the "source template" in the near future
regars Petter

[2021-09-02 20:16] ThomasJRyan commented on #514
This is almost certainly a regex error with one of these statements https://github.com/CiscoTestAutomation/genieparser/blob/f77c9ae118685b64964bf542d86b09d625e08095/src/genie/libs/parser/nxos/show_interface.py#L3687

For issues like these, we like to encourage community members to resolve them and contribute back to the project. I can take a look into it, but I won't be able to get a patch out unt

[2021-09-03 12:37] aroravansh opened #526 "Error:"

[2021-09-03 12:37] #526 closed

[2021-09-03 20:10] etiedem opened #531 "IOSXE - Update BGP Parser"
Trying to parse the output for: `show ip bgp vpnv4 vrf zone1 community 65000:11111`

[code]

The output should be parsed with the same parser as `show ip bgp`

[2021-09-04 05:12] aroravansh opened #532 "Regex not matching in line 99 of show_spanning_tree.py"
Error in line 99 of [show_spanning_tree.py](https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_spanning_tree.py):
<img width="763" alt="issue" src="https://user-images.githubusercontent.com/44532230/132082958-4b3e5376-048b-407f-8c90-4742cf2621df.PNG">

The output generated by running the job:
pyats parse "show spanning-tree mst detail" --testbed-file sit

[2021-09-04 05:17] aroravansh commented on #532
Please review the attempted fix [here](https://github.com/CiscoTestAutomation/genieparser/pull/533)

[2021-09-04 10:11] tahigash commented on #515
thanks for opening the PR and contribution! We now can track on the PR. So, I'm closing this issue. but feel free to open when needed.

[2021-09-04 10:11] #515 closed

[2021-09-06 05:53] pokempai opened #534 "nxos show track parser"
cli commands :
1. Show track
2. show track brief
3. show track <track_id>

[2021-09-07 15:49] danielgraziano commented on #532
Reassigned to the assigned pull request reviewers

[2021-09-07 15:50] LukasMcClelland commented on #534
Thank you for contributing! Takashi and I will review and track the PR. We can close this issue and if you have any notes to add, then you can add them to the PR description :)

[2021-09-07 15:50] #534 closed

[2021-09-07 15:53] LukasMcClelland commented on #532
Thank you for contributing! Thomas and Lukeman will review and track your PR.

We'll close this issue and if you have any notes to add, then you can add them to the PR description instead :)

[2021-09-07 15:53] #532 closed

[2021-09-08 14:25] ThomasJRyan commented on #525
When it comes to stuff like this, we like to encourage the community to contribute back to the project. This wouldn't be a difficult addition but the core team can't guarantee a timeline so it's more effective to try patching it in yourself.

It would require a modification to the schema here https://github.com/CiscoTestAutomation/genieparser/blob/f77c9ae118685b64964bf542d86b09d625e08095/src/genie

[2021-09-09 13:44] etiedem commented on #531
#538 - I've submitted a pull request for this issue

[2021-09-09 17:14] tahigash commented on #531
thanks for opening the PR! we will review the PR. we can track this over the PR. so closing this issue.

[2021-09-09 17:14] #531 closed

[2021-09-11 18:37] vincentbernat opened #539 "Using a parser offline"
Hey!

I didn't find a way to parse an output without connecting to a device. There is [pyats-genie-command-parse](https://pypi.org/project/pyats-genie-command-parse/) for this purpose, but this is odd to not be able to do it out of the box. I was able to get something with:

    ... Tue Oct 29 21:29:10.924 UTC
    ...
    ... O    10.13.110.0/24 [110/2] via 10.12.110.1, 5d23h, GigabitEthernet0/0/0

[2021-09-13 15:21] vincentbernat commented on #539
It also works with the one I have put. It's just that it is not really documented. It would be nicer to not try to fetch from the device when `output` is provided to `device.parse()`.

[2021-09-13 19:01] domachad commented on #539
I am sorry, I understood that it was not working for you.
You are right, this will be added to the documentation.

Thank you for reporting it.

[2021-09-13 19:04] urskog84 commented on #525
Open pull request #540

[2021-09-15 02:00] kylerossd opened #541 "Genie is not parsing NXOS Interface Configuration Properly"
When parsing the running configuration of an interface genie appears to be stopping the parse very early.

[code]
The output of the show run task and debug task is as follows:

[code]
It did not parse out the no ip redirects, ip address, ip verify unicast source reachable, ip dhcp relay...   Is this happening because of whitespace in the stdout?

[2021-09-16 13:07] omehrabi commented on #541
Hi,
could you provide the log for that to see what happened?

[2021-09-16 13:13] gaffar10 opened #542 "Genie is not parsing the destination_network for acl"
Dears, With the below code I am able to parse the ACL_Name, Sequence#, and the source networks in the ACL. However, genie is not returning the destination network, even if the script is perfect.

For example, both the "source_network" and the "destination_network" can be found on the path "["R1"]["facts"]["test"]["aces"]["10"]["matches"]["l3"]["ipv4"]"

[code]
This means if the following command i

[2021-09-16 13:13] gaffar10 opened #543 "Is there any limitation in genie for the route-maps"
Dears, I am able to pull the route-map names, seq#, and if the match statement is prefix-list. However, I am unable to retrieve the other attributes, if the match statement is ACL or if we define the set-metric value.

For instance, I have configured the route-map to match the ACL 10 and 20 but it is not returned in the results.

[code]

[code]

Similarly,  I have configured the set metric but it

[2021-09-21 21:08] lsheikal commented on #542
@gaffar10 Is this a ACL parser? and which OS in specific so that i can investigate further.

[2021-09-22 03:34] gaffar10 commented on #542
@lsheikal,  I am using genie to parse the output of "show access-lists".

Initially, I tested with few iOS routers in the lab setup and double-checked with an ISR4451 (ver 3.16.5S).  The behaviour is the same for ALL iOS devices.

Thank you very much for checking

[2021-09-22 15:55] lsheikal commented on #542
can you post the "show access-lists" command console output. so that i can check if there is a change in the console output?

[2021-09-23 05:40] gaffar10 commented on #542
Dear Lukeman, Sure.

[code]

+++++++++++++++Running -Config++++++++++
[code]

Thank a ton for checking

[2021-09-27 12:16] phongere opened #547 "Show ip ospf database opaque-area errors when we have Unnumbered links and multiple areas"
Seeing errors with below conditions
1. Unnumbered point to point links which gives local and remote interface id which is not a sub tlv.
2. When multiple areas are there the current code node setting address family properly which causes error

[2021-09-27 13:33] omehrabi commented on #547
Hi,
Could you provide more inf. what error are you seeing. is it parser errors or something else? could you provide log from your test?

[2021-09-27 13:35] phongere commented on #547
2021-09-27 18:30:06,299: %UNICON-INFO: +++ R1 with alias 'a': executing command 'show ip ospf database opaque-area self-originate' +++
show ip ospf database opaque-area self-originate

            OSPF Router with ID (1.1.1.1) (Process ID 100)

                Type-10 Opaque Area Link States (Area 0)

  LS age: 1673
  Options: (No TOS-capability, DC)
  LS Type: Opaque Area Link
  Link State ID: 1.

[2021-09-27 17:14] lsheikal commented on #542
It seems the parser is working as expected. Kindly use the library Dq to access the key value pair from the dictionary. It will be easier to retrieve the data.

https://pubhub.devnetcloud.com/media/genie-docs/docs/userguide/utils/index.html

Example:

[code]

[2021-09-28 23:46] gaffar10 commented on #542
Dear Lukeman, Thanks a lot for your suggestion and for the detailed example.

[2021-09-29 11:08] som-shekhar opened #548 "local variable 'neighbors_dict' referenced before assignment - Failed to parse command output"
Hi
I am trying to parse the following ospf contents using the following task:

[code]

[code]

![image](https://user-images.githubusercontent.com/5188091/135256892-a278c21d-2bbc-4c18-a00c-bf9eed5a9868.png)

[2021-09-29 14:20] #539 closed

[2021-09-30 18:32] #541 closed

[2021-10-01 19:28] ThomasJRyan commented on #548
This is typically caused by a regex not being matched as it should be. For bugs like this we like to offer them up to the community to fix. I can look into it, though I can't guarantee when I can get a patch ready. If you are willing, we would be delighted if you could look into resolving this issue and creating a PR for it

[2021-10-04 08:10] kpriyas opened #551 "IOS-XE Parser for "Show ip sla statistics *" CLI - does not exists"
Could not find parser for "show ip sla statistics" related CLI in IOSXE platform

[2021-10-04 14:16] #514 closed

[2021-10-04 23:46] GerriorL commented on #551
Hi kpriyas,

Thank you for bringing this to our attention. It looks like this parser doesn't exist yet, but we're always adding new ones. If you're able to provide a device output we can add it to our development queue. We also welcome contributions if you'd like to write it.

[2021-10-05 10:59] kpriyas commented on #551
Hi Liam Gerrior,

Yes we are working on the parsers to cover "show ip sla statistics *" related CLI. Will commit it once local verification done.

[2021-10-05 16:11] GerriorL commented on #547
A fix has been written and it will be available in the next release. Thank you for bringing this to our attention.

[2021-10-05 16:11] #547 closed

[2021-10-06 14:09] #525 closed

[2021-10-08 16:16] mupchu opened #552 "After the update 21.8 I am still getting inaccurate numbers on some of my routers. for show bgp neighbors {all} advertised-routes"
After the update I am still getting inaccurate numbers on some of my routers.

_Originally posted by @mupchu in https://github.com/CiscoTestAutomation/genieparser/issues/486#issuecomment-938760055_

[2021-10-19 08:18] phongere opened #561 "'show mpls forwarding-table labels <labels>' parser is broken in 21.9 version"
Our script is using 'show mpls forwarding-table labels <labels>' parser and its broken in 21.9.  Below is the comparison for 21.6 and 21.9. Please note that 'local_label', 'outgoing_label_or_vc' and 'prefix_or_tunnel_id' show as None in 21.9. The issue is seen only in the case where the output is split in 2 lines using '\'

With 21.6

2021-10-19 13:31:46,128: %UNICON-INFO: +++ XE_OSPF_R5 with alia

[2021-10-21 08:13] ravaghi opened #562 "Incorrect parsing for "show interfaces {interface} transceiver detail""
The parser fails to convert `N/A` to float. I tried to remove the type conversion manually, but then I got `Parser ShowInterfacesTransceiverDetail schema checking failed`.

[code]

[2021-10-21 16:28] theandrelima opened #563 "NX-OS does not parse 'show cdp neighbors' output."
_**TL;DR:** NX-OS parser for 'show cdp neighbors' seems to be broken, but the IOS/IOS-XE parser for the same command works fine for the same given NX-OS output._

Versions tested (all impacted): 21.3, 21.6 and 21.9

Trying to parse the following 'show cdp neighbors' output with **genie.libs.parser.nxos.show_cdp.ShowCdpNeighbors** throws an error:

[code]

The error I get with NXOS parser is:
`Miss

[2021-10-25 11:13] Trasmontinho opened #564 "show nve interface {nve} detail not working for nxos N9K"
Hello,

the parser for the command in the title is not working for the nxos version 7.0.3 and shelf C92X.

The output of the cli command is as below :

[code]

the issue for the parsing seems to be in the NVE Flags regex pattern

Let me know if you need any other informations.

Regards,

Sam

[2021-10-25 16:06] dgoodenberger opened #565 "Incorrect parsing of NXOS show interface status"
show run interface command output for correctly and incorrectly parsed interfaces:

interface Ethernet116/1/2
  description fubarwts02
  switchport access vlan 1764
  spanning-tree port type edge

interface Ethernet116/1/14
  description fubar10 10.1.72.111
  switchport mode trunk
  switchport trunk allowed vlan 1772
  spanning-tree port type edge trunk
  channel-group 613

show interface status c

[2021-11-02 13:45] ThomasJRyan commented on #563
Hi there,

This isn't all that odd actually. IOS/IOS-XE and NXOS operating systems differ on quite a few things, CLI output included. It isn't all that strange that your output would work on one OS and not the other. If you were running the command on NXOS and the error was still occurring that would be an issue, but if you're copy/pasting from one OS to the other than this is pretty expected

[2021-11-02 13:45] #563 closed

[2021-11-02 13:47] ThomasJRyan commented on #565
This is a regex issue in the parser. For errors like these we like to encourage the community to assist in fixing them. I can look into it, though I can't give an exact timeline as to when it'll be resolved

[2021-11-02 14:04] theandrelima commented on #563
Hi @ThomasJRyan
I don't think you understood the problem.

The output I provided was taken from an NX-OS device and the NX-OS parser IS NOT working on it.
Surprisingly, the IOS/IOS-XE parser is working for it.

Replying some of your comments individually to make it all clearer.

Ok, absolutely agreed. And that's exactly the point of this issue.

Well, it is strange when the output is from NX-OS an

[2021-11-02 17:11] Trasmontinho commented on #564
FYI,

The command `show nve interface` is neither parsed  with the same script.

Regards,
Sam

[2021-11-02 17:27] Trasmontinho opened #567 ""show bgp l2vpn evpn" and "show bgp l2vpn evpn vrf all" not parsed on N9K"
Hi,

I've tried to use the genie parser for the commands in the title but it seems that is not working too. I've got in return the output not parsed

my script :

[code]

my packages :

[code]
Thanks for your help,

Regards,
Sam

[2021-11-03 15:15] thismatters opened #569 "Data loss when parsing ASA `show route` output"
Hello,

I'm parsing some `show route` output out in the wild, and I stumbled across what seems like a limitation of the schema.

This is an excerpt from `show route` on "device-a":

[code]

The parsed output from this config omits the top row because the CIDR coincides with the bottom row:

[code]

I propose that the [schema for ASA's show route](https://github.com/CiscoTestAutomation/genieparser/

[2021-11-04 12:44] maercu opened #573 "Bug (unassigned variable) in show ip route parser, version 21.10"
[code]

Also reported in the pyats repo (dulicate): https://github.com/CiscoTestAutomation/pyats/issues/136

[2021-11-04 12:53] thismatters commented on #569
So my first idea introduces a breaking schema change, which is not allowed. (As a sidenote to that point, is there really no deprecation/removal schedule? That seems like a recipe for endless cruft.)

My next idea doesn't change the schema, but it very well could break any user test cases which involve this particular edge case, and it might break the semantic meaning of certain keys. I want to se

[2021-11-04 15:23] bastell commented on #564
Hi,
Thanks for the example, that helped me pin down the issue. I've made a fix for it, and I'll update you when it's available in a release.

[2021-11-04 18:45] GerriorL commented on #567
Hi Sam,
Thank you for submitting an issue. Would it be possible for you to provide a sample device output for this command? In addition you could update to the latest version of pyATS (21.10) just to verify that this hasn't already been fixed.

[2021-11-08 11:33] RomainGuilloux opened #574 "[iosxr] mpls ldp discovery targeted hello"
Hello,

  MplsLdpDiscovery parser is ko when targeted hello is defined on the device, for example:

`
TASK [Parse mpls_ldp_discovery] ************************************************
fatal: [AUBR1]: FAILED! => {"msg": "genie: vrf.default.local_ldp_identifier.10.10.10.10:0: Unsupported keys: ['targeted_hellos'] - Failed to parse command output."}
`

We previously comment the targeted hello parser.

[2021-11-08 15:44] LukasMcClelland commented on #573
Hello again @maercu, thank you for opening an issue in the correct repository 👍

I'll close the other issue (https://github.com/CiscoTestAutomation/pyats/issues/136) and we can track this bug here.

Same idea here, would you be interested in fixing this issue and opening a PR?

If not, that's OK. We can look after it

[2021-11-08 16:05] LukasMcClelland commented on #574
Can you please provide device output from the show command? We may need to make a few changes to logic of the parser.

Alternatively, you can try to fix it yourself and then open up a Pull Request. We're always happy when people choose to contribute!

[2021-11-08 19:49] maercu commented on #573
Hi @LukasMcClelland I just started with pyAts/genie and I'm not familiar with the code - so if you can look after it, I'd really appreciate it. BTW: From just browsing the code I think the same issue is also present in line number 555.

[2021-11-08 19:57] LukasMcClelland commented on #573
Not a problem! We'll get a team member on this issue soon.
Thanks for using pyATS/genie

[2021-11-09 15:52] 0x1bi commented on #569
@thismatters thank you for your input.

Do you think that an array of routes would be better than dictionary? This way we can have an arbitrary amount of routes per every IP.

[code]

[2021-11-09 16:52] thismatters commented on #569
@0x1bi I _do_ think a list of routes would be better and that was my first instinct, however it seems that the `MetaParser` only works with nested dicts and does not support lists (this is an inference drawn from minimal research; please correct me if I've misunderstood something). The first PR I made for this does simulate a list by using a numeric index as the key (as is done in the `next_hop_li

[2021-11-12 04:56] LukasMcClelland commented on #569
Try leveraging `ListOf()` in the schema

https://github.com/CiscoTestAutomation/genieparser/blob/1046ad770ec6632ace2f266c9c5bc8a21cd5348e/src/genie/libs/parser/iosxr/show_lpts.py#L18

[2021-11-12 15:46] thismatters commented on #569
`ListOf` is a good thing to know about, but introducing it to the schema still represents a breaking change; which I'm told is impossible.

[2021-11-15 07:48] niyaodong opened #575 "IOS&IOSXE - EIGRP external routes can't be parsed"
Hi
I am using genie(21.10) and pyats(21.10). We can see that EIGRP external routes won't be parse. Could you please take a look?

The console output:
[code]

The parsed output:
[code]

[2021-11-15 08:37] Trasmontinho commented on #567
Hi Liam,

Sorry for my late update. I've been out of my office. I'll try it now and keep you posted.

Regards,

Sam

[2021-11-15 08:47] Trasmontinho commented on #567
Hi Liam,

I can confirm that is working with the late version of pyats. I'm closing the issue.

Thanks for your help.

Regards,

Sam

[2021-11-15 08:52] theandrelima opened #576 "NX-OS does not parse 'show cdp neighbors' output."
Reopening issue #563 because it was incorrectly closed.
Either I failed on explaining the issue, or the assignee did not understand the description correctly, or both :).

[2021-11-16 02:47] GerriorL commented on #567
Hi Sam,

Glad to hear the issue is resolved!

[2021-11-16 02:47] #567 closed

[2021-11-18 12:40] maercu commented on #573
Looks like the issue is only present when checking all route tables with 'show ip route vrf *'.

[2021-11-18 14:36] omehrabi commented on #576
Sure I will look at it

[2021-11-18 15:11] 0x1bi commented on #573
A fix has been pushed and is in the process of being merged in. Thank you @maercu for pointing out the issue.

[2021-11-22 07:22] phongere commented on #561
Is this released in latest? We are still seeing failure in latest.

[2021-11-22 14:31] #548 closed

[2021-11-22 14:31] ThomasJRyan commented on #548
No response from user. Closing

[2021-11-22 14:31] ThomasJRyan commented on #565
No response from user. Closing

[2021-11-22 14:31] #565 closed, assigned to ThomasJRyan

[2021-11-22 14:34] omehrabi commented on #561
did you update to 21.10?

[2021-11-26 11:41] tahigash commented on #569
@thismatters I would like to go back to the output.
[code]
I'm a bit surprised. routing table basically has only best route based on metric/administrative distance. but this has 2... maybe because of Outside/Inside thing?
can we have exact configuration command to get this output?

And as you mentioned, we need to be careful for schema change since we need to minimize the impact to other users.

[2021-11-26 15:05] thismatters commented on #569
@tahigash I'm not a network engineer myself, so I'm not directly involved with configuring appliances; I cannot speak to the configuration commands used to configure this device. I'm concerned with parsing the existing data provided by my client to facilitate analysis of their network. My colleague @willmo221 might be able to address your question, but they are also in an observer/auditor role for

[2021-11-29 00:05] mupchu commented on #552
I have not seen or heard anything on this . . .

I have a regex string that would capture all the values I do need, but I am not sure how to unpack everything going on in the parser:

(?P<Status>\*>)\s+(?P<network>\S+)\s+(?P<next_hop>\S+)\s(?P<metric>\s+\S+\s)?(?P<weight>\s+\S+\s)?(?P<as_path>.*)'

[2021-11-29 14:21] #561 closed

[2021-11-29 14:50] #575 closed

[2021-11-29 16:43] whatnowbrowncow commented on #573
Hi all

I'm not sure that this issue has been fixed yet? I've been testing with version 21.10 today and I'm getting the same error as above when parsing specific VRFs, other VRFs work fine without issue.

I don't have the same problem on version 21.6

I'm no expert but the problem seems to be with the REGEX for p3 on lines 306 - 309 (which has changed between working and non-working version). The

[2021-11-30 03:43] omehrabi commented on #576
looked at the issue if you look at thee parser for Nxos it needs this fix:
        p5 = re.compile(r'^(?P<device_id>\S+) +'
                        '(?P<local_interface>[a-zA-Z]+[\s]*[\d\/\.]+) +'
                        '(?P<hold_time>\d+) +(?P<capability>[RTBSHIVDrs\s]+) +'
                        '(?: +(?P<platform>[\w\-]+ (\d+)?))?( +'
                        '(?P<port_id>[a-zA-Z0-9\/]+( [a-zA

[2021-11-30 14:03] danielgraziano commented on #552
@mupchu Terribly sorry for the delay. It seems this has gotten lost due to some error in tracking all the support cases. I am looking into this and will get back to you today.

[2021-11-30 15:26] danielgraziano commented on #552
[code]
👍

Let me generate a beta package so you can test it out

[2021-11-30 17:14] danielgraziano commented on #552
@mupchu please upgrade to version 21.10 using `pip install --upgrade pyats[full]`. Then install the beta package using `pip install --upgrade --pre genie.libs.parser`. The version shown in `pip list` for genie.libs.parser should be 21.10.2b0

[2021-11-30 19:43] mupchu commented on #552
I tested this on one of the routers that was having an issue, give me till the end of the day and i'll validate on a larger pool of devices.

thanks!

[2021-11-30 22:48] mupchu commented on #552
So there is still an issue, it is mainly due to the formatting of the command:

cr1-mdf-main-mfh#sh bgp all neighbors 192.168.244.73 advertised-routes
For address family: IPv4 Unicast
BGP table version is 480469, local router ID is 10.250.85.1
Status codes: s suppressed, d damped, h history, * valid, > best, i - internal,
              r RIB-failure, S Stale, m multipath, b backup-path, f RT-Filte

[2021-11-30 22:49] mupchu commented on #552
Let me know if you need me to pull some logs or files . . . not sure what you will want to see,

[2021-12-01 15:30] danielgraziano commented on #552
Parsergen? I'm confused. We dont use parsergen in this parser (it wont work because the output can be continued on the next line.

Are you saying that <dev>.parse() with the beta package is still not working? If so can you please provide the device output  and point out which lines are not being parsed?

[2021-12-01 16:06] mupchu commented on #552
Sorry I am probably adding to the confusion:

there are about 100ish routes missing, a few examples are:
10.202.180.128/26
10.202.180.192/26
192.168.244.188/30

attached is the raw output from the command, the log for the device in pyats, and lastly a print of the resulting dictionary.

[print_dictionary_out.txt](https://github.com/CiscoTestAutomation/genieparser/files/7635402/print_dictionary_out

[2021-12-01 16:43] danielgraziano commented on #552
Do you happen to have any term length commands configured that could cause excessive output wrapping?

[2021-12-01 16:59] mupchu commented on #552
no term is default and pyats also configures the length and width as part of the connect process:

cr1-mdf-main-mfh#

2021-12-01 15:48:26,832: %UNICON-INFO: +++ initializing handle +++

2021-12-01 15:48:26,899: %UNICON-INFO: +++ cr1-mdf-main-mfh with alias 'cli': executing command 'term length 0' +++
term length 0
cr1-mdf-main-mfh#

2021-12-01 15:48:27,357: %UNICON-INFO: +++ cr1-mdf-main-mfh with

[2021-12-02 08:02] viktklass opened #584 "issue with 'show vlan id {vlan_id}'"
issue with 'show vlan id {vlan_id}'
issue with parsing vlan_name containing '-' or '_'

Suggesting changing the regex for vlan_name to include dash, underscores and whitespaces (which are possible by using quotes).
This regex worked for me:
`(?P<vlan_id>\d+)\s+(?P<vlan_name>\S+|\S+.*\S+)\s+(?P<status>active|suspended|act/lshut|sus/lshut)\s+(?P<ports>\S+|)$`

It allows vlan-names containing anythin

[2021-12-02 14:23] #551 closed

[2021-12-02 17:33] danielgraziano commented on #552
[code]

I just released a new beta package (version 21.10.2b1). Please upgrade using `pip install --upgrade --pre genie.libs.parser` and let me know if you see any problems.

[2021-12-02 20:10] mupchu commented on #552
much closer now there were a couple routes still missing but it is a little odd.

10.32.0.0/16 is included in the dictionary,

10.32.220.0/24 missing
10.32.221.0/24 missing
10.32.240.0/23 missing

we are getting the summary, but not the more specific routes being advertised.

[cr2-mdf-main-sjmc-cli-1638475221.log](https://github.com/CiscoTestAutomation/genieparser/files/7644824/cr2-mdf-main-sjmc-c

[2021-12-02 20:38] danielgraziano commented on #552
Fixed that up, let me fix the unittests, get the PR reviewed, then ill release another beta

[2021-12-02 20:41] mupchu commented on #552
sounds good thanks!

[2021-12-02 21:22] danielgraziano commented on #552
Released a new beta package version 21.10.2b2. Please upgrade using the same command

[2021-12-02 23:10] tahigash commented on #569
Hi @thismatters

After investigating the output, I figureed out it's due to `tunneled` default route. (That's why I asked configuration. configuration will not help for schema directly. but might be hint to find out something useful to understand why this output is.)

You can find the `tunneled` default route from here.
https://www.cisco.com/c/en/us/td/docs/security/asa/asa72/configuration/guide/c

[2021-12-03 15:02] GerriorL commented on #584
Hi viktklass,

Thank you for bringing this to our attention. Since you have already found a solution you're welcome to open a PR with your fix, but we can also add it in ourselves if you prefer.

[2021-12-03 16:03] viktklass commented on #584
I'm still new to Github, but will read upon the process and do a PR next week.

[2021-12-03 17:05] thismatters commented on #569
Hi @tahigash

Thank you for those insights! I agree completely about the approach of adding a key for `tunneled_routes`.

[2021-12-03 17:05] GerriorL commented on #584
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html#regex-parser
If you haven't read it already you might find this document helpful. Otherwise we look forward to your PR!

[2021-12-03 18:46] mupchu commented on #552
looks like that fixed everything.

thanks for looking into this!

[2021-12-03 20:31] danielgraziano commented on #552
Perfect! For now use the beta package. It will be included in the next release (version 21.12 this December).

[2021-12-03 20:31] #552 closed

[2021-12-06 15:33] danielgraziano commented on #584
@viktklass please link the PR to this issue once created

[2021-12-06 21:41] scottwdavis opened #587 "Potential bug in class ShowBgpNeighborsReceivedRoutesSuperParser() (v21.10)"
If i run "show ip bgp <neighbor> received-routes" on one of my routers, i get the list of routes, and a total count of 91 prefixes.

If i use Genie to parse the same command, the resulting dictionary only contains 85 prefixes.

When i compare the two outputs, any prefix that is received (and listed when i manually run the command on the router) that does NOT have a subnet CIDR, i.e. "192.168.234.0

[2021-12-06 21:54] ChristopherJHart commented on #587
The source of this seems to be the `prefix` named capture group here: https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/iosxe/show_bgp.py#L5431
This pattern has a bunch of stuff in it, but breaking out the `prefix` capture group specifically:
[code]
This capture group matches the following:
* 10.169.1.0/24
* 10.4.1.0/24
* 10.16.1.0/24
* 10.16.2.0/24
* 10.49.0.0/1

[2021-12-07 11:12] tahigash commented on #569
@thismatters as you suggested on https://github.com/CiscoTestAutomation/genieparser/pull/582, please open new PR with above schema. thanks for your contribution again! closing this issue since discussaion was closed.

[2021-12-07 11:12] #569 closed

[2021-12-07 15:32] scottwdavis commented on #587
I'm going to try creating a branch to fix this REGEX expression, and submit a pull request. Wish me luck, my first time!

[2021-12-08 07:18] phongere commented on #561
I still see there is a problem with flex algo labels. The prefix key is '0-1.1.1.1/32-4'. Should we not extract just the prefix from it.  Its difficult to verify if we keep as it is.

502:  +------------------------------------------------------------------------------+
503:  |                 Starting PostProcessor-4 'verify_mpls_fwdg'                  |
504:  +-----------------------------------

[2021-12-15 14:00] avgvstoSilva opened #596 "Bug in 'show policy-map interface {interface}' for IOS-XR"
Found this issue for genieparser == 2.10, haven't tried any other releases.

I've found an Issue with the command 'show policy-map interface {interface}' for IOS XR Devices. I first attempted get the parsed config on a production environment, later went on to the DevNet Sandbox Lab for IOSXR (always-on lab) to debug on a simulated environment. The output format I'm trying to parse is the following

[2021-12-22 09:49] balmasea opened #597 "When doing bgp parsing a `'Device' object has no attribute 'execute'` error shows up"
I'm parsing some bgp commands and for every command that has a non conditional instruction:

`self.device.execute(cmd)`

it answers
`'Device' object has no attribute 'execute'`

That ends with not parsing of commands like
`show ip bgp neighbor {neighbor} advertised-routes`
or
`show bgp all cluster-ids`

[2021-12-22 22:38] pligro opened #598 "Parse error in "show cdp neighbors detail" cisco ios, with non cisco devices"
it looks like library cant parse data in "show cdp neighbors details", when neighbors are non Cisco devices like Ubiquiti Radios,

error: Missing keys: [['index', 2, 'port_id'], ['index', 2, 'local_interface'], ['index', 6, 'port_id'], ['index', 6, 'local_interface']]

Thanks.
Data:  ----------------------------------------------------------------------------------------------------------------

N

[2022-01-11 15:17] ThomasJRyan commented on #597
9 times out of 10 this is caused due to having not first connected to your device. Run `self.device.connect()` first

[2022-01-13 09:35] balmasea commented on #597
Hi Thomas. Thanks for your answer.
That's exactly my point. For most of commands there is no need to have a device connected to run them. Why is this command different? We would need to pass just the output and parse it, without executing anything else in the device.

[2022-01-13 14:37] ThomasJRyan commented on #597
Ah. Well if that's what you're doing then all you should need to do is run `self.device.parse('<your_command_here>', output='<your_command_output_here>')` which will parse it for you.

If there's more to it than that, I'm going to need more information. What parser are you using? What command? Are there any other error logs you can provide?

[2022-01-18 10:53] balmasea commented on #597
Sorry for my late answer, we have worked around the problem with a custom parser but for sure I'd love to help.
We are mainly trying to get the parsed yml from the device output that we get with our own module, so we do not connect to the devices using this library.

We are calling `ShowBgpAllNeighborsAdvertisedRoutes::cli` with output being, i.e.:
```Total number of prefixes 0```

Then, it ends u

[2022-01-19 12:25] ahusking opened #602 "show snmp doesn't collect all the contact information if there is a space in the config"
our snmp contact config
snmp-server contact test1234_987654 test5678_123456

When we use device.parse("show snmp") the 'contact' data only returns the data before the first space

[2022-01-20 05:01] salazardaniels opened #603 "Key error happens on ShowVrfAllDetail parser when VRF name has an "*" character on it"
VRF **nVSatellite; RD not set; VPN ID not set
VRF mode: Regular
Description not set
Interfaces:
  nV-Loopback0
Address family IPV4 Unicast
  No import VPN route-target communities
  No export VPN route-target communities
  No import route policy
  No export route policy
Address family IPV6 Unicast
  No import VPN route-target communities
  No export VPN route-target communities
  No import route p

[2022-01-20 05:03] salazardaniels commented on #603
already solved in PR: Added parser ShowControllers_WORD_WORD_Phy, Modified parser ShowPlatform, Modified parse ShowVrfAllDetail #**600**

[2022-01-24 19:12] LukasMcClelland commented on #603
Excellent 👍

[2022-01-24 19:12] #603 closed

[2022-01-24 19:13] LukasMcClelland commented on #602
Can you please provide the show command used and the output generated from the show command?

[2022-01-26 14:29] domachad commented on #598
Hi @pligro, thank you for reporting this issue. A fix was proposed and it should be available in version 22.2

[2022-01-28 10:10] geertn444 opened #609 "genie 22.1 fails to parse STP (when using MST)"
pyats                        22.1
pyats.aereport               22.1
pyats.aetest                 22.1
pyats.async                  22.1
pyats.connections            22.1
pyats.datastructures         22.1
pyats.easypy                 22.1
pyats.kleenex                22.1
pyats.log                    22.1
pyats.reporter               22.1
pyats.results                22.1
pyats.tcl

[2022-01-30 11:57] ahusking commented on #602
I ended up creating PR605 for this.

show snmp

Chassis: FCE2310A48M
Contact: "something@cisco.com someone2@cisco.com"
Location: "To be filled in"
35072424 SNMP packets input
    0 Bad SNMP version errors
    2089 Unknown community name
    68 Illegal operation for community name supplied
    0 Encoding errors
    341796946 Number of requested variables
    7328 Number of altered variables
    954

[2022-02-01 16:19] #602 closed

[2022-02-01 16:56] #598 closed

[2022-02-05 17:56] bskine opened #611 "Is this project dead???"
Haven't seen any pushes for a long time... Is this project dead??  Is windows support on the road map?

[2022-02-06 07:51] ThomasJRyan commented on #611
Hello there,

This project is very much not dead and is in constant active development. The reason you see few commits is because we do most of the development internally at Cisco and then release that internal code out to the world after putting it through sanitization checks.

What contributions you see on this repository were made by external users unrelated to Cisco.

As for whether we have pl

[2022-02-06 07:51] #611 closed

[2022-02-07 08:12] riborg opened #612 "VLANs with names exceeding 32 characters are not parsed"
In this output VLANs 1830 and 1832 are not parsed at all.

[code]

The RegEx seems to work though - https://regex101.com/r/OiDGZ4/1

According to Cisco IOS XE release notes VLAN name can now be up to 128 characters..
https://www.cisco.com/c/en/us/td/docs/switches/lan/catalyst4500/release/note/ol-37xe-4500e.html

New Software Features (Wired) in Release IOS XE 3.7.0E
VLAN Name Extension | Increases

[2022-02-07 16:59] riborg commented on #612
Thanks for the feedback. I think it's best for everyone if you take care of this. ;)

[2022-02-07 17:09] LukasMcClelland commented on #612
Sounds good, I'll look after the fix and will let you know when it's merged

[2022-02-08 04:12] #574 closed

[2022-02-08 04:18] LukasMcClelland commented on #596
Hello and my apologies for not getting to your issue sooner!

This issue seems to have slipped through the cracks, but rest assured I'm aware of it now and will be working on this

[2022-02-08 19:35] omehrabi commented on #573
seems th issue is fixed could you update to alter version and check again

[2022-02-09 17:04] mupchu opened #616 "BGP Advertised Routes pulls junk value"
When I am parsing the output of 'show ip bgp all neighbors <neighbor> advertised-routes, In the resulting dictionary I am getting a route 'econdary'.

![image](https://user-images.githubusercontent.com/43792509/153250423-04415f65-7933-4607-8df0-0b0482cbb129.png)
[cr1c-22ae-107-mdc-cli-1644421833.log](https://github.com/CiscoTestAutomation/genieparser/files/8034694/cr1c-22ae-107-mdc-cli-1644421833.

[2022-02-09 19:09] #597 closed

[2022-02-10 02:42] LukasMcClelland commented on #596
A fix for this has been merged and will be included in the next release of Genie. Thanks again

[2022-02-10 02:42] #596 closed

[2022-02-10 02:46] LukasMcClelland commented on #612
Fix has been merged and will be included in the next release of Genie (near end of the month)

[2022-02-10 02:46] #612 closed

[2022-02-10 15:58] somebody78 opened #617 "NXOS show interface parser not working"
Hello,

when using Genie with NXOS switches we noticed that the parser for show interface is not correctly working.
2 of the example strings are not correctly matched by the regular expression.
The regular expression to match the headlines in the output of show interface does not match the example lines:
Ethernet1/12 is down (Transceiver validation failed)
Ethernet1/13 is down (Channel admin down)

[2022-02-10 19:10] somebody78 commented on #617
Hi, I just noticed there is already a Pull request with a fix for this issue.
https://github.com/CiscoTestAutomation/genieparser/pull/578/files#
Thanks to 2008may21

[2022-02-11 20:29] danielgraziano commented on #617
Fixed and released a beta package. Please install the latest version of pyats using `pip install --upgrade pyats[full]` then upgrade to the beta package using `pip install --upgrade --pre genie.libs.parser`. The version should be `22.1.1b0`

[2022-02-13 15:12] empusas opened #618 "Interfaces not properly parsed from ASA command "show interface summary", because of "nlp_int_tap" interface"
There is a persistent bug that ASA firewalls show the internal "nlp_int_tap" interface in show commands on ASA in context mode.
I have tried different version up to 9.12(4).24, "real ASA" and firepower running ASA, all have the same problem.

The problem with the parser is that "nlp_int_tap" IPs are merged into other interfaces and "nlp_int_tap" mac  even replaces the real interface MAC:

output f

[2022-02-15 10:44] empusas opened #619 "ASA parsing of show inventory fails"
Parsing of the "show Inventory" command fails on one of our ASA firewalls:

From the sensible script:

`FAILED! => {"msg": "parse_genie: Missing keys: [['Ethernet 1/13', 'pid'], ['Ethernet 1/13', 'vid'], ['Ethernet 1/13', 'sn'], ['Ethernet 1/14', 'pid'], ['Ethernet 1/14', 'vid'], ['Ethernet 1/14', 'sn']] - Failed to parse command output."}
`
from the command output:

[code]

[2022-02-15 22:43] danielgraziano commented on #617
Closing due to no response. Please open a new issue and link this one if you still see a bug.

[2022-02-15 22:43] #617 closed

[2022-02-18 15:32] lsheikal commented on #619
Thanks for bringing up the issue. Looks like the parser couldn't accommodate this console output, You might want to contribute for the parser. For it, there is the reference how to develop parser. And there are very nice YouTube video in the page by pyATS users.

https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

[2022-02-18 21:14] muhammad-rafi commented on #619
Sorry for hijacking the thread, I was looking at one of my other pull request and get here, I think I can fix this one but, just one question, is ASA sending empty output like this
VID: ,

Not like this ?
VID: N/A

[2022-02-20 13:11] empusas commented on #619
Hi,

I pasted exactly the output of the command line, so "VID: ," is correct.

[2022-02-20 15:16] muhammad-rafi commented on #619
Thanks for the response, can you please also mention the asa os version you are using?, so I can test against that version and other versions to see it if this doesn't break for others

[2022-02-21 00:19] vkoulermos opened #621 "folder based testing breaks on iosxe -> ShowIpBgpNeighborsAdvertisedRoutes -> golden_output4"
When running tests using `python folder_parsing_job.py -o iosxe` I get this:

[code]

I am working on some iosxe show_bgp.py parsers and to bypass this issue I removed the all the golden_output4* files from this directory `genieparser/src/genie/libs/parser/iosxe/tests/ShowIpBgpNeighborsAdvertisedRoutes/cli/equal` and all other tests seem to work properly

[2022-02-21 10:15] somebody78 commented on #617
Thank you for your quick help. We installed the prerelease and it is working fine.
I appreciate it.

[2022-02-22 03:23] yzmar4real opened #622 "Genie Parser "Show running-configuration aaa username", "show running-configuration aaa user-name""
Hi,

When running the IOS-XE parser above, i get back the following error:

  File "/home/pyats/ios-audit/test.py", line 26, in <module>
    output = device.parse('show running-config aaa user-name')
  File "src/genie/conf/base/device.py", line 527, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 554, in genie.conf.base.device.Device._get_parser_output
  File "s

[2022-02-22 10:22] oianson opened #623 "iosxe "show wireless client mac {mac} detail}" - UnboundLocalError"
When using the following IOSXE parser 'show wireless client mac 1cbf.cee6.9419 detail' i am getting the following error..

Please assist in the fix of this bug.

[code]

[code]

[2022-02-23 12:43] empusas opened #624 "Models and keys seem to have no clear structure across all modules"
While working with the genie parser I noticed that I need to write a different parser for the output of every genie parser to normalize the data.
For example the MAC address key is sometimes "mac_address", "mac_addr" or simply "mac".
Also the structure from parsed output of the commands about the inventory items seems to be different from every parser module.

Looking at the models from Cisco it i

[2022-02-23 15:33] #462 closed

[2022-02-23 15:35] lsheikal commented on #619
@muhammad-rafi kindly link PR to this issue for reference.

[2022-02-23 18:24] danielgraziano commented on #622
@yzmar4real this error tells me that nothing was parsed. To determine the cause I would have to see the output from the device. If possible can you email it to pyats-support-ext@cisco.com and dangrazi@cisco.com?

If you don't want to share the output, then you can attempt to debug the parser. What I assume is non of the regex patterns are matching so the dictionary being returned is not being popu

[2022-02-24 13:57] domachad commented on #618
Hi @empusas , thank you for reporting this issue.
A fix was proposed and should be available soon

[2022-02-24 17:08] yzmar4real commented on #622
Hi Daniel, thanks for reaching out back. I just tried this again using the sandbox ioxe routers. See below,

+------------------------------------------------------------------------------+
|                            LOADING TESTBED FILES                             |
+------------------------------------------------------------------------------+

PASS: Successfully loaded testbed 'sandbox'

20

[2022-02-25 02:25] muhammad-rafi commented on #619
I have tested this in the lab and it works fine but I have a pull request currently opened #615 and been 17 days and waiting for someone to run the checks and review, once that done, I will then add this one and raise another pull request to fix this, or if like me to include this one on the same pull request? I can do this too, I will update the change log. Let me know what would you prefer

[2022-02-25 16:13] vkoulermos commented on #621
I tested and the bug is present even without the any changes. I checked the latest change on iosxe show_bgp.py PR #607 . Same error:
<img width="1429" alt="Screenshot 2022-02-25 at 6 03 17 PM" src="https://user-images.githubusercontent.com/99613649/155748738-6e2f00fd-e53d-48c1-9cf6-a5f07043b042.png">

[2022-02-25 19:52] danielgraziano commented on #622
@yzmar4real yeah it was what I thought. The regex in the parsers did not match. I modified the `show running-configuration aaa username` parser to support this output:

[code]

Tested using the above output:
[code]

We are in the process of releasing version 22.2. Once that is out I can release a beta pkg with this fix. Regarding `show running-configuration aaa user-name` it seems the format is qu

[2022-02-26 07:31] reddy-t opened #627 "ImportError: cannot import name 'ListOf' from 'genie.metaparser.util.schemaengine'"
Hello,

Traceback (most recent call last):
  File "main.py", line 4, in <module>
    from sea_genie_parser import SEA_Genie
  File "/home/surendra/SEA/Premigration_APIs/sea_genie_parser.py", line 13, in <module>
    from genie.libs.parser.iosxe.show_license import ShowLicense # show licence for iosxe
  File "/home/surendra/SEA/sea_venv/lib/python3.7/site-packages/genie/libs/parser/iosxe/show_licen

[2022-02-26 13:05] muhammad-rafi commented on #627
[reddy-t](https://github.com/reddy-t), I dont see an issue in 3.7, I tested and it worked fine, can you please test like this below ? or if this doesnt work, try re-installing the pyats 'pip install pyats[full]

[code]

[2022-02-26 17:27] automateyournetwork opened #628 "show wireless profile policy detailed {policy_name} uses literal {policy_name}"
Hello - this parser device.parse("show wireless profile policy detailed default-policy") actually sends the literal command

show wireless profile policy detailed {policy_name}

at the CLI

Please see my comment
https://github.com/CiscoTestAutomation/genieparser/pull/286#issuecomment-1052347249

[2022-02-27 11:12] tahigash commented on #628
I quickly tested. and not seeing the issue.
[code]
I assume you put an output to `show_wireless_profile_policy_summary` like below.
[code]
could you please send the console output of show command to pyats-support-ext@cisco.com?

[2022-02-27 12:58] automateyournetwork commented on #628
Yes I am doing the same thing in Python

device.parse(f"show wireless profile policy detailed { policy })

I do not believe {policy_name} isn't being format() - even if I hard code

device.parse("show wireless profile policy detailed wip-b60") it tries

show wireless profile policy detailed {policy_name}

Thanks

John

On Sun, Feb 27, 2022 at 6:12 AM Takashi Higashimura <
***@***.***> wrote:

[2022-02-27 15:06] tahigash commented on #628
Please send what I asked. I will look into it. at this point, I don't see any issue with genie parser.

[2022-02-27 15:19] automateyournetwork commented on #628
Here is the code and the output as requested

You can see the f string prints the policy but the actual detailed parser
does not substitute {policy_name} with the actual policy

for device in new_testbed:
            device.connect()

        # Show Wireless Profile Policy Summary to JSON

            try:
                show_wireless_profile_policy_summary = device.parse("show
wireless profile p

[2022-02-27 15:37] tahigash commented on #628
the parser expects to see below line.
https://wwwin-github.cisco.com/pyATS/genieparser/blob/6193d46936d81f6d3532844e066c7fe534ddcdf9/src/genie/libs/parser/iosxe/show_wireless.py#L2052
[code]
but your output doesn't have. that's why parser crashed. We encourage user to fix parsers as much as possible. if the output is true and come from device, maybe output is vary depending on os version. can I as

[2022-02-27 15:42] automateyournetwork commented on #628
Hi - sorry this is not my parser I just found it. The platform is a WLC
9800 if that helps. I just wanted to report this as a bug after trying it
on an 9800 WLC. The parent show .. summary works just fine.

Thanks

John

On Sun, Feb 27, 2022 at 10:37 AM Takashi Higashimura <
***@***.***> wrote:

[2022-02-27 19:16] robschn commented on #628
@tahigash I believe @automateyournetwork is literally seeing `{policy_name}` when supplying the `policy_name` arg for `ShowWirelessProfilePolicyDetailed`. I checked the code and saw we were missing the formatting of `policy_name` so I created #629 to fix! Please let me know what you think

[2022-02-28 09:47] tahigash commented on #628
@robschn thanks for the PR. I reviewed and fixed a small thing. then approved!

[2022-02-28 15:59] lsheikal commented on #619
Kindly create a new PR for this fix.

[2022-02-28 20:19] bastell commented on #616
Hi, apologies for the delay.
Is that the exact command you attempted to parse? We have a parser for `show bgp all neighbors {neighbor} advertised-routes` but not specifically for `show bgp all neighbors advertised-routes`. I am attempting to find if it is selecting the correct parser, or if a new command needs to be added.

[2022-02-28 21:18] mupchu commented on #616
it is show bgp all neighbors {neighbor} advertised-routes, sorry for the syntax mix up.

[2022-03-01 10:09] muhammad-rafi commented on #619
Pull requested created, please review #630

[2022-03-02 02:13] #628 closed, assigned to tahigash

[2022-03-02 15:24] ThomasJRyan commented on #621
I am unable to replicate this on the latest `master` branch. This was either resolved in the latest release or it is specific to your branch only

[2022-03-02 18:51] vkoulermos commented on #621
It has been fixed in #625. Same unittests removed as well. Thanks!

[2022-03-02 18:51] #621 closed

[2022-03-05 16:00] #618 closed

[2022-03-05 16:21] tahigash commented on #624
@empusas

This might be one of misunderstanding on pyATS parsers. whenever we can, we try to have same key name across platforms in parser schema. but it's not always true and sometimes hard to manage to be agnostic between platforms especially from contributor's perspective. (usually, the contributor care only one platform)

So, pyATS offers unified(agnostic) way via:

1) use Genie Conf for confi

[2022-03-05 19:11] abinmathewabraham opened #634 "'show ip eigrp topology' parser in ios-xe is not correctly parsing when there are multiple successors."
Let the output for the 'show ip eigrp topology' be:
[code]

While using R1.parse("show ip eigrp topology") we get:
[code]

Observe the entry for `192.168.3.0/24`. It has four successors. If there are multiple successors, then we need to have multiple entries under `192.168.3.0/24`. In this case, we need to have 4 successor entries and 2 non successor entries. The first 4 will be the successor entr

[2022-03-05 19:18] abinmathewabraham commented on #634
I feel we need to change the schema for this.
You can find me in cisco directory too.

[2022-03-06 23:20] muhammad-rafi opened #635 "'show snmp' iosxe throwing schema error 'Missing keys: [['contact']]' when contact is not configured"
I was running this 'show snmp' parser for iosxe and found that, if 'contact' is not configured under snmp configuration, it will throw the SchemaMissingKeyError for the 'contact'. I have found the issue in the current schema, 'contact' key should be an optional key but it is not currently, please see below, I will be raising pull request soon and link this issue. But wanted to raise this, in case,

[2022-03-07 16:19] #635 closed

[2022-03-07 16:19] lsheikal commented on #635
Thank you for your contribution. The fix is merged.

[2022-03-08 16:27] danielgraziano commented on #622
This fix will be available in version 22.3 (end of the month). If you need it sooner please let me know and I can release a beta package

[2022-03-08 16:27] #622 closed

[2022-03-11 18:48] abinmathewabraham opened #641 "'show ip route' parser in ios-xe is not correctly parsing when the protocol is EIGRP external (D Ex)"
Let the output of the 'show ip route' be:
[code]

While running R4.parse("show ip route") we get:
[code]

We can see that the entry for `22.22.22.0` is missing in the parsed output. I think the issue is when the protocol is `D Ex`. The normal EIGRP routes are correctly parsed. Moreover when we do R4.parse("show ip route 22.22.22.0") the output is correct. For this case, we can keep the source_prot

[2022-03-12 13:19] tahigash commented on #624
not an issue. closing this issue. please feel free to reopen if something needs to be discussed/checked.

[2022-03-12 13:19] #624 closed

[2022-03-15 04:09] yzmar4real commented on #622
Thanks Daniel, much appreciated!

From: Daniel Graziano ***@***.***>
Date: Tuesday, 8 March 2022 at 20:27
To: CiscoTestAutomation/genieparser ***@***.***>
Cc: Oluyemi Oshunkoya ***@***.***>, Mention ***@***.***>
Subject: Re: [CiscoTestAutomation/genieparser] Genie Parser "Show running-configuration aaa username", "show running-configuration aaa user-name" (Issue #622)

This fix will be available i

[2022-03-16 01:00] tahigash commented on #634
@abinmathewabraham Genie Parser is open source. so can you consider contributing the fix/update?

reference: https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html

[2022-03-16 17:21] abinmathewabraham commented on #634
Thanks. I will take a look.

[2022-03-22 17:45] jmarenco02 opened #643 "show running-config | section ^interface for IOS"
Unable to parse "show running-config | section ^interface" output when "cdp enable" if defined on an interface.

This is the error I am presented with.:

msg: 'parse_genie: interfaces.GigabitEthernet0/0/4: Unsupported keys: [''cdp''] - Failed to parse command output.'

[2022-03-27 12:08] micyew opened #645 ""show logging" for IOSXE c3850 switch not working!"
Hi,

Is there a different in the "show logging" parser between IOS c3750 and IOSXE c3850? It works on c3750 (15.0(2)SE12) but the same command can't work on c3850 IOSXE (16.12.4). It gave the following exception:

Issue with the parser show logging

Traceback (most recent call last):
  File "src/genie/cli/commands/parser.py", line 339, in genie.cli.commands.parser.ParserCommand.parse
  File "src/g

[2022-03-28 13:41] gerardocastaldo opened #646 "Issue: "show l2vpn service all""
Hi, i am observing parsing problem of the "show l2vpn service all" command on ASR IOXSE.

The command output is:

[code]

The parser output is:

[code]

The problem is the parsing the encapsulation schema  "IP:Port(Eth Vlan)", for example see "EVPL-2-MPLS-to-ASR-BKB-O2" dict.

[2022-03-28 16:39] LukasMcClelland commented on #641
Hello @abinmathewabraham

2 things to note:

- Since you're a Cisco employee, please raise future issues using PieStack
- Genieparser is a community driven repo and so we first ask users to contribute fixes to issues themselves. Would you be interested in providing a fix for this issue and then opening up a PR? If not, that's not a problem, we can fix ourselves if you're unable to.

[2022-03-28 16:59] LukasMcClelland commented on #643
Hello and thank you bringing this to our attention. Since genieparser is a community driven repo, we encourage users to make fixes for errors themselves. Would you be willing to fix this and then open up a PR to commit the changes? If not, that's alright, we can handle it if you choose not to

[2022-03-28 17:01] LukasMcClelland commented on #645
Hello, I've replied to the email you sent to pyats-support-ext@cisco.com. We can track it there, so I'll close this issue. Please reopen if needed :)

[2022-03-28 17:01] #645 closed

[2022-03-28 17:34] LukasMcClelland commented on #646
Thanks for bringing this to our attention. As genieparser is a community driven repo, we encourage users to make fixes for errors themselves. Would you be willing to fix this and then open up a PR to commit the changes? If not, that's alright, we can handle it!

[2022-03-29 07:19] gerardocastaldo commented on #646
Hi Lukas, i haven't experience about the procedure for commit a changes.

I tested the new parser and in my case is working well.

I changed the rows 1234 and 1235 in 'master/src/genie/libs/parser/iosxe/show_l2vpn.py'

from

[code]
to

[code]

Can you changed it for me ?

Thanks a lot
Gerardo

The new output is:

[code]

[2022-03-31 23:23] mupchu commented on #616
Is this issue being looked at,?!

[2022-04-01 22:12] LukasMcClelland commented on #646
Hi @gerardocastaldo,

I tried out the regex you provided and while it did pass the tests, I noticed that it didn't match some of the commented device output examples above that regex pattern. So, I took your idea and tweaked it to come up with this pattern:

[code]

Can you please try it out for your scenario and let me know if it works correctly for you?

Thanks!

[2022-04-02 06:58] abinmathewabraham commented on #641
Thanks Lukas. If future issues are there I will raise it using PieStack.
Regarding fixing the parser schemas, till now I wasn't able to spend much time on it. Let me see If I can take this up in couple of weeks.

[2022-04-04 09:29] gerardocastaldo commented on #646
Hi @LukasMcClelland,

i confirm you that the regex pattern works correctly in my case.

Thanks a lot
Gerardo

[2022-04-04 15:02] #643 closed

[2022-04-04 21:13] LukasMcClelland commented on #646
Great. I'll create a PR and the fix will be in the next release

[2022-04-04 21:13] #646 closed

[2022-04-04 21:13] LukasMcClelland commented on #646
Thanks again for letting know about this issue

[2022-04-05 14:54] ChristopherJHart opened #648 "IOS-XE - "show flow exporter statistics" does not parse if exporter contains special characters"
Consider the following IOS-XE configuration:
[code]
Consider the following output of `show flow exporter statistics`:
[code]
The Genie parser for `show flow exporter statistics` is not able to parse this output because the name of the NetFlow exporter has a special character (specifically, `-`). The root cause of this is the [following regular expression pattern](https://github.com/CiscoTestAutoma

[2022-04-06 14:11] domachad commented on #648
Hi @ChristopherJHart,

Thank you for reporting the issue and for working on a fix for it as well.
Once you raise a PR, our team will review it

[2022-04-07 12:59] vnstech opened #649 "/genie/libs/parser/iosxr/show_mpls.py - regex issues"
**regex issues ( IOSXR 7.1.2):**

class ShowMplsLdpIgpSync(ShowMplsLdpIgpSyncSchema):

        p1 = re.compile(r'^(?P<interface>[\w]+[\/\d]+):$')
        p3 = re.compile(r'^Sync +delay:\s+(?P<delay>\S+)$'

I think these should be   --->
class ShowMplsLdpIgpSync(ShowMplsLdpIgpSyncSchema):

        p1 = re.compile(r'^(?P<interface>[-\w]+[\/\d]+):$')
        p3 = re.compile(r'^Sync +delay:\s+(?P<dela

[2022-04-07 13:10] vnstech commented on #649
this worked for me -->
p5 =(?P<peers>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}:\d{1,3})\+?(?P<gr_flag>\(GR\))?$

[2022-04-07 14:49] ChristopherJHart opened #650 ""make test" fails on fresh development machine installation"
The `make test` command fails when executed on a fresh Ubuntu 20.04 development environment.

I have a [fork of genieparser here](https://github.com/ChristopherJHart/genieparser) that is up-to-date with this upstream genieparser repository. After cloning this fork to an Ubuntu 20.04 host, I followed the below steps (which are interpreted from the "Development" section of this repository's README.m

[2022-04-07 15:29] ChristopherJHart commented on #650
@tahigash reached out and confirmed that `make test` is *not* intended to be used to run unit tests. To run unit tests for parsers, reference the relevant section of the [pyATS Development Guide](https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html#testing-your-parser) for more details.

In summary, to execute folder-based tests:

1. Run `make json`
2. `cd

[2022-04-07 15:29] #650 closed

[2022-04-13 05:15] LukasMcClelland commented on #649
Hi @vnstech,

I'll fix the parser. Thanks for letting us know about the issue

[2022-04-13 07:30] vnstech commented on #649
thanks
 sure next time I will try to raise a pull request.

[2022-04-13 19:03] LukasMcClelland commented on #649
Fix has been merged and will be included in our next release (less than 2 weeks from today)

[2022-04-13 19:03] #649 closed

[2022-04-13 19:03] LukasMcClelland commented on #649
Thanks again for letting us know about the issue!

[2022-04-29 05:43] sshekha3 opened #655 "existing genie parser of "show hardware led" has different output structure as compare to what we see on cat9200."
Hello Team,

I have written a genie parser for "show  hardware led" which has different output structure as compared to what is there in already written parser.

output on my switch(cat9200):
enf_26#sh hardware led

Current Mode: STATUS

**SWITCH**: 1
**SYSTEM**: GREEN
**MASTER**: GREEN
**STATUS**: (28) Gi1/0/1:BLACK Gi1/0/2:BLACK Gi1/0/3:BLACK Gi1/0/4:BLACK Gi1/0/5:BLACK Gi1/0/6:BLACK Gi1/0/7:BLA

[2022-05-04 17:45] ChristopherJHart commented on #648
Closing as the PR fixing this issue has been merged.

[2022-05-04 17:45] #648 closed

[2022-05-05 12:04] lukasnbm opened #656 "SchemaUnsupportedKeyError for IOS-XE Parser for CDP configuration on show run interface <interface name>"
Hi PyATS team,

I am using PyATS version 22.4 and I have found an `SchemaUnsupportedKeyError` like bellow when I am using **dev.parse("show running-config interface GigabitEthernet0/5/6")** :

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "src/genie/conf/base/device.py", line 527, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line

[2022-05-09 13:45] AlexLardschneider opened #657 "Parsing of "show l2vpn xconnect" fails on IOS XR 7.2.2"
Parsing of the output of "**show l2vpn xconnect**" on IOS XR 7.2.2 fails with the following error using PyATS & Genie 22.4:

[code]

It looks like the issue is the changing header format between IOS XR 7.1.2 (where parsing works as expected) and IOS XR 7.2.2.
Unfortunately, I have no device running XR > 7.2.2 to confirm that newer versions experience the same issue.

Following sample code reproduc

[2022-05-18 21:13] stevedhn commented on #655
Hi, do you have any updates on this? are you able to solve this issue?

[2022-05-20 14:27] lukasnbm opened #659 "ios-xr parser issue - "show ospf interface" and "show ospf interface {interface_name}""
Hi Team,

I have an issues with ios-xr parser
1.  ```show ospf interface``` - parser result doesn't catch the md5 authentication even though the interface on the router has ospf authentication enabled.
2.  ```show ospf interface {interface_name}``` parser it gives me the error below:
[code]
For extra information, I tried the ios-xe parser with the same command and it all works fine, it shows the o

[2022-05-22 16:52] mupchu commented on #616
This is still broken, I wrote my own program to parse out the data I needed.  Leaving this open just in case this gets any attention, but I am no longer using pyats for this use case.

[2022-05-24 13:56] stevedhn commented on #655
no response from the user, closing this issue.

[2022-05-24 13:56] #655 closed

[2022-05-25 14:02] maximebel opened #660 "JUNOS UnboundLocalError: local variable 'physical_interface_dict' referenced before assignment"
Hello

When trying show interface <my itf> extensive, I get the following error message from python :
UnboundLocalError: local variable 'physical_interface_dict' referenced before assignment

I think I have identified the issue. The trace is
Physical interface: ge-0/0/1, Administratively down, Physical link is Down

but the parser is (line 1042 from parser/junos/show_interface.py)
# Physical inter

[2022-05-27 03:09] derevk0 opened #662 "ios-xe show track issue"
Hi Team,

Issue with the genie parser 22.3 for ios-xe "show track" command
Error below:

`Traceback (most recent call last):
  File "csv_track.py", line 138, in <module>
    output_dict = dev.parse('show track', output=track_str2)
  File "src/genie/conf/base/device.py", line 527, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 573, in genie.conf.base.device.Devi

[2022-05-27 14:59] joewesch opened #663 "Partial syntax matches are scored the same as variables, resulting in ambiguous or incorrect matches"
While evaluating using Genie with Netmiko I discovered that I was able to use abbreviated syntax such as `sh ip int` instead of `show ip interface`. However, if I did `sh ip int br` it would not work. After doing some digging it looks like the [_fuzzy_search_command](https://github.com/CiscoTestAutomation/genieparser/blob/44cf21fa146171a6788bb7db598f63ba3491d421/src/genie/libs/parser/utils/common.

[2022-05-27 16:15] joewesch commented on #663
After reviewing further it seems that I should be using `fuzzy=True`. As this flag is not exposed in Netmiko, maybe this is better handled as an issue in that repo to expose the option.

I'll leave this issue open for now if anyone else has any input on how to better handle partial syntax matches without explicitly enabling fuzzy.

[2022-05-30 03:57] derevk0 opened #664 "genie ping parser (ios-xe) wrong variable with the raw data"
Hi team,

The genie ping parser (v22.4)  for ios-xe shows wrong variable between average ping and max ping.
It is swapped.

See below:
**_Raw input:_**

Sending 5, 100-byte ICMP Echos to 208.67.220.220, timeout is 2 seconds:
Packet sent with a source address of 10.1.1.1
!!!!!
Success rate is 100 percent (5/5), round-trip min/**avg/max** = 8/**8/9** ms

**_Parser:_**

          'data_bytes': 100,

[2022-06-02 14:26] omehrabi commented on #660
Hi,
thank you for finding the issue. pyats is an open source and since you already found the issue you could contribute to pyats.

[2022-06-02 14:36] Taarini commented on #662
Hi

Can you share the device output for show track.

[2022-06-02 15:04] Taarini commented on #659
Can you please clarify, what you mean by md5 authentication. If possible can you highlight the line in the device output.

Also, iosxe doesn't have the "show ospf interface", but it has "show ip ospf interface".

[2022-06-02 15:39] lukasnbm commented on #659
Yes, for the IOS-XE the command should be ```show ip ospf interface```.
In this example I try to sample with interface G0/3/7.

The device output related to md5 configuration on ios-xe is:
[code]

and the parser result for ios-xe is:
[code]
You can see the parser gives the MD5 authentication crypto algorithm.

For IOS-XR parser with ```show ospf interface``` I try to sample with Te0/5/0/34, the de

[2022-06-02 15:53] Taarini commented on #659
Thank you for the detailed response. Will keep you posted and let you know once it is fixed.

[2022-06-03 07:12] AlexLardschneider commented on #657
Appreciate it!

[2022-06-06 05:47] derevk0 commented on #662
Hi,
Here you go:
`Host> show track 34

Track 34
  IP SLA 34 state
  State is Up
    11 changes, last change 1d16h
  Latest operation return code: OK
  Latest RTT (millisecs) 16`

[2022-06-06 14:46] balmasea opened #668 "When there is no eigrp neighbor, parsed output is not empty"
I'm parsing the eigrp neighbor for a bunch of defines and when there are no neighbors, output is different than expected.
I would expect to receive an empty yml like this
[code]

as I'm getting for `show ip ospf neighbor`. For `show ip eigrp neighbor` I'm getting this output though:
[code]

[2022-06-06 14:57] balmasea commented on #668
FYI, I'm already working on the code to fix this issue.

[2022-06-06 17:21] stevedhn commented on #664
Hi @derevk0 can you provide the steps to replicate this issue?

[2022-06-06 20:22] jgcato opened #670 ""show ip route vrf 300" parser not working"
Hi, I am trying to use the **"show ip route vrf {vrf}** parser for ios-xe and am getting the following error:

      UnboundLocalError: local variable 'source_protocol' referenced before assignment

I am using genie inside of a custom python-based keyword for a robot script I am running. The script is calling that keyword and reporting the error stated above. In that same script, the parser **show

[2022-06-07 02:21] doug1as opened #671 "Status - linkFlapErrDisabled, port: error - don't been parsing on "show interface {interface}"
Hi,

I'm trying to parse the whole "show interface" output on nxos device, it's working for 99% of interfaces ...
The actual status on one interface didn't allow this one to be parsed like the other ones.

**linkFlapErrDisabled, port: error**

The RAW output of 140/1/26:

HOSTNAME# show interface ethernet 140/1/26
Ethernet140/1/26 is down **(linkFlapErrDisabled, port: error)**
admin state is up

[2022-06-07 07:50] derevk0 commented on #664
We can use genie parser and it also shows same wrong variable.

genie parse "ping 72.163.4.185 source lo0 repeat 5" --testbed-file testbednew.yaml -vvv

  0%|                                                                                                                                                         | 0/1 [00:00<?, ?it/s]
2022-06-07 09:46:07,596: %UNICON-INFO: +++ Host with via 'cli': ex

[2022-06-07 14:53] balmasea commented on #668
I was wrong, it was a problem in our code.

[2022-06-07 16:47] Taarini commented on #662
Thank you will check and get back to you

[2022-06-08 14:14] gujohal opened #672 "Error with genie parse for Catalyst 6500"
Experiencing a bug with the Show inventory command for our catalyst 6500.

When we run the parser we only get output for one of the chassis on our system. When issuing the command via the CLI directly on the device we see all the modules.

[2022-06-08 19:59] Taarini commented on #672
Thank you for your response. Will keep you posted of the updates.

[2022-06-08 22:57] stevedhn commented on #664
Hi @derevk0 I fixed the issue, it'll be ready in the next release.

[2022-06-09 09:06] lukasnbm opened #673 "ios-xr parser issue - "show bgp instance {instance} all all""
Hi PyATS Team,

I have some issue with xr parser```show bgp instance {instance} all all```. It seems that the parser cannot catch some of the bgp description, here are the sample output from the router:

[code]
As you can see both the neighbor have their own description information.

But the parser cannot catch the first neighbor description. Here are the sample output from the parser:
[code]
As y

[2022-06-09 14:45] #664 closed

[2022-06-09 14:50] stevedhn commented on #663
Hi @joewesch do you have any updates on this?

[2022-06-09 14:52] joewesch commented on #663
No, I think the solution for now will be to enable fuzzy in Netmiko. I will go ahead and close this issue for now. Thanks.

[2022-06-09 14:52] #663 closed

[2022-06-09 17:08] lukasnbm commented on #673
Hi @omehrabi ,

As I still don't have any experience with git process.
Can you guys please kindly fix the issue and put it on the next release?

[2022-06-13 12:54] DendoD96 opened #675 "Show mac address-table static"
Hi everyone,
Genie parsers include those for obtaining the dynamic entries of the mac address table. Would it be possible to refactor the class to accept a type argument so that the same commands can be executed on static entries? This would allow to duplicate the code to manage the static entries.

Daniele

[2022-06-13 18:47] pmcristea opened #676 "show vrf all detail - IOS XR doesn't work"
show vrf all detail - IOS XR doesn't work
I'm trying via netmiko and most other commands work, but this one not

[2022-06-14 14:28] domachad commented on #675
Hi @DendoD96 . Technically it is possible to do, as long as the refactored parser is backwards compatible.

We incentivize the members of the pyATS community to contribute.

If you want to make this enhancement you can refer to the documentation for more instructions on how to proceed:
https://developer.cisco.com/docs/pyats-development-guide/

[2022-06-15 16:24] omehrabi commented on #676
Hi,
what do you mean it does not work?

[2022-06-15 20:25] gujohal commented on #672
Hello Taarini,

Any update on the case?

Thanks,

[signature_452394959]<about:blanknull>
Gurmeet Johal
SYSTEMS ENGINEER.INTL SALES
***@***.******@***.***>
Mobile: +1 519 574 0074
Cisco Systems Canada Co.
Canada
This email may contain confidential and privileged material for the sole use of the intended recipient. Any review, use, distribution or disclosure by others is strictly prohibited. If you

[2022-06-15 21:05] Taarini commented on #672
Hi @gujohal, I'm working on it. Will share the fix soon.

[2022-06-16 03:17] lukasnbm commented on #659
Hi @Taarini, thank you very much for the support and the update. Looking forward to it

[2022-06-16 10:10] DendoD96 commented on #675
Hi @domachad,
I will certainly try to contribute. Looking at the code, I noticed that there are several schemes for very similar commands. For instance:

- the class `ShowMacAddressTable` in` show_fdb.py` has a scheme
- the class `ShowMacAddressMacVlan` in` show_fdb.py` has another scheme
- the class `ShowMacAddressTableDynamic` in` show_mac_address.py` has another scheme

Should we integrate all

[2022-06-16 21:12] Taarini commented on #662
@derevk0 The issue has been fixed and will be available in the next release.

[2022-06-17 14:13] Taarini commented on #671
Hi,

Would you mind contributing this fix for the genie parser library.
Here is the file below where the regex needs to be updated.
https://github.com/CiscoTestAutomation/genieparser/blob/master/src/genie/libs/parser/nxos/show_interface.py#L244

[2022-06-17 15:04] domachad commented on #675
It's important to keep in mind that these parsers were developed by different people at different times.
As long as the changes maintain backwards compatibility, making the code more uniform would be a great plus.
I would recommend starting with a simple contribution and then you can build from there.

[2022-06-17 21:34] jc-krylatskoe opened #677 "show running-config interface {interface} parser not getting acl name on IOS/IOS-XE"
The following parser commands don't return the correct output for 'acl' if access-list is only configured in either 'in' or 'out' direction on interface:
[code]

See details below:

**Output of parser for "show running-config | section ^interface":**

1. If access-list is only configured in 'in' direction:

[code]

Then parser returns an empty acl:
`'GigabitEthernet1/0/27': {'acl': {}}`

But the e

[2022-06-17 21:36] jc-krylatskoe commented on #677
See reference configuration:
[switch-config.txt](https://github.com/CiscoTestAutomation/genieparser/files/8931429/switch-config.txt)

[2022-06-20 14:58] Taarini commented on #672
Hi @gujohal , Can you please share the os and platform you used for me to reproduce the issue.

[2022-06-20 21:43] jc-krylatskoe commented on #677
Hey @Taarini please refer to the configuration:
[https://github.com/CiscoTestAutomation/genieparser/files/8931429/switch-config.txt](switch-config)

[2022-06-21 22:42] Taarini commented on #672
Just a reminder, Please share the os and platform to debug

[2022-06-22 17:46] doug1as commented on #671
Hi @Taarini,

I tried with this new code but still doesn't work (the same issue).

Kind Regards.

[2022-06-22 17:50] Taarini commented on #671
Okay, Thanks for the update. Will look into it.

[2022-06-23 17:01] lukasnbm commented on #673
Hi @omehrabi ,

Are there any update regarding this issue? Or maybe the team is still working on it?

Thank you.

[2022-06-23 17:11] omehrabi commented on #673
Hi
this is not a git issue here is the documnentation for writing a parser:
https://pubhub.devnetcloud.com/media/pyats-development-guide/docs/writeparser/writeparser.html
if still after reading the documentation you are not able to fix the issue, we will add it to workload.

[2022-06-23 18:24] omehrabi commented on #673
ok sure. please provide the device output and the issue and we will fix it. I could not say when it would be available since we are shot handed at the moment and this is not a blocker

[2022-06-23 18:49] lukasnbm commented on #673
Thank you very much @omehrabi ,

I have some issue with xr parser ```show bgp instance {instance} all all```.
It seems that the parser cannot catch some of the bgp description.
Here are the sample output from the router:

[code]
As you can see both the neighbor have their own description information.

But the parser cannot catch the first BGP neighbor description.
Here are the sample output from t

[2022-06-23 20:17] jc-krylatskoe commented on #677
here you are, outputs of:
**show running-config interface GigabitEthernet1/0/27**
**show running-config interface GigabitEthernet1/0/28**

[code]

[code]

[2022-06-27 15:24] Taarini commented on #671
The issue has been fixed and will be available in the next release 22.6.

[2022-06-27 19:04] Taarini commented on #677
Thanks @jc-krylatskoe. Will update you once it is fixed.

[2022-06-27 19:32] gujohal commented on #672
Hello Taarini,

Any update on this?

Thanks,

[signature_452394959]<about:blanknull>
Gurmeet Johal
SYSTEMS ENGINEER.INTL SALES
***@***.******@***.***>
Mobile: +1 519 574 0074
Cisco Systems Canada Co.
Canada
This email may contain confidential and privileged material for the sole use of the intended recipient. Any review, use, distribution or disclosure by others is strictly prohibited. If you are

[2022-06-27 19:34] Taarini commented on #672
Hi @gujohal, I need os and platform which you used to reproduce the issue. Please share them

[2022-06-27 19:37] gujohal commented on #672
Hello Taarini,

I have shared the OS and platform twice in previous emails. I am sharing it again.

Catalyst 6509 on OS version 15.5(1)SY7.

Could you please confirm if you have received the OS and platform?

Thanks,

[signature_452394959]<about:blanknull>
Gurmeet Johal
SYSTEMS ENGINEER.INTL SALES
***@***.******@***.***>
Mobile: +1 519 574 0074
Cisco Systems Canada Co.
Canada
This email may contai

[2022-06-27 19:46] Taarini commented on #672
Can you confirm the os. Is it `IOSXE`

[2022-06-27 19:47] gujohal commented on #672
Yes , its iosXE

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Taarini ***@***.***>
Sent: Monday, June 27, 2022 3:46:52 PM
To: CiscoTestAutomation/genieparser ***@***.***>
Cc: Gurmeet Johal (gujohal) ***@***.***>; Mention ***@***.***>
Subject: Re: [CiscoTestAutomation/genieparser] Error with genie parse for Catalyst 6500 (Issue #672)

Can you confirm the os. Is

[2022-06-27 20:06] Taarini commented on #672
If you set the os as `ios` and platform as `cat6k`. It works as expected please check.

`{'index': {1: {'name': 'Chassis 1 WS-C6509-E',
   'descr': 'Chassis 1 Cisco Systems, Inc. Catalyst 6500 9-slot Chassis System',
   'pid': 'WS-C6509-E',
   'vid': 'V06',
   'sn': 'SMC1705005G'},
  2: {'name': 'Chassis 1 WS-C6K-VTT-E 1',
   'descr': 'Chassis 1 VTT-E FRU 1',
   'pid': 'WS-C6K-VTT-E',
   'sn': 'SM

[2022-06-28 12:30] gujohal commented on #672
Hello Gurmeet and Taarini,

We are still experiencing this issue, I re-ran the show inventory command this morning and got the results that are attached to this email.

Thanks for your time,

Devin Sloan
***@***.******@***.***>
Tel.: 613-983-8104

From: Gurmeet Johal (gujohal) ***@***.***>
Sent: June 27, 2022 4:22 PM
To: CiscoTestAutomation/genieparser ***@***.***>; CiscoTestAutomation/genieparser

[2022-06-28 13:28] gujohal commented on #672
Hello Gurmeet,

The testbed for the given device is as follows:
    MG06FSZ46:
      alias: 'MG06FSZ46'
      type: router
      os: 'ios'
      role: 'core'
      platform: c6k
      credentials:
        default:
          username: "%ENC{gAAAAABh6tgR3WFn9NMIC-gCyZ6VjI5O_0HxA6tz1wF63CDCU9y6nWauWCLfSuISfA5Bk5K8z_XbHamD7Ua407-PRBYU8CbQoQ==}"
          password: "%ENC{gAAAAABiJ4R67XPJP6SpxNXDiRp6FYj

[2022-06-28 13:43] gujohal commented on #672
Hello Sloan,

Please set the platform to cat6k and let me know if it works.

Taarini – On replying back, could you please include all the recipients in the email? Currently your replies are being unicast to me.

Thanks,

[signature_452394959]<about:blanknull>
Gurmeet Johal
SYSTEMS ENGINEER.INTL SALES
***@***.******@***.***>
Mobile: +1 519 574 0074
Cisco Systems Canada Co.
Canada
This email may con

[2022-06-28 13:54] gujohal commented on #672
Hello Gurmeet,

Unfortunately changing the platform gives me the same result.

Regards,

Devin Sloan
***@***.******@***.***>
Tel.: 613-983-8104

From: Gurmeet Johal (gujohal) ***@***.***>
Sent: June 28, 2022 9:43 AM
To: Sloan, Devin J.A. ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; Chantigny, Rock ***@***.***>
Cc: Mention ***@***.***>; F

[2022-06-28 14:02] Taarini commented on #672
Can you share the pyats and python version you are using.

[2022-06-28 14:04] gujohal commented on #672
Hello Sloan,

Could you please share the pyats and python version you are using?

Thanks,

[signature_452394959]<about:blanknull>
Gurmeet Johal
SYSTEMS ENGINEER.INTL SALES
***@***.******@***.***>
Mobile: +1 519 574 0074
Cisco Systems Canada Co.
Canada
This email may contain confidential and privileged material for the sole use of the intended recipient. Any review, use, distribution or disclosure

[2022-06-28 14:07] Taarini commented on #672
I'm replying on github. Since you are one who raised this issue you are receiving it.

[2022-06-28 14:15] gujohal commented on #672
Hello Gurmeet,

We are currently using pyATS version 22.5 and python  3.9.7.

Regards,

Devin Sloan
***@***.******@***.***>
Tel.: 613-983-8104

From: Gurmeet Johal (gujohal) ***@***.***>
Sent: June 28, 2022 10:05 AM
To: Sloan, Devin J.A. ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; Chantigny, Rock ***@***.***>
Cc: Mention ***@***.***>; F

[2022-06-28 19:07] Taarini commented on #672
Could you please add the custom abstraction in your testbed file like below,

[code]

This should solve your issue

[2022-06-28 19:36] gujohal commented on #672
Hello Gurmeet,

That seems to have done the trick, I getting all entries for our inventory now!

Thanks you very much,

Devin Sloan
***@***.******@***.***>
Tel.: 613-983-8104

From: Gurmeet Johal (gujohal) ***@***.***>
Sent: June 28, 2022 3:27 PM
To: Sloan, Devin J.A. ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; CiscoTestAutomation/genieparser ***@***.***>; Chantigny, Rock ***@***.*

[2022-06-28 19:43] Taarini commented on #672
Good to hear. Closing this issue as its resolved.

[2022-06-28 19:51] Taarini commented on #677
It's been fixed and will be released in 22.6

[2022-07-02 16:13] #677 closed

[2022-07-02 16:13] jc-krylatskoe commented on #677
Thank you, after upgrade of pyATS/genie to 22.6 I confirm that parser works fine and produces expected results for all my tests

[2022-07-07 17:16] Taarini commented on #616
Hi, apologies for the delay.

Can you share what output you are expecting and what output you got with the parser. Please share the output and not the screenshot of the output to investigate further.

[2022-07-11 13:26] Taarini commented on #616
Hi,

Are you still looking into this issue.

[2022-07-11 15:55] mupchu commented on #616
I no longer use this tool, however I think it is something I would like to be able to use.  I will try and pull the information today, I need to rerun a test, and give you some files to look at.

[2022-07-11 20:04] mupchu commented on #616
[adv_route.zip](https://github.com/CiscoTestAutomation/genieparser/files/9087213/adv_route.zip)
I printed the output of the parse command so you can see what the parser if grabbing.  All the logs files zipped up in here as well.

thannks!

[2022-07-12 01:04] Taarini commented on #616
Thanks for the update. Will look into it and get back back to you with an update

[2022-07-12 19:02] Alexpf20210007 opened #682 "Genie Parser Error Handling Request"
The issue is that genieparser does not handle basic parser empty and returns exception. This seems pretty trivial. However it would save me a ton of time and anybody else that uses this.
I think that the Genie parser should be able to handle an empty parser error exception without crashing. This could be done by returning to the python script and allowing the end user to handle it, or by having th

[2022-07-13 17:11] sjpatel21 commented on #682
Can you please let me know specifically which parser throws this exception when returning empty.

[2022-07-13 19:21] Alexpf20210007 commented on #682
Does this help
  File "src/genie/conf/base/device.py", line 528, in genie.conf.base.device.Device.parse
  File "src/genie/conf/base/device.py", line 567, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/conf/base/device.py", line 565, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metaparser/_metaparser.py", line 329, in genie.metaparser._metaparser.Meta

[2022-07-15 11:47] fazlan645292 opened #683 "show hsrp detail - empty parser"
[code]

"show hsrp detail" on asr9k/iosxr

[2022-07-15 18:42] Taarini commented on #683
Hi

Did you check manually whether you are getting the expected result for the `show hsrp detail`

[2022-07-15 18:50] fazlan645292 commented on #683
Hi,
show hsrp detail returns no output on some devices, which resulted to parser error above.

[2022-07-15 18:52] Taarini commented on #683
Can you please share the device output for which you are facing issue and also the OS and platform details

[2022-07-15 19:10] fazlan645292 commented on #683
I am sorry I dont get your question. but for devices with actual output from the command returns parsed output. Otherwise, the parser error.

[2022-07-15 19:12] Taarini commented on #683
Will check with the team and get back to you on this

[2022-07-16 08:34] fazlan645292 commented on #683
Hi,

I did several reinstall of pyats and genieparser, couldnt really explain how, maybe I missed something. but this time seems to be working?

2022-07-16 08:30:06,033: %UNICON-INFO: +++ TB-UER-1 with via 'cli': executing command 'show hsrp detail' +++
show hsrp detail
Sat Jul 16 16:30:06.224 MYT
RP/0/RSP0/CPU0:TB-UER-1#
{'No HSRP': {}}

genie==22.6
genie.libs.clean==22.6
genie.libs.conf==22.6
ge

[2022-07-16 08:34] #683 closed

[2022-07-20 07:17] SlothSteve opened #684 "Genie parser show hardware led error"
trying to send "Show hardware led" gives this error, sifting through the parser

for line in output.splitlines():
            line = line.strip()

            # SWITCH: 1
            m = p1.match(line)
            if m:
                group = m.groupdict()
                root_dict = ret_dict.setdefault('switch',{}).setdefault(int(group['switch_num']),{})
                continue

            # S

[2022-07-20 08:14] SlothSteve commented on #684
another error that comes up sometimes is
` File "src/genie/conf/base/device.py", line 565, in genie.conf.base.device.Device._get_parser_output
  File "src/genie/metaparser/_metaparser.py", line 342, in genie.metaparser._metaparser.MetaParser.parse
  File "src/genie/metaparser/_metaparser.py", line 322, in genie.metaparser._metaparser.MetaParser.parse
  File "src/genie/metaparser/util/schemaengine.

[2022-07-20 08:56] SlothSteve commented on #684
problem solved in a way, the output from my devices seems to be in a different format, I just removed some fields from both the schema and the parser

[2022-07-20 08:56] #684 closed

[2022-07-20 19:07] sjpatel21 commented on #682
Sorry, what I meant was to know which parser raised this error. Can you please let me know which command parser triggers this error.

[2022-07-20 21:23] Alexpf20210007 commented on #682
An example would be that if I have a device in my device list that the Unicon Plugin signs into and runs a command, but the command does not exist on that device for some reason.

[2022-07-20 21:23] Alexpf20210007 commented on #682
It could be any command.

[2022-07-21 07:20] dirkf98 opened #685 "Problem with installing version 22.6"
Hello,

I'm trying to install the newest version of Genie (22.6). A simple `pip install genie` apparently gives me version 22.4.
`> pip freeze | grep genie
genie==22.4
genie.libs.clean==22.4.1
genie.libs.conf==22.4
genie.libs.filetransferutils==22.4
genie.libs.health==22.4
genie.libs.ops==22.4
genie.libs.parser==22.4
genie.libs.sdk==22.4.1`

Trying to install the specific version does not work, to

[2022-07-21 13:30] Taarini commented on #685
The issue could be due to you existing pyats version is 22.4.
Create a new virtual environment and try installing the pyats.

[2022-07-21 14:03] dirkf98 commented on #685
Hello,

thanks for the quick reply.
I initially tried in a new virtual environment and using "pip install pyats[library]" installed the 22.4 version.
When trying "pip install pyats[library]==22.6" I get this error message.
ERROR: Could not find a version that satisfies the requirement pyats[library]==22.6 (from versions: 4.1.0, 5.0.0, 5.0.1, 5.1.0, 19.0, 19.4.0, 19.5.0, 19.6, 19.7, 19.8, 19.9, 19.

[2022-07-21 14:31] Taarini commented on #685
FYI, pyats+python3.6 support ended as of April 2022. Please install python 3.8+.
Please follow the steps below

- Create a virtual env specific to version 3.8
- pip install "pyats[full]"

Let me know if your issue resolves

[2022-07-21 14:33] Taarini commented on #685
Try giving pip install "pyats[full]" == 22.6

[2022-07-21 17:58] dirkf98 commented on #685
Hello,

with Python 3.9 everything is working, and I was able to install pyats and genie in version 22.6.

Thank you for your quick help

Dirk

Von: Taarini ***@***.***>
Gesendet: Donnerstag, 21. Juli 2022 16:33
An: CiscoTestAutomation/genieparser ***@***.***>
Cc: Feldhaus, Dirk, NMD-I1.5 ***@***.***>; Author ***@***.***>
Betreff: Re: [CiscoTestAutomation/genieparser] Problem with installing versi

[2022-07-22 15:45] Taarini commented on #685
Thanks for your update. Hence closing this issue.

[2022-07-22 15:45] #685 closed

[2022-07-22 20:58] sjpatel21 commented on #682
Hi Alex.
The normal exception for a parser missing for a device is `ParserNotFound`.
I also confirm that most of the parsers do indeed support empty parser output,a nd will just return an empty python dictionary in that case.
While the exception `SchemaEmptyParserError ` that you are getting seems due to the device not correctly responding to the command sent to it.

Hope this helps and clarifies

[2022-07-29 13:49] #682 closed

[2022-07-29 17:33] Alexpf20210007 commented on #682
I thought I had responded to this thread. I was going to suggest that if the command does not exist, can you skip to the next device?

[2022-07-29 22:37] Ehsan-Ghazizadeh opened #688 "parsing takes too long when initial config commands are disabled in device.connect() method"
Hi

when I disable initial config commands like this:
device.connect(init_exec_commands=[], init_config_commands=[], log_stdout=False)
then parse command like below takes like 3 times more time to return result:
interface_stats = device.parse("show interfaces")
platform is ASR9901 with ios xr, version 7.1.3.
but when I remove that init_exec_commands and init_config_commands from connect method it

[2022-08-08 15:09] ademz commented on #688
Hello @Ehsan-Ghazizadeh

Thank you for bringing this case.

I'm just wondering about your use case why do you need to  pass `init_exec_commands` and `init_config_commands` as an empty list.  These parameters are also default `None`.

Do you have any log files and `testbed.yaml` for sharing with us?

Thanks,
Adem Oztas